html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/sss-new/coach.js' async)
    script(src='/static/scripts/mockups/pids-utils.js') 
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/sss-new/coach.css')
    link(rel='stylesheet' href='/static/css/mockups/16-9-pids-base.css')
      
    link(rel='preload' as='style' href='/static/css/mockups/16-9-pids-base.css')
    link(rel='preload' as='style' href='/static/css/mockups/base-style.css')
    link(rel='preload' as='image' href='/static/images/mockups/announcements.svg')
  body.rotated
    div(style='display: none;').fullMessage
      img(src='/static/images/mockups/announcements.svg')
      p Please Listen for Announcements
    div.content
      div.top
        div.topLineBanner
        div.clock
          span --:--
      div.heading
        p.title Regional Coach Departures
        p.bays Coach Bays #{bays.slice(0, -1).join(', ')} &amp; #{bays.slice(-1)}
      div.departures
        for i in bays
          div(data-bay=`Bay ${i}`).departureData
            p.title Bay #{i} - No Departures
            p.stopsAt
            p.information
