extends ../layout

block head
  title TransportVic - Stops Nearby
  
block title
  span Stops Nearby

block scripts
  script(src='/static/scripts/nearby.js')

block style
  link(rel='stylesheet' href='/static/css/search.css')
