[submodule "transportvic-data"]
	path = transportvic-data
	url = https://github.com/TransportVic/TransportVic-Data/
[submodule "vic-pid"]
	path = vic-pid
	url = https://github.com/TransportVic/vic-pid/
