@font-face {
  font-family: Nunito;
  font-display: fallback;
  src: local('Nunito Regular'), local('Nunito'), url(/static/fonts/Nunito.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Nunito;
  overflow: hidden;
}
