html {
   transform: scale(0.66667);
   transform-origin: top left;
   overflow: hidden;
}

:root {
  --width: 1920px;
}

div.topRow {
  width: var(--width);
  height: 90px;
  font-size: 50px;

  background-color: #393939;
  color: #f1f1f1;

  display: flex;
  align-items: center;
}

div.topRow div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

div.topRow span.motd {
  font-size: 20px;
  margin-top: -6px;
}

div.topRow span.time {
  margin-left: auto;
  margin-right: 20px;
}
/* 961 */
div.headers {
  width: 1920px;
  height: 60px; /*-20*/
  font-size: 40px;

  background-color: #1b1b1b;
  color: #f1f1f1;

  display: flex;
  align-items: center;
}

div.header {
  width: calc(var(--width) / 3);
  height: 60px;

  display: flex;
  align-items: center;
}

div.header span:nth-child(1) {
  margin-left: 20px;
}

div.header span:nth-child(2) {
  margin-left: auto;
  margin-right: 20px;
}

div.departureColumns {
  width: var(--width);
  display: flex;
}

div.departureColumn {
  width: calc(var(--width) / 3);
  height: 810px;
  background-color: #3d3d3b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.departureColumn:nth-child(even) {
  background-color: #2b2b2b;
}

div.departureRow {
  width: calc(var(--width) / 3 - 30px);
  height: calc((810px - 10px) / 9 - 10px);
  margin-top: 10px;

  display: flex;
  color: #f1f1f1;
}

div.routeNumber {
  width: 120px;
  height: calc((810px - 10px) / 9 - 10px);
  font-size: 60px;

  background-color: #d7832c;
  color: #f9f9f9;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.routeNumber > span {
  margin-left: 4px;
  margin-top: 3px;
}

div.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(var(--width) / 3 - 30px - 120px - 100px);

  background-color: #494949;
}

div.destination > span {
  margin-left: 12px;
}

div.destination > span:nth-child(1) {
  font-size: 20px;
}

div.destination > span:nth-child(2) {
  font-size: 40px;
  margin-top: -6px;
}

div.departureMinutes {
  width: 100px;
  height: calc((810px - 10px) / 9 - 10px);

  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.departureMinutes > span:nth-child(1) {
  font-size: 47px;
  letter-spacing: -2px;
}

div.departureMinutes > span:nth-child(2) {
  margin-left: 3px;
  font-size: 20px;
  white-space: nowrap;
  margin-top: -10px;
}

div.cannot-make {
  background-color: #9f1d2a;
  color: #f1f1f1 !important;
}

div.run-fast {
  background-color: #c8a70f;
  color: #ffffff !important;
}

div.walk {
  background-color: #55a226;
}

div.unknown {
  background-color: #8f8f8f;
}

div.sub-heading {
  width: calc(var(--width) / 3);
  height: calc((810px - 10px) / 9 - 10px);
  font-size: 38px;
  margin-top: 10px;

  background-color: #2e2e2e;
  color: #f1f1f1;

  display: flex;
  align-items: center;
  justify-content: center;

}

div.routeNumber.dandenong-group {
  background-color: #56b7d6;
}

div.routeNumber.vline {
  background-color: #6b4d9e;
}

div.routeNumber.dandenong-group, div.routeNumber.vline {
  display: flex;
  flex-direction: column;
}

div.routeNumber.dandenong-group > span:nth-child(1), div.routeNumber.vline > span:nth-child(1) {
  margin-left: 0px;
  font-size: 20px;
}

div.routeNumber.dandenong-group > span:nth-child(2), div.routeNumber.vline > span:nth-child(2) {
  font-size: 55px;
  line-height: 58px;
  margin-top: -5px;
}

div.departureRow.colour-guide {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.departureRow.colour-guide > div {
  width: 100%;
  height: 50%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  float: left;

  display: flex;
  flex-direction: row;
}

div.departureRow.colour-guide > div > div {
  width: 50%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

div.departureRow.colour-guide > div > div > span {
  margin-left: 5px;
  color: #000000;
}

div.departureRow.colour-guide > div > div.cannot-make > span {
  color: #f1f1f1 !important;
}
