body {
  --width: 100vw;

  --departurePadding: calc(var(--width) * 0.015625);
  --departureMargin: calc(var(--width) * 0.005208);
  --routeNumberWidth: calc(var(--width) * 0.0625);
  --departureTimeWidth: calc(var(--width) * 0.05208);
  --departureHeight: calc(var(--width) * 0.421875);
}

@media (min-aspect-ratio: 2/1) {
  body {
    --width: 200vh;
  }
}

div.topRow {
  width: var(--width);
  height: calc(var(--width) * 0.0468);
  font-size: calc(var(--width) * 0.0260);

  background-color: #393939;
  color: #f1f1f1;

  display: flex;
  align-items: center;
}

div.topRow div {
  margin-left: calc(var(--width) * 0.01041);
  display: flex;
  flex-direction: column;
}

div.topRow span.motd {
  font-size: calc(var(--width) * 0.01041);
  margin-top: calc(var(--width) * -0.003125);
}

div.topRow span.time {
  margin-left: auto;
  margin-right: calc(var(--width) * 0.01041);
}

div.headers {
  width: var(--width);
  height: calc(var(--width) * 0.03125);
  font-size: calc(var(--width) * 0.0208333);

  background-color: #1b1b1b;
  color: #f1f1f1;

  display: flex;
  align-items: center;
}

div.header {
  width: calc(var(--width) / 3);
  height: calc(var(--width) * 0.03125);

  display: flex;
  align-items: center;
}

div.header span:nth-child(1) {
  margin-left: calc(var(--width) * 0.01041);
}

div.header span:nth-child(2) {
  margin-left: auto;
  margin-right: calc(var(--width) * 0.01041);
}

div.departureColumns {
  width: var(--width);
  display: flex;
}

div.departureColumn {
  width: calc(var(--width) / 3);
  height: var(--departureHeight);
  background-color: #3d3d3b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.departureColumn:nth-child(even) {
  background-color: #2b2b2b;
}

div.departureRow {
  width: calc(var(--width) / 3 - var(--departurePadding));
  height: calc((var(--departureHeight) - var(--departureMargin)) / 9 - var(--departureMargin));
  margin-top: var(--departureMargin);

  display: flex;
  color: #f1f1f1;
}

div.routeNumber {
  width: var(--routeNumberWidth);
  height: calc((var(--departureHeight) - var(--departureMargin)) / 9 - var(--departureMargin));
  font-size: calc(var(--width) * 0.03125);

  background-color: #d7832c;
  color: #f9f9f9;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.routeNumber > span {
  margin-left: calc(var(--width) * 0.002083);
  margin-top: calc(var(--width) * 0.001562);
}

div.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(var(--width) / 3 - var(--departurePadding) - var(--routeNumberWidth) - var(--departureTimeWidth));

  background-color: #494949;
}

div.destination > span {
  margin-left: calc(var(--width) * 0.00625);
}

div.destination > span:nth-child(1) {
  font-size: calc(var(--width) * 0.01041);
}

div.destination > span:nth-child(2) {
  font-size: calc(var(--width) * 0.0208333);
  margin-top: calc(var(--width) * -0.003125);
}

div.departureMinutes {
  width: var(--departureTimeWidth);
  height: calc((var(--departureHeight) - var(--departureMargin)) / 9 - var(--departureMargin));

  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.departureMinutes > span:nth-child(1) {
  font-size: calc(var(--width) * 0.024479);
  letter-spacing: calc(var(--width) * -0.0010416);
}

div.departureMinutes > span:nth-child(2) {
  margin-left: calc(var(--width) * 0.001562);
  font-size: calc(var(--width) * 0.01041);
  white-space: nowrap;
  margin-top: calc(var(--width) * -0.005208);
}

div.cannot-make {
  background-color: #9f1d2a;
  color: #f1f1f1 !important;
}

div.run-fast {
  background-color: #c8a70f;
  color: #ffffff !important;
}

div.walk {
  background-color: #55a226;
}

div.unknown {
  background-color: #8f8f8f;
}

div.sub-heading {
  width: calc(var(--width) / 3);
  height: calc((var(--departureHeight) - var(--departureMargin)) / 9 - var(--departureMargin));
  font-size: calc(var(--width) * 0.0197916);
  margin-top: var(--departureMargin);

  background-color: #2e2e2e;
  color: #f1f1f1;

  display: flex;
  align-items: center;
  justify-content: center;

}

div.routeNumber.dandenong-group {
  background-color: #56b7d6;
}

div.routeNumber.vline {
  background-color: #6b4d9e;
}

div.routeNumber.dandenong-group, div.routeNumber.vline {
  display: flex;
  flex-direction: column;
}

div.routeNumber.dandenong-group > span:nth-child(1), div.routeNumber.vline > span:nth-child(1) {
  margin-left: 0;
  font-size: calc(var(--width) * 0.01041);
}

div.routeNumber.dandenong-group > span:nth-child(2), div.routeNumber.vline > span:nth-child(2) {
  font-size: calc(var(--width) * 0.0286);
  line-height: calc(var(--width) * 0.030208);
  margin-top: calc(var(--width) * -0.002604);
}

div.departureRow.colour-guide {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.departureRow.colour-guide > div {
  width: 100%;
  height: 50%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  float: left;

  display: flex;
  flex-direction: row;
}

div.departureRow.colour-guide > div > div {
  width: 50%;
  height: 100%;
  font-size: calc(var(--width) * 0.01041);
  display: flex;
  align-items: center;
}

div.departureRow.colour-guide > div > div > span {
  margin-left: calc(var(--width) * 0.002604);
  color: #000000;
}

div.departureRow.colour-guide > div > div.cannot-make > span {
  color: #f1f1f1 !important;
}
