extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/V/Line'
    description = 'TransportVic V/Line Tracker'
  title #{title}
  link(rel='preload' as='style' href='/static/css/tracker/bus-results.css')
  
block title
  span V/Line Tracker
  
block style
  link(rel='stylesheet' href='/static/css/form.css')

block content
  h1#title V/Line Tracker
  h2 Track Your Train:
  br
  form(action='/vline/tracker/date' method='get')#byDate
    label(for="ate") On Date:
    br
    div.inputSection
      input(type="text" maxlength="8" name="date" value="" placeholder="Date" autocomplete="off")
      input(type="submit" value="Go")
  form(action='/vline/tracker/line' method='get')#byLine
    label(for="line") By Line:
    br
    div.inputSection
      div.selectorContainer
      input(type="text" name="line" value="" placeholder="Line Group" autocomplete="off")
      input(type="submit" value="Go")
  form(action='/vline/tracker/consist' method='get')#byConsist
    label(for="consist") By Consist:
    br
    div
      input(type="text" maxlength="8" name="consist" value="" placeholder="Carriage / Loco Number" autocomplete="off")
      br
      div.inputSection
        input(type="text" maxlength="8" name="date" value="" placeholder="Date" autocomplete="off")
        input(type="submit" value="Go")
