html, body {
  margin: 0;
  padding: 0;

  font-family: "MS San Serif", "Microsoft Sans Serif", "Helvetica", "Arial", serif;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

div.content {
  background-color: #000000 !important;

  display: flex;
  flex-direction: row !important;
}

* {
  color: #ffffff !important;
}

div.platformContainer {
  width: calc(var(--width) * 0.5);
  height: var(--height);
  box-sizing: border-box;
}

div.leftPlatform {
  border-right: solid calc(var(--width) * 0.002) #ffffff;
}

div.rightPlatform {
  border-left: solid calc(var(--width) * 0.002) #ffffff;
}

div.clock {
  position: absolute;
  border: solid calc(var(--width) * 0.002) #ffffff;
  box-sizing: border-box;

  width: calc(var(--width) * 0.175);
  height: calc(var(--height) * 0.125);
  top: 0;

  background-color: #505050;
  font-size: calc(var(--height) * 0.08);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-aspect-ratio: 16/9) {
  div.clock {
    top: calc(50vh - var(--height) / 2);
  }
}

div.clock span {
  transform: scaleX(0.9) scaleY(1.5);
}

div.topRow {
  height: calc(var(--height) * 0.125);
  display: flex;
  align-items: center;
  font-size: calc(var(--height) * 0.1);
}

div.topRow span {
  transform: scaleX(0.7);
  white-space: nowrap;
}

div.leftPlatform div.topRow {
  justify-content: flex-start;
  margin-left: calc(var(--width) * 0.01);
}

div.rightPlatform div.topRow {
  justify-content: flex-end;
  margin-right: calc(var(--width) * 0.01);
}

div.leftPlatform div.topRow span {
  transform-origin: left;
}

div.rightPlatform div.topRow span {
  transform-origin: right;
}

div.departureData {
  margin-top: calc(var(--height) * 0.02);
}

div.rightPlatform div.departureData {
  transform-origin: right;
}

div.rightPlatform div.departureData > * {
  text-align: left;
}

div.departureData > div {
  display: inline-flex;
  flex-direction: column;
  transform: scaleX(0.85);
  transform-origin: left;
}

div.departureData > div > span:nth-child(1) {
  font-size: calc(var(--height) * 0.04);
  height: calc(var(--height) * 0.04);
}

div.departureData > div > :nth-child(2) {
  font-size: calc(var(--height) * 0.1);
  height: calc(var(--height) * 0.115);
  margin-top: calc(var(--height) * 0.01);
}

div.scheduled {
  margin-left: calc(var(--width) * 0.015);
  width: calc(var(--width) * 0.2);
}

div.actual {
  width: calc(var(--width) * 0.14);
}

div.actual > div > span:nth-child(1) {
  display: inline-block;
  margin-right: calc(var(--width) * 0.015);
}

div.actual > div > span:nth-child(2) {
  font-size: calc(var(--height) * 0.05);
}

div.platform {
  width: calc(var(--width) * 0.12);
  text-align: right !important;
}

div.platform span:nth-child(2) {
  transform: scaleX(0.8);
  transform-origin: right;
}

div.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(var(--height) * 0.69);
}

div.bottom > div.message p {
  margin-left: calc(var(--width) * 0.005);
  font-size: calc(var(--height) * 0.042);
  height: calc(var(--height) * 0.042);
  transform: scaleX(0.8);
  transform-origin: left;
  white-space: nowrap;
}

div.nextServices {
  display: flex;
  flex-direction: column;
}

div.nextServices > div {
  display: flex;
  flex-direction: row;
  font-size: calc(var(--height) * 0.04);
  height: calc(var(--height) * 0.0596);
  align-items: center;
}

div.nextServices > div span, div.nextServices > div p {
  transform: scaleX(0.825);
  transform-origin: left;
}

div.header {
  height: calc(var(--height) * 0.05) !important;
}

div.header.regional {
  background-color: #FF0000;
}

div.header.metro {
  background-color: #0000FF;
}

div.header > span:nth-child(1) {
  margin-bottom: auto;
  margin-left: calc(var(--width) * 0.003);
}

div.header div.right {
  margin-left: auto;
  font-size: calc(var(--height) * 0.025);
  height: calc(var(--height) * 0.05);
  display: flex;
  align-items: flex-end;
}

div.header div.right span {
  margin-bottom: calc(var(--height) * 0.005);
}

div.header div.right span.platform {
  margin-right: calc(var(--width) * 0.007);
}

div.serviceRow {
  border-bottom: solid calc(var(--height) * 0.003) #ffffff;
  box-sizing: border-box;
}

div.serviceRow span.scheduledDepartureTime {
  display: inline-block;
  min-width: calc(var(--width) * 0.06);
  margin-left: calc(var(--width) * 0.003);
}

div.serviceRow span.destination {
  display: inline-block;
  width: calc(var(--width) * 0.18);
  white-space: nowrap;
}

div.serviceRow div.message {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: calc(var(--width) * 0.02);
  min-width: calc(var(--width) * 0.15);
  max-width: calc(var(--width) * 0.15);
  height: calc(var(--height) * 0.0596);
}

div.serviceRow div.message p {
  font-size: calc(var(--height) * 0.02);
  height: calc(var(--height) * 0.02);
  white-space: nowrap;
}

div.serviceRow div.message.small p {
  transform: scaleY(0.9) scaleX(0.9);
  height: calc(var(--height) * 0.017);
  white-space: nowrap;
}

div.serviceRow span.platform {
  display: inline-block;
  transform: scaleX(0.7);
  min-width: calc(var(--width) * 0.03);
  max-width: calc(var(--width) * 0.03);
}

div.serviceRow div.dueIn {
  min-width: calc(var(--width) * 0.065);
  max-width: calc(var(--width) * 0.065);
  transform: scaleX(0.8);
}

div.serviceRow div.dueIn > span:nth-child(1) {
  display: inline-block;
  text-align: right;
  min-width: calc(var(--width) * 0.04);
  max-width: calc(var(--width) * 0.04);
}

div.serviceRow div.dueIn > span:nth-child(2) {
  font-size: calc(var(--height) * 0.025);
}
