extends layout
    
block head
  title TransportVic - Bookmarks
  -
    title = 'TransportVic - Bookmarks'
    description = 'View your bookmarked stops here'

block title
  span Bookmarks

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/content-error.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/search.css`)

block content
  div#results
  
