extends layout
    
block head
  title TransportVic - Bookmarks

  meta(property='og:title' content='TransportVic - Bookmarks')
  meta(property='twitter:title' content='TransportVic - Bookmarks')
  meta(property='og:description' content='View your bookmarked stops here')
  meta(property='twitter:description' content='View your bookmarked stops here')
  
block title
  span Bookmarks

block scripts
  script(src='/static/scripts/bookmarks.js')
  
block style
  link(rel='stylesheet' href='/static/css/content-error.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')
  link(rel='stylesheet' href='/static/css/search.css')

block content
  div#results
  
