extends layout
    
block head
  title TransportVic
  
block title
  span TransportVic

block scripts
  script.
    if ($.isPWA()) location.href = '/nearby'
  
block style

block content
  a(href='/search') Search
