extends layout
    
block head
  title TransportVic
  
  meta(property='og:title' content='TransportVic')
  meta(property='twitter:title' content='TransportVic')
  meta(property='og:description' content='A transport app for Victoria')
  meta(property='twitter:description' content='A transport app for Victoria')
  meta(name='description' content='A transport app for Victoria')
    
  
block title
  span TransportVic

block scripts
  
block style
  link(rel='stylesheet' href='/static/css/index.css')

block content
  div.wrap
    a(href='/bookmarks').feature
      img(src='/static/images/home/smartbus.svg' alt='Bookmarks')
      span Bookmarks
    a(href='/search').feature
      img(src='/static/images/home/search.svg' alt='Search')
      span Search
    a(href='/nearby').feature
      img(src='/static/images/home/nearby.svg' alt='Nearby PT Stops')
      span Nearby PT Stops
    a(href='/links').feature
      img(src='/static/images/home/about.svg' alt='Links')
      span Links

  a(href='/covid-19').popup
    img(src='/static/images/home/rainbow.svg')
    span COVID-19: State of Distaster declared in Victoria
    
  //- a(href='https://www.patreon.com/transportsg').popup
  //-   img(src='/static/images/home/rainbow.svg')
  //-   span Hi! If you like this site please consider supporting me on patreon by clicking here!
