doctype html
html(lang='en-GB')
  head
    meta(charset='UTF-8')
      
    link(rel='preload' href='/static/css/base-style.css' as='style')
    link(rel='stylesheet' href='/static/css/base-style.css')
    script(src='/static/scripts/util.js')
    
        
    meta(property='og:description' content='A transport app for Victoria')
    meta(property='og:locale' content='en-GB')
    meta(property='og:site_name' content='TransportVic')
    meta(property='og:title' content='TransportVic')
    meta(property='og:type' content='website')
    meta(property='og:image' content='https://vic.transportsg.me/static/images/favicon/favicon512.png')
    meta(property='og:url' content='https://vic.transportsg.me')
    meta(property='twitter:card' content='summary')
    meta(property='twitter:url' content='https://vic.transportsg.me')
    meta(property='twitter:title' content='TransportVic')
    meta(property='twitter:description' content='A transport app for Victoria')
    meta(property='twitter:image' content='https://vic.transportsg.me/static/images/favicon/favicon512.png')
      
    meta(name='description' content='A transport app for Victoria')
    meta(name='keywords' content='tram,vline,train,next 5,public transport,bus,metro,transport,victora')
    meta(name='author' content='Unikitty Pte. Ltd.')
    meta(name='application-name' content='TransportVic')
    meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, height=device-height')
    meta(name='google' content='notranslate')
    meta(name='theme-color' content='#171717')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
      
    link(rel='icon' type='image/png' href='/static/images/favicon/favicon192.png')
    link(rel='shortcut icon' type='image/png' href='/static/images/favicon/favicon512.png')
    link(rel='apple-touch-icon' type='image/png' href='/static/images/favicon/favicon512.png')
      
    link(rel='manifest' href='/static/app-content/manifest.json')
    block head
  body
    div#header
      block title
      div#header-right
        block header-right
        a#home-button(href='/') Home
    div#content
      block content
        
    block style
    
    block scripts
    script(src='/static/scripts/sw-load.js')
