html
  head
    script(src='/static/scripts/util.js')
    link(rel='stylesheet' href='/static/css/base-style.css')
    
    block head
  body
    div#header
      block title
      div#header-right
        block header-right
        a#home-button(href='/') Home
    div#content
      block content
        
    block style
    
    block scripts
