extends layout
    
block head
  title TransportVic - LXRA Tracker Map
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    
block title
  span LXRA Tracker Map

block scripts
  script(src='/static/scripts/lxra-map.js')
  
block style
  link(rel='stylesheet' href='/static/css/metro-map.css')
    
block content
  div#map(style='height: calc(100vh - (4vw + 4vh))')
