extends layout
    
block head
  title TransportVic - Maps
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  script(src=`${staticBase}/static/scripts/vendor/leaflet-1.6.0.js`)
  
block title
  span Maps

block scripts
  script(src=`${staticBase}/static/scripts/maps.js`)
  
block content
  div#map(style='height: calc(100vh - (4vw + 4vh))')
