extends layout
    
block head
  title TransportVic - Route Preview
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
  style.
    .stopIcon {
      --size: calc(3vw + 3vh);
      width: var(--size);
      height: var(--size);
      background-color: white;
      border: calc(0.3vw + 0.3vh) solid;
      border-radius: var(--size);
    }
    
block style
  link(rel='stylesheet' href='/static/css/constant-colours.css')

block title
  span Route Preview

block scripts
  script(src='/static/scripts/route-preview.js')
  
block content
  div#map(style='height: calc(100vh - (4vw + 4vh))')
