extends layout
    
block head
  title TransportVic - Route Paths
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  script(src=`${staticBase}/static/scripts/vendor/leaflet-1.6.0.js`)
  script(src=`${staticBase}/static/scripts/vendor/geojson-polyline.min.js`)
    
block title
  span Route Paths

block scripts
  script(src=`${staticBase}/static/scripts/route-paths.js`)
  
block content
  div#map(style='height: calc(100vh - (4vw + 4vh))')
