doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(lang='en-GB')
  head
    style.
      body {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh;
        text-align: center;
      }
      html, body { margin: 0; padding: 0; }
  body
    div.container
      div
        img(src="/static/seized/gov.jpg" height="150px")
        br
        br
        //- auslab xd 
        h1 THIS HIDDEN SITE HAS BEEN SEIZED
        h3 By the State Government of Victoria, Department of Transport Victoria,
          br
          | In Conjunction with Metro Trains Melbourne, V/Line Victoria, Yarra Trams
          br
          | in accordance with a seizure warrant obtained by the
          br
          | Supreme Court of Victoria and the Australian Security Intelligence Organisation
        img(src="/static/seized/dot.jpg" height="100px")
