extends layout
    
block head
  title TransportVic - Stop Preview
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  script(src=`${staticBase}/static/scripts/vendor/leaflet-1.6.0.js`)
  style.
    .stopIcon {
      --size: calc(3vw + 3vh);
      width: var(--size);
      height: var(--size);
      background-color: white;
      border: calc(0.3vw + 0.3vh) solid;
      border-radius: var(--size);
    }

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/constant-colours.css`)

block title
  span Stop Preview

block scripts
  script(src=`${staticBase}/static/scripts/stop-preview.js`)
  
block content
  div#map(style='height: calc(100vh - (4vw + 4vh))')
