extends layout
    
block head
  title TransportVic - Sprinter Test
  
  -
    title = 'Sprinter Test'
    description = 'Attempt to detect which sprinter is doing Stony Point today'
  
block title
  span TransportVic - Sprinter Test

block scripts
  
block style
  link(rel='stylesheet' href='/static/css/about.css')

block content
  h1 Sprinter Test
  if sprinters
    h2 Located: #{sprinters.join(', ')}
  else
    
    h2 Could not determine sprinters
    h2 Missing from the network are: #{missing.join(', ')}
