extends layout

block postStyle
  link(rel='stylesheet' href=`${staticBase}/static/css/textbar-style.css`)

block content
  div#textbar-container
    input#textbar(placeholder=placeholder autocorrect="off")
