extends ../layout

block head
  title TransportVic - Transit Visualiser
  
block scripts
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js')
  script(src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone-with-data-10-year-range.min.js')
  script(src='/static/scripts/transit-visualiser.js')
  
block style
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet')
  link(href='/static/css/transit-visualiser.css' rel='stylesheet')
  
block title
  span Transit Visualiser
  
block content
  div#map
