html
  head
    script(src='/static/scripts/util.js')
    
    script(src='/static/scripts/mockups/metro-pride.js' async) 
    //- link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    //- link(rel='stylesheet' href='/static/css/mockups/metro-led-pids/metro-led-pids.css')
      
    style#led-style
  body
    div.content
      button#button press 
