html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/reload-fss-escalator.js' async)
    script(src='/static/scripts/mockups/pids-utils.js') 
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/actual-line-colours.css')
    link(rel='stylesheet' href='/static/css/mockups/fss-escalator.css')
      
    link(rel='preload' href='/static/images/mockups/announcements.svg' as='image')
    link(rel='preload' href='/static/fonts/NetworkSansRegular.svg' as='font')
    link(rel='preload' href='/static/fonts/NetworkSansMedium.svg' as='font')
    link(rel='preload' href='/static/fonts/NetworkSansBold.svg' as='font')
      
    link(rel='preload' as='image' href='/static/images/mockups/no-boarding-train.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-express.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-filler.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-halfstub.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-stops-at.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-stub.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-terminates.svg')
  body
    div.contents
      div.topLineBanner.no-line
      div(style='display: block;').messages
        div.firstDepartureTime
          div.platform.no-line
            span=platform
        div.textWrapper
          p Checking departures
          p Please wait...
      div(style='display: none;').firstDepartureInfo
        div.details
          span.scheduledDepartureTime --
          br
          span.destination --
          span.stoppingType --
        div.firstDepartureTime
          div.platform
            span=platform
          div.timeToDeparture
            span --
      div(style='display: block;').greyLine
      div(style='display: block;').stoppingAt.no-line
        div
          div
          div
      
      div.next3Departures    
        div.blackLine
        for departure in [1,2,3,4]
          div.smallDeparture
            div.left
              div(class='sideBar no-line')
              p --
            div.centre
              p --
            div.right
              div(class='platform no-line')
                p &nbsp;
              div.timeToDeparture
                p &nbsp;
          if departure !== 4
            div.greyLine
