* > .coloured-row:nth-child(even) {
  background-color: #2a2a2a;
}

* > .coloured-row:nth-child(odd) {
  background-color: #202020;
}

* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#routeSummary {
  display: flex;
  height: calc(6vw + 7vh);
}

#routeNumber {
  width: calc(9vw + 9vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f9f9f9;
}

#routeNumber > span {
  margin: calc(-0.2vw - 0.2vh);
}

#routeType, #routeDetail {
  font-size: calc(1vw + 1vh);
  text-align: center;
}

#routeText {
  font-size: calc(3vw + 3vh);
}

#terminals > a {
  height: calc(3vw + 3.5vh);
  display: flex;
  align-items: center;
  font-size: calc(1.3vw + 1.7vh);
  width: calc(100vw - 9vw - 9vh);
}

#terminals > a.full {
  height: calc(6vw + 7vh);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#terminals > a.full > span.header {
  font-size: calc(1vh + 0.9vw);
  color: #8f8f8f;
}

#terminals > a.full > span.destination {
  font-size: calc(1.7vw + 1.7vh);
  line-height: calc(1.7vw + 1.7vh);
}

#terminals > a > span {
  margin-left: calc(0.5vw + 1.2vh);
}

.table-header {
  background-color: #171717;
}

.table-data {
  height: calc(3.3vw + 3.3vh);
  display: flex;
  align-items: center;
  font-size: calc(1.3vw + 1.3vh);
  justify-content: center;
}

.table-data > * {
  text-align: center;
  width: 30vw;
}

.table-data.spacing3 > * {
  width: 23%;
  font-size: calc(1.2vw + 1.2vh);
}

.spacing3 > :nth-child(1) {
  width: 31%;
}

.freqTime {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.freqTime > span.time {
  font-size: calc(1.2vw + 1.2vh);
}

.freqTime > span.desc {
  font-size: calc(0.8vw + 0.9vh);
  /* margin-top: calc(-0.4vh - 0.3vw); */
}

#keyTimings > div.coloured-row:nth-child(5) {
  display: none;
}

@media (min-width: 700px) {
  #serviceTimings {
    display: flex;
    flex-direction: row;
  }

  .table-data > * {
    width: 15vw;
  }

  .table-data {
    width: 50vw;
  }

  .table-header {
    font-size: calc(1vw + 1.2vh);
  }

  #keyTimings .coloured-row.table-data {
    height: calc(6.6vw + 6.6vh);
  }

  #keyTimings > div.coloured-row {
    font-size: calc(1.5vw + 1.2vh);
  }

}

.table-data.spacing2 {
  width: 100vw;
  font-size: calc(1.2vh + 1.2vw);

  display: flex;
  justify-content: flex-start;
}

.spacing2 > span.suburb {
  width: calc(15vw + 15vh);
}

.spacing2 > .stopName {
  width: calc(100vw - (15vw + 15vh) - 1vw);
}

.stopNameData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
}

.stopNameData > :nth-child(1) {
  color: #8f8f8f;
  font-size: calc(1vh + 0.7vw);
}

.stopNameData > :nth-child(2) {
  width: calc(100vw - (15vw + 15vh) - 1vw);
  font-size: calc(1.1vh + 1.1vw);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
