extends ../layout

block head
  title TransportVic - TourBusMinder
  
block title
  span TourBusMinder
  
block content
  a(href='/tbm/server') view buses
  form(action='/tbm/client' method='get')
    label bus rego
    input(name='rego')
    br
    label trip name
    input(name='tripName')
    br
    input(type='submit' value='go')
