@font-face {
  font-family: Default-Font;
  font-display: fallback;
  src: local('Roboto Slab'), local('RobotoSlab'), url(/static/fonts/Nunito.ttf);
}

html, body {
  margin: 0;
  padding: 0;

  font-family: Default-Font;
  letter-spacing: calc(-0.025vw - 0.025vh);

  color: #c5c5c5;
  background-color: #1e1e1e;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  overflow-x: hidden;
}

div.errorPage {
  height: calc(96vh - 4vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.errorPage h2 {
  font-size: calc(3vw + 4vh);
  padding-left: calc(0.5vw + 0.5vh);
  padding-right: calc(0.5vw + 0.5vh);
  margin: 0;
}

div.errorPage a {
  text-decoration: underline;
}

div.errorPage a, div.errorPage span {
  font-size: calc(2vw + 2vh);
  line-height: calc(1vw + 1vh);
}

div.errorPage img {
  width: calc(20vw + 30vh);
  padding: calc(1vw + 1vh);
}

a, a:visited {
  text-decoration: none;
  color: #c5c5c5;
}

div#header {
  background-color: #171717;
  height: calc(4vw + 4vh);
  width: 100vw;

  display: flex;
  align-items: center;
  font-size: calc(1.5vw + 1.5vh);
}

div#header > span {
  font-size: calc((100vw + 100vh) * 0.013);
  margin: calc(1vw + 1vh);
}

div#header-right {
  margin-left: auto;
  margin-right: calc(1vw + 1vh);

  display: flex;
  flex-direction: row;
  align-items: center;
}

#content {
  overflow-y: hidden;
}
