.metro-trains-melbourne {
  background-color: #0570c3 !important;
}

:nth-child(even) > .metro-trains-melbourne {
  background-color: #0a62a6 !important;
}

.yarra-trams {
  background-color: #7bc916 !important;
}

:nth-child(even) > .yarra-trams {
  background-color: #72b31d !important;
}



.glen-waverley-line {
  background-color: #1c1e97 !important;
}

:nth-child(even) > .glen-waverley-line {
  background-color: #151670 !important;
}

.alamein-line {
  background-color: #1c1e97 !important;
}

:nth-child(even) > .alamein-line {
  background-color: #151670 !important;
}

.belgrave-line {
  background-color: #1c1e97 !important;
}

:nth-child(even) > .belgrave-line {
  background-color: #151670 !important;
}

.lilydale-line {
  background-color: #1c1e97 !important;
}

:nth-child(even) > .lilydale-line {
  background-color: #151670 !important;
}

.mernda-line {
  background-color: #ef2c20 !important;
}

:nth-child(even) > .mernda-line {
  background-color: #c31e14 !important;
}

.hurstbridge-line {
  background-color: #ef2c20 !important;
}

:nth-child(even) > .hurstbridge-line {
  background-color: #c31e14 !important;
}

.upfield-line {
  background-color: #ffbe00 !important;
  --operator-text: #1E1E1E;
}

:nth-child(even) > .upfield-line {
  background-color: #e9ae00 !important;
}

.craigieburn-line {
  background-color: #ffbe00 !important;
  --operator-text: #1E1E1E;
}

:nth-child(even) > .craigieburn-line {
  background-color: #e9ae00 !important;
}


.sunbury-line {
  background-color: #279FD5 !important;
  --operator-text: #1E1E1E;
}

:nth-child(even) > .sunbury-line {
  background-color: #2491c4 !important;
}

.leftContainer.upfield-line img, .leftContainer.craigieburn-line img, .leftContainer.sunbury-line img {
  filter: brightness(8%);
}

.werribee-line {
  background-color: #F178AF !important;
  --operator-text: #1E1E1E;
}

:nth-child(even) > .werribee-line {
  background-color: #dc6b9e !important;
}

.williamstown-line {
  background-color: #F178AF !important;
  --operator-text: #1E1E1E;
}

:nth-child(even) > .williamstown-line {
  background-color: #dc6b9e !important;
}

.frankston-line {
  background-color: #219f18 !important;
}

:nth-child(even) > .frankston-line {
  background-color: #1b8013 !important;
}

.stony-point-line {
  background-color: #219f18 !important;
}

:nth-child(even) > .stony-point-line {
  background-color: #1b8013 !important;
}

.cranbourne-line {
  background-color: #279FD5 !important;
  --operator-text: #1E1E1E;
}

:nth-child(even) > .cranbourne-line {
  background-color: #2491c4 !important;
}

.pakenham-line {
  background-color: #279FD5 !important;
  --operator-text: #1E1E1E;
}

.leftContainer.cranbourne-line img, .leftContainer.pakenham-line img {
  filter: brightness(8%);
}


:nth-child(even) > .pakenham-line {
  background-color: #2491c4 !important;
}

.metro-tunnel-line, .metro-tunnel {
  background-color: #279FD5 !important;
  --operator-text: #1E1E1E;
}

:nth-child(even) > .metro-tunnel-line, :nth-child(even) > .metro-tunnel {
  background-color: #2491c4 !important;
}

.sandringham-line {
  background-color: #F178AF !important;
  --operator-text: #1E1E1E;
}

.leftContainer.sandringham-line img {
  filter: brightness(8%);
}

:nth-child(even) > .sandringham-line {
  background-color: #dc6b9e !important;
}

.flemington-racecourse-line {
  background-color: #ce0058 !important;
}

:nth-child(even) > .flemington-racecourse-line {
  background-color: #ba0352 !important;
}

.city-circle {
  background-color: #8f8f8f !important;
}

:nth-child(even) > .city-circle {
  background-color: #636363 !important;
}

.vline, .v-line {
  background-color: #6b4d9e !important;
}

:nth-child(even) > .vline, :nth-child(even) > .v-line {
  background-color: #523d77 !important;
}



.tram-1 {
    background-color: #6e811f !important;
}

:nth-child(even) > .tram-1 {
    background-color: #607216 !important;
}

.tram-3 {
    background-color: #0c8aa7 !important;
}

:nth-child(even) > .tram-3 {
    background-color: #0e7991 !important;
}

.tram-5 {
    background-color: #ff0100 !important;
}

:nth-child(even) > .tram-5 {
    background-color: #b80100 !important;
}

.tram-6 {
    background-color: #00486c !important;
}

:nth-child(even) > .tram-6 {
    background-color: #002233 !important;
}

.tram-11 {
    background-color: #46af8b !important;
}

:nth-child(even) > .tram-11 {
    background-color: #227b5b !important;
}

.tram-12 {
    background-color: #008d9d !important;
}

:nth-child(even) > .tram-12 {
    background-color: #00626d !important;
}

.tram-16 {
    background-color: #d3a306 !important;
}

:nth-child(even) > .tram-16 {
    background-color: #ae8600 !important;
}

.tram-19 {
    background-color: #953779 !important;
}

:nth-child(even) > .tram-19 {
    background-color: #5a2149 !important;
}

.tram-30 {
    background-color: #3e34a6 !important;
}

:nth-child(even) > .tram-30 {
    background-color: #231d5c !important;
}

.tram-35 {
    background-color: #763113 !important;
}

:nth-child(even) > .tram-35 {
    background-color: #3a1809 !important;
}

.tram-48 {
    background-color: #45474d !important;
}

:nth-child(even) > .tram-48 {
    background-color: #202124 !important;
}

.tram-57 {
    background-color: #01b2b5 !important;
}

:nth-child(even) > .tram-57 {
    background-color: #008083 !important;
}

.tram-58 {
    background-color: #878e94 !important;
}

:nth-child(even) > .tram-58 {
    background-color: #52575c !important;
}

.tram-59 {
    background-color: #138a5a !important;
}

:nth-child(even) > .tram-59 {
    background-color: #0c5739 !important;
}

.tram-64 {
    background-color: #00ab8e !important;
}

:nth-child(even) > .tram-64 {
    background-color: #019e84 !important;
}

.tram-67 {
    background-color: #874b38 !important;
}

:nth-child(even) > .tram-67 {
    background-color: #703c2c !important;
}

.tram-70 {
    background-color: #e560a5 !important;
}

:nth-child(even) > .tram-70 {
    background-color: #ea2a8d !important;
}

.tram-72 {
    background-color: #607c6d !important;
}

:nth-child(even) > .tram-72 {
    background-color: #5a7566 !important;
}

.tram-75 {
    background-color: #049fd3 !important;
}

:nth-child(even) > .tram-75 {
    background-color: #017399 !important;
}

.tram-78 {
    background-color: #8177c3 !important;
}

:nth-child(even) > .tram-78 {
    background-color: #51459e !important;
}

.tram-82 {
    background-color: #79a11c !important;
}

:nth-child(even) > .tram-82 {
    background-color: #6d9118 !important;
}

.tram-86 {
    background-color: #d89c04 !important;
}

:nth-child(even) > .tram-86 {
    background-color: #b88400 !important;
}

.tram-96 {
    background-color: #f20081 !important;
}

:nth-child(even) > .tram-96 {
    background-color: #a40058 !important;
}

.tram-109 {
    background-color: #ea6500 !important;
}

:nth-child(even) > .tram-109 {
    background-color: #a44700 !important;
}

.skybus {
    background-color: #ee3124 !important;
}

:nth-child(even) > .skybus {
    background-color: #bb291e !important;
}