.metro-trains-melbourne {
  background-color: #0570c3;
}

div.departure:nth-child(even) .metro-trains-melbourne {
  background-color: #0a62a6;
}

.yarra-trams {
  background-color: #7bc916;
  color: #f9f9f9 !important;
}

div.departure:nth-child(even) .yarra-trams {
  background-color: #72b31d;
  color: #f9f9f9 !important;
}

.cdc-melbourne, .cdc-geelong, .cdc-ballarat {
  background-color: #fc923d;
  color: #f9f9f9 !important;
}

div.departure:nth-child(even) .cdc-melbourne, div.departure:nth-child(even) .cdc-geelong, div.departure:nth-child(even) .cdc-ballarat {
  background-color: #fb7b13;
  color: #f9f9f9 !important;
}

.ventura-bus-lines {
  background-color: #14315b;
}

div.departure:nth-child(even) .ventura-bus-lines {
  background-color: #0c1d36;
}

.transdev-melbourne {
  background-color: #e30613;
}

div.departure:nth-child(even) .transdev-melbourne {
  background-color: #bc0510;
}

.dysons {
  background-color: #2eb130;
}

div.departure:nth-child(even) .dysons {
  background-color: #259027;
}

.panorama-coaches {
  background-color: #d00071;
}

div.departure:nth-child(even) .panorama-coaches {
  background-color: #930050;
}

.sita-bus-lines {
  background-color: #ae6e00;
}

div.departure:nth-child(even) .sita-bus-lines {
  background-color: #835300;
}

.kastoria-bus-lines {
  background-color: #205878;
}

div.departure:nth-child(even) .kastoria-bus-lines {
  background-color: #153b50;
}

.tullamarine-bus-lines {
  background-color: #720016;
}

div.departure:nth-child(even) .tullamarine-bus-lines {
  background-color: #4b000e;
}

.moonee-valley-bus-lines {
  background-color: #f93a3a;
}

div.departure:nth-child(even) .moonee-valley-bus-lines {
  background-color: #a41717;
}

.sunbury-bus-service {
  background-color: #cd0504;
}

div.departure:nth-child(even) .sunbury-bus-service {
  background-color: #9a0909;
}

.ryan-bros-bus-service {
  background-color: #1080a3;
}

div.departure:nth-child(even) .ryan-bros-bus-service {
  background-color: #0b5870;
}

.broadmeadows-bus-service {
  background-color: #305fb3;
}

div.departure:nth-child(even) .broadmeadows-bus-service {
  background-color: #1f3e74;
}

.moreland-bus-lines {
  background-color: #50866d;
}

div.departure:nth-child(even) .moreland-bus-lines {
  background-color: #325344;
}

.mckenzies-tourist-service {
  background-color: #274523;
}

div.departure:nth-child(even) .mckenzies-tourist-service {
  background-color: #192d17;
}

.martyrs-bus-service {
  background-color: #71afc7;
  color: #d7d7d7 !important;
}

div.departure:nth-child(even) .martyrs-bus-service {
  background-color: #438daa;
  color: #d7d7d7 !important;
}

.cranbourne-transit {
  background-color: #e5ba0d;
  color: #f9f9f9 !important;
}

div.departure:nth-child(even) .cranbourne-transit {
  background-color: #c4a011;
  color: #f9f9f9 !important;
}

.skybus {
  background-color: #e5392c;
}

div.departure:nth-child(even) .skybus {
  background-color: #a62d24;
}

.horsham-transit, .wimmera-roadways {
  background-color: #09633e;
}

div.departure:nth-child(even) .horsham-transit, div.departure:nth-child(even) .wimmera-roadways {
  background-color: #03452a;
}

.south-coast-bus {
  background-color: #f99d31;
  color: #e8e8e8 !important;
}

div.departure:nth-child(even) .south-coast-bus {
  background-color: #d2872f;
  color: #e8e8e8 !important;
}

.turnbulls {
  background-color: #f68b1f;
  color: #e8e8e8 !important;
}

div.departure:nth-child(even) .turnbulls {
  background-color: #de7814;
  color: #e8e8e8 !important;
}

.latrobe-valley-bus-lines {
  background-color: #b40e3a;
}

div.departure:nth-child(even) .latrobe-valley-bus-lines {
  background-color: #8c1131;
}

.hutchinson-bus-lines {
  background-color: #08426a;
}

div.departure:nth-child(even) .hutchinson-bus-lines {
  background-color: #003457;
}

.mitchell-transit {
  background-color: #2c4269;
}

div.departure:nth-child(even) .mitchell-transit {
  background-color: #192a49;
}

.mcharrys-bus-lines {
  background-color: #d50d0d;
  color: #d7d7d7 !important;
}

div.departure:nth-child(even) .mcharrys-bus-lines {
  background-color: #b51010;
  color: #d7d7d7 !important;
}

.little-s-gippsland-coaches {
  background-color: #272b69;
}

div.departure:nth-child(even) .little-s-gippsland-coaches {
  background-color: #181d55;
}

.christians-bus-company {
  background-color: #0559a6;
}

div.departure:nth-child(even) .christians-bus-company {
  background-color: #0a4a85;
}

.benalla-bus-lines {
  background-color: #31467f;
}

div.departure:nth-child(even) .benalla-bus-lines {
  background-color: #1d2e5e;
}

.heard-buses {
  background-color: #1d3988;
}

div.departure:nth-child(even) .heard-buses {
  background-color: #162c6d;
}

.westernport-roadlines {
  background-color: #00027f;
}

div.departure:nth-child(even) .westernport-roadlines {
  background-color: #070966;
}

.fallons-bus-service {
  background-color: #1f4d46;
}

div.departure:nth-child(even) .fallons-bus-service {
  background-color: #10332e;
}

.castlemaine-bus-lines, .whitmores-bus-lines, .maryborough-transit {
  background-color: #06345f;
}

div.departure:nth-child(even) .castlemaine-bus-lines, div.departure:nth-child(even) .whitmores-bus-lines, div.departure:nth-child(even) .maryborough-transit {
  background-color: #052747;
}

.sunraysia-bus-lines {
  background-color: #cd9e00;
  color: #e8e8e8 !important;
}

div.departure:nth-child(even) .sunraysia-bus-lines {
  background-color: #a78307;
  color: #e8e8e8 !important;
}

.echuca-moama-transit {
  background-color: #00a9e0;
  color: #d7d7d7 !important;
}

div.departure:nth-child(even) .echuca-moama-transit {
  background-color: #0997c6;
  color: #d7d7d7 !important;
}

.jacobsons-bus-lines {
  background-color: #003366;
}

div.departure:nth-child(even) .jacobsons-bus-lines {
  background-color: #032242;
}

.coles-coaches {
  background-color: #0c539b;
}

div.departure:nth-child(even) .coles-coaches {
  background-color: #0c4987;
}

.paynesville-bus-lines {
  background-color: #c31a08;
}

div.departure:nth-child(even) .paynesville-bus-lines {
  background-color: #a91708;
}

.sunshine-tours {
  background-color: #faa41a;
  color: #f9f9f9 !important;
}

div.departure:nth-child(even) .sunshine-tours {
  background-color: #e19216;
  color: #f9f9f9 !important;
}

.little-s-coaches {
  background-color: #711c2b;
}

div.departure:nth-child(even) .little-s-coaches {
  background-color: #5e1824;
}

.harley-s-buslines {
  background-color: #12377c;
}

div.departure:nth-child(even) .harley-s-buslines {
  background-color: #0f2c61;
}

.bacchus-marsh-coaches {
  background-color: #0e309f;
}

div.departure:nth-child(even) .bacchus-marsh-coaches {
  background-color: #0d2882;
}

.gold-bus {
  background-color: #cfb53b;
  color: #f9f9f9 !important;
}

div.departure:nth-child(even) .gold-bus {
  background-color: #b8a135;
  color: #f9f9f9 !important;
}

.sandlant-buses {
  background-color: #aaa07f;
  color: #f9f9f9 !important;
}

div.departure:nth-child(even) .sandlant-buses {
  background-color: #948b6b;
  color: #f9f9f9 !important;
}

.swan-hill-bus-lines {
  background-color: #2e2e8f;
}

div.departure:nth-child(even) .swan-hill-bus-lines {
  background-color: #232370;
}

.quambatook-lalbert-community-bus-committee {
  background-color: #67006b;
}

div.departure:nth-child(even) .quambatook-lalbert-community-bus-committee {
  background-color: #4b034e;
}

.warrnambool-bus-lines, .portland-bus-lines {
  background-color: #d51d2f;
}

div.departure:nth-child(even) .warrnambool-bus-lines, div.departure:nth-child(even) .portland-bus-lines {
  background-color: #bc1726;
}

.sovereign-hill {
  background-color: #1b2735;
}

div.departure:nth-child(even) .sovereign-hill {
  background-color: #141d27;
}

.kingstons-tours {
  background-color: #e80d0d;
}

div.departure:nth-child(even) .kingstons-tours {
  background-color: #c90f0f;
}

.shire-of-central-goldfields {
  background-color: #067e4a;
}

div.departure:nth-child(even) .shire-of-central-goldfields {
  background-color: #045f38;
}

.henty-highway-coach {
  background-color: #518ab7;
}

div.departure:nth-child(even) .henty-highway-coach {
  background-color: #4879a0;
}

.falls-creek-coach-service {
  background-color: #2c99cc;
}

div.departure:nth-child(even) .falls-creek-coach-service {
  background-color: #2885af;
}

.organ-s-coaches {
  background-color: #75d4b1;
  color: #f9f9f9 !important;
}

div.departure:nth-child(even) .organ-s-coaches {
  background-color: #5fb092;
  color: #f9f9f9 !important;
}

.trotters-coaches {
  background-color: #28ab0e;
}

div.departure:nth-child(even) .trotters-coaches {
  background-color: #23910d;
}

.cann-s-bus-lines {
  background-color: #047172;
}

div.departure:nth-child(even) .cann-s-bus-lines {
  background-color: #055758;
}

.warragul-bus-lines {
  background-color: #4263cd;
}

div.departure:nth-child(even) .warragul-bus-lines {
  background-color: #3856b7;
}





.glen-waverley-line {
  background-color: #1c1e97;
}

div.departure:nth-child(even) .glen-waverley-line {
  background-color: #151670;
}

.alamein-line {
  background-color: #1c1e97;
}

div.departure:nth-child(even) .alamein-line {
  background-color: #151670;
}

.belgrave-line {
  background-color: #1c1e97;
}

div.departure:nth-child(even) .belgrave-line {
  background-color: #151670;
}

.lilydale-line {
  background-color: #1c1e97;
}

div.departure:nth-child(even) .lilydale-line {
  background-color: #151670;
}

.mernda-line {
  background-color: #ef2c20;
}

div.departure:nth-child(even) .mernda-line {
  background-color: #c31e14;
}

.hurstbridge-line {
  background-color: #ef2c20;
}

div.departure:nth-child(even) .hurstbridge-line {
  background-color: #c31e14;
}

.upfield-line {
  background-color: #a2a500;
}

div.departure:nth-child(even) .upfield-line {
  background-color: #7d7f00;
}

.craigieburn-line {
  background-color: #a2a500;
}

div.departure:nth-child(even) .craigieburn-line {
  background-color: #7d7f00;
}

.sunbury-line {
  background-color: #a2a500;
}

div.departure:nth-child(even) .sunbury-line {
  background-color: #7d7f00;
}

.werribee-line {
  background-color: #219f18;
}

div.departure:nth-child(even) .werribee-line {
  background-color: #1b8013;
}

.williamstown-line {
  background-color: #219f18;
}

div.departure:nth-child(even) .williamstown-line {
  background-color: #1b8013;
}

.frankston-line {
  background-color: #219f18;
}

div.departure:nth-child(even) .frankston-line {
  background-color: #1b8013;
}

.stony-point-line {
  background-color: #219f18;
}

div.departure:nth-child(even) .stony-point-line {
  background-color: #1b8013;
}

.cranbourne-line {
  background-color: #56b7d6;
}

div.departure:nth-child(even) .cranbourne-line {
  background-color: #31a4c8;
}

.pakenham-line {
  background-color: #56b7d6;
}

div.departure:nth-child(even) .pakenham-line {
  background-color: #31a4c8;
}

.sandringham-line {
  background-color: #ee67e6;
}

div.departure:nth-child(even) .sandringham-line {
  background-color: #d639cc;
}

.showgrounds-flemington-racecourse-line {
  background-color: #ce0058;
}

div.departure:nth-child(even) .showgrounds-flemington-racecourse-line {
  background-color: #ba0352;
}

.city-loop-line {
  background-color: #8f8f8f;
}

div.departure:nth-child(even) .city-loop-line {
  background-color: #636363;
}

.vline, .v-line {
  background-color: #6b4d9e;
}

div.departure:nth-child(even) .vline, div.departure:nth-child(even) .v-line {
  background-color: #523d77;
}



.tram-1 {
    background-color: #6e811f;
    color: #e8e8e8 !important;
}

div.departure:nth-child(even) .tram-1 {
    background-color: #607216;
    color: #e8e8e8 !important;
}

.tram-3 {
    background-color: #0c8aa7;
    color: #e8e8e8 !important;
}

div.departure:nth-child(even) .tram-3 {
    background-color: #0e7991;
    color: #e8e8e8 !important;
}

.tram-5 {
    background-color: #ff0100;
    color: #d7d7d7 !important;
}

div.departure:nth-child(even) .tram-5 {
    background-color: #b80100;
    color: #d7d7d7 !important;
}

.tram-6 {
    background-color: #00486c;
}

div.departure:nth-child(even) .tram-6 {
    background-color: #002233;
}

.tram-11 {
    background-color: #46af8b;
    color: #e8e8e8 !important;
}

div.departure:nth-child(even) .tram-11 {
    background-color: #227b5b;
    color: #e8e8e8 !important;
}

.tram-12 {
    background-color: #008d9d;
}

div.departure:nth-child(even) .tram-12 {
    background-color: #00626d;
}

.tram-16 {
    background-color: #d3a306;
    color: #e8e8e8 !important;
}

div.departure:nth-child(even) .tram-16 {
    background-color: #ae8600;
    color: #e8e8e8 !important;
}

.tram-19 {
    background-color: #953779;
}

div.departure:nth-child(even) .tram-19 {
    background-color: #5a2149;
}

.tram-30 {
    background-color: #3e34a6;
}

div.departure:nth-child(even) .tram-30 {
    background-color: #231d5c;
}

.tram-35 {
    background-color: #763113;
}

div.departure:nth-child(even) .tram-35 {
    background-color: #3a1809;
}

.tram-48 {
    background-color: #45474d;
}

div.departure:nth-child(even) .tram-48 {
    background-color: #202124;
}

.tram-57 {
    background-color: #01b2b5;
}

div.departure:nth-child(even) .tram-57 {
    background-color: #008083;
}

.tram-58 {
    background-color: #878e94;
}

div.departure:nth-child(even) .tram-58 {
    background-color: #52575c;
}

.tram-59 {
    background-color: #138a5a;
}

div.departure:nth-child(even) .tram-59 {
    background-color: #0c5739;
}

.tram-64 {
    background-color: #00AB8E;
}

div.departure:nth-child(even) .tram-64 {
    background-color: #019e84;
}

.tram-67 {
    background-color: #874b38;
}

div.departure:nth-child(even) .tram-67 {
    background-color: #703c2c;
}

.tram-70 {
    background-color: #e560a5;
    color: #d7d7d7 !important;
}

div.departure:nth-child(even) .tram-70 {
    background-color: #ea2a8d;
    color: #d7d7d7 !important;
}

.tram-72 {
    background-color: #607c6d;
    color: #e8e8e8 !important;
}

div.departure:nth-child(even) .tram-72 {
    background-color: #5a7566;
    color: #e8e8e8 !important;
}

.tram-75 {
    background-color: #049fd3;
    color: #d7d7d7 !important;
}

div.departure:nth-child(even) .tram-75 {
    background-color: #017399;
    color: #d7d7d7 !important;
}

.tram-78 {
    background-color: #8177c3;
}

div.departure:nth-child(even) .tram-78 {
    background-color: #51459e;
}

.tram-82 {
    background-color: #79a11c;
    color: #c6c6c6 !important;
}

div.departure:nth-child(even) .tram-82 {
    background-color: #6d9118;
    color: #c6c6c6 !important;
}

.tram-86 {
    background-color: #d89c04;
    color: #e8e8e8 !important;
}

div.departure:nth-child(even) .tram-86 {
    background-color: #b88400;
    color: #e8e8e8 !important;
}

.tram-96 {
    background-color: #f20081;
}

div.departure:nth-child(even) .tram-96 {
    background-color: #a40058;
}

.tram-109 {
    background-color: #ea6500;
}

div.departure:nth-child(even) .tram-109 {
    background-color: #a44700;
}
