#content {
  display: block;
  flex-direction: column;
}

#content > * {
  margin-left: calc(1vw + 1vh);
}

h1#title {
  margin-top: calc(0.8vw + 0.8vh);
}

h1, h2, h3, h4 {
  margin: 0;
}

label {
  font-size: calc(0.9vw + 1.2vh);
}

div.inputSection {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: calc(15vw + 15vh);

  height: calc(2vw + 2vh);
  border: none;
  border-radius: calc(0.5vw + 0.5vh);
  outline: none;
  font-size: calc(1.5vw + 1.5vh);
  padding: 0;
  padding-top: calc(.2vw + .2vh);
  padding-left: calc(0.5vw + 0.5vh);
  background-color: #e0e0e0;
  appearance: none;
  -moz-appearance: textfield;

  font-family: Default-Font;
}

input[type="submit"] {
  width: calc(4vw + 4vh);

  height: calc(2.2vw + 2.2vh);
  border: none;
  border-radius: calc(0.5vw + 0.5vh);
  outline: none;
  font-size: calc(1.5vw + 1.5vh);
  margin-left: calc(0.2vw + 0.2vh);
  padding: 0;
  background-color: #e0e0e0;
  color: #000000;
  appearance: none;
  -moz-appearance: textfield;

  font-family: Default-Font;
}

input, .customDropdown {
  margin: calc(0.2vw + 0.2vh) 0;
}

#content > a {
  font-size: calc(1.1vw + 1.1vh);
  margin-left: calc(1.8vw + 1.8vh);
  text-decoration: underline;
}

div.submissionRow {
  display: flex;
  align-items: center;
}

div.customDropdown {
  position: relative;
  display: inline-block;
}

div.customDropdown select {
  position: absolute;
  opacity: 0;

  width: calc(15vw + 15vh);
  height: calc(2.2vw + 2.2vh);
  padding-left: calc(0.5vw + 0.5vh);

  font-size: calc(1.5vw + 1.5vh);
}

div.customDropdown span {
  width: calc(15vw + 15vh);
  height: calc(2.1vw + 2.1vh);
  padding-top: calc(0.1vw + 0.1vh);
  padding-left: calc(0.5vw + 0.5vh);
  border: none;
  border-radius: calc(0.5vw + 0.5vh);

  background-color: #e0e0e0;
  color: #000000;

  display: block;
  font-size: calc(1.5vw + 1.5vh);
}

div.customDropdown span::after {
  content: '';
  border: solid #000000;
  border-width: 0 calc(0.2vw + 0.2vh) calc(0.2vw + 0.2vh) 0;
  display: inline-block;
  padding: calc(0.25vw + 0.25vh);

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float: right;

  margin-top: calc(0.6vw + 0.6vh);
  margin-right: calc(0.5vw + 0.5vh)
}
