.bus { --colour: #d7832c; }
.metro { --colour: #3483db; }
.tram { --colour: #1a942a; }
.vline { --colour: #6b4d9e; }
.coach { --colour: #9582b5; }
.ferry { --colour: #03998f; }
.skybus { --colour: #ee3124; }

.busStop .left-container {
  background-color: #d7832c;
}

.busStop:nth-child(even) .left-container {
  background-color: #c47625;
}

.metroStation .left-container {
  background-color: #3483db;
}

.metroStation:nth-child(even) .left-container {
  background-color: #2370c5;
}

.tramStop .left-container {
  background-color: #1a942a;
}

.tramStop:nth-child(even) .left-container {
  background-color: #20b734;
}

.vlineStation .left-container {
  background-color: #6b4d9e;
}

.vlineStation:nth-child(even) .left-container {
  background-color: #523d77;
}

.regionalCoachStop .left-container {
  background-color: #9582b5;
}

.regionalCoachStop:nth-child(even) .left-container {
  background-color: #866cb1;
}

.ferryTerminal .left-container {
  background-color: #03998f;
}

.ferryTerminal:nth-child(even) .left-container {
  background-color: #028980;
}


div.journey-endpoints {
  --settings-height: calc(10vh + 10vw);

  height: var(var(--settings-height));
  display: flex;
  background-color: #0f0f0f;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

div.journey-endpoint-inputs {
  --textbox-width: 80vw;
  --textbox-padding-in: calc(var(--settings-height) * 0.1);
  --textbox-padding-bl: calc(var(--settings-height) * 0.02);
  --textbox-br: calc(var(--settings-height) * 0.1);

  height: var(--settings-height);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div.journey-dotted-lines img {
  height: calc(var(--settings-height) * 0.65);
}

div.journey-endpoint-inputs > div > input {
  width: var(--textbox-width);
  height: calc(var(--settings-height) * 0.33);
  border: none;
  border-radius: var(--textbox-br);
  outline: none;
  text-align: left;
  font-size: calc(var(--settings-height) * 0.22);
  padding-inline: var(--textbox-padding-in);
  padding-block: var(--textbox-padding-bl);
  background-color: #e0e0e0;
  appearance: none;
  -moz-appearance: textfield;
  font-family: Default-Font;
}


div.stop-suggestions {
  display: none;
  position: absolute;

  width: calc(var(--textbox-width) + 2 * var(--textbox-padding-in));
  max-height: calc(var(--textbox-width) * 1.2);
  overflow-y: scroll;
  
  border-top: calc(0.35vw + 0.35vh) solid #999;
  background-color: #e0e0e0;
}

div.journey-endpoint-inputs > div.show-suggestions > input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.journey-endpoint-inputs > div.show-suggestions > div.stop-suggestions {
  display: block;
  z-index: 9999;
}

.stop-suggestions .stop-result {
  display: flex;
  background-color: #2a2a2a;
}

.stop-suggestions .stop-result:nth-child(even) {
  background-color: #202020;
}

.stop-result {
  --left-container-w: calc(4vw + 4vh);
  --result-content-margin-l: calc(1vw + 1vh);
  --result-content-w: calc(var(--textbox-width) - var(--left-container-w) - var(--result-content-margin-l));
}

.stop-result .left-container {
  width: var(--left-container-w);
  height: calc(5vw + 5vh);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stop-result .left-container img {
  width: calc(3vw + 2vh);
}

.stop-result-details {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-left: var(--result-content-margin-l);
  font-size: calc(1.2vw + 2vh);

  width: var(--result-content-w);
}

.stop-result-details > span:nth-child(1) {
  color: #8f8f8f;
  font-size: calc(0.9vw + 1.6vh);
  width: var(--result-content-w);

  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.stop-result-details > span:nth-child(2) {
  font-size: calc(1.2vw + 1.8vh);
  margin-top: calc(-0.2vw - 0.4vh);
  width: var(--result-content-w);

  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

div.journey-settings {
  --settings-height: calc(4vh + 4vw);
  --settings-font: calc(1.6vw + 1.6vh);
  --dropdown-width: calc(9vw + 8vh);
  --input-height: calc(2.1vw + 2.1vh);

  height: var(--settings-height);
  display: flex;
  background-color: #0f0f0f;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

div.journey-settings div.customDropdown {
  margin-inline: 2vw;
}

div.customDropdown {
  position: relative;
  display: inline-block;
}

div.customDropdown select {
  position: absolute;
  opacity: 0;

  width: calc(var(--dropdown-width) * 1.05);
  height: calc(var(--input-height) + 0.1vw + 0.1vh);
  padding-left: calc(0.5vw + 0.5vh);

  font-size: var(--settings-font);
}

div.customDropdown span {
  width: var(--dropdown-width);
  height: var(--input-height);
  padding-top: calc(0.1vw + 0.1vh);
  padding-left: calc(0.5vw + 0.5vh);
  border: none;
  border-radius: calc(0.5vw + 0.5vh);

  background-color: #e0e0e0;
  color: #000000;

  display: block;
  font-size: var(--settings-font);
}

div.customDropdown span::after {
  content: '';
  border: solid #000000;
  border-width: 0 calc(0.2vw + 0.2vh) calc(0.2vw + 0.2vh) 0;
  display: inline-block;
  padding: calc(0.25vw + 0.25vh);

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float: right;

  margin-top: calc(0.6vw + 0.6vh);
  margin-right: calc(0.5vw + 0.5vh)
}

div.journey-settings input {
  border: none;
  border-radius: calc(0.5vw + 0.5vh);
  font-size: var(--settings-font);
  outline: none;
  text-align: left;
  
  height: var(--input-height);
  padding-top: calc(0.1vw + 0.1vh);
  padding-left: calc(0.5vw + 0.5vh);
  
  background-color: #e0e0e0;
  appearance: none;
  -moz-appearance: textfield;
  font-family: Default-Font;
}

@media screen and (max-width: 440px) {

  div.journey-settings {
    --settings-height: calc(6.8vh + 6.8vw);
    --settings-font: calc(1.9vw + 1.9vh);
    --dropdown-width: calc(14vw + 14vh);
    --input-height: calc(2.8vw + 2.8vh);

    flex-direction: column;
    justify-content: space-between;
  }

  div.customDropdown span,
  div.journey-settings input {
    padding-top: calc(0.25vw + 0.25vh);
  }

}

div.plan-button-row {
  --plan-row-height: calc(5vw + 5vh);
  height: var(--plan-row-height);
  display: flex;
  background-color: #0f0f0f;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

div.plan-button-row input#plan-journey {
  font-size: calc(var(--plan-row-height) * 0.35);
  padding-block: calc(var(--plan-row-height) * 0.1);
  padding-inline: calc(var(--plan-row-height) * 0.4);

  outline: none;
  border: none;
  border-radius: calc(0.5vw + 0.5vh);
}

.journey {

}

.journey-header {
  height: calc(4vw + 4vh);
  display: flex;
  flex-direction: row;

  font-size: calc(2vw + 2vh);
  justify-content: space-between;
}

.journey-header span.start-time {
  margin-top: calc(0.6vw + 0.6vh);
  margin-left: calc(1vw + 1vh);
}

.journey-header span.duration {
  margin-top: calc(0.6vw + 0.6vh);
  margin-right: calc(1vw + 1vh);
}

.journey-overview {
  height: calc(4vw + 4vh);
  margin-inline: calc(1vw + 1vh);
  display: flex;
  flex-direction: row;
}

.journey-leg {
  display: inline-block;
  margin-inline: calc(0.3vw + 0.3vh);
}

.journey-leg:first-child {
  margin-inline-start: 0;
}

.journey-leg:last-child {
  margin-inline-end: 0;
}

.leg-pill {
  width: calc(6.5vw + 6.5vh);
  height: calc(3vw + 3vh);

  display: inline-flex;

  border: calc(0.25vw + 0.25vh) solid var(--colour);
  border-radius: calc(3vw + 3vh);

  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.leg-pill img {
  height: calc(1.4vw + 1.4vh);
}

.leg-pill span {
  font-size: calc(1.4vw + 1.4vh);
  margin-left: calc(0.4vw + 0.4vh);
}

div.walk-icon {
  height: calc(3vw + 3vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.walk-icon img {
  height: calc(1.4vw + 1.4vh);
}

div.remaining-leg-counter {
  height: calc(3vw + 3vh);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: calc(1.4vw + 1.4vh);
}

input.journey-expand-checkbox {
  display: none;
}

input.journey-expand-checkbox:not(:checked) ~ label ~ div.journey-details {
  display: none;
}