.result {
  width: 100vw;
  display: flex;
  background-color: #2a2a2a;
}

.result:nth-child(even) {
  background-color: #202020;
}

.busStop .leftContainer {
  background-color: #d7832c;
}

.busStop:nth-child(even) .leftContainer {
  background-color: #c47625;
}

.metroStation .leftContainer {
  background-color: #3483db;
}

.metroStation:nth-child(even) .leftContainer {
  background-color: #2370c5;
}

.tramStop .leftContainer {
  background-color: #1a942a;
}

.tramStop:nth-child(even) .leftContainer {
  background-color: #20b734;
}

.vlineStation .leftContainer {
  background-color: #6b4d9e;
}

.vlineStation:nth-child(even) .leftContainer {
  background-color: #523d77;
}

.regionalCoachStop .leftContainer {
  background-color: #9582b5;
}

.regionalCoachStop:nth-child(even) .leftContainer {
  background-color: #866cb1;
}

.ferryTerminal .leftContainer {
  background-color: #03998f;
}

.ferryTerminal:nth-child(even) .leftContainer {
  background-color: #028980;
}

.heritageStation .leftContainer {
  background-color: #7a562e;
}

.heritageStation:nth-child(even) .leftContainer {
  background-color: #5e401f;
}

.route .leftContainer {
  background-color: #d7832c;
  background-color: var(--operator-odd);
}

.route:nth-child(even) .leftContainer {
  background-color: #c47625;
  background-color: var(--operator-even);
}

.leftContainer.miniIcon img {
  width: calc(2.5vw + 2.5vh) !important;
}

.leftContainer img {
  width: calc(3.5vw + 4vh) !important;
}

.leftContainer span.distance {
  margin-top: calc(0.3vw + 0.3vh);
  font-size: calc(0.8vw + 0.8vh);
}

.resultDetails {
  width: calc(95vw - 5.25vh);
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-left: calc(1vw + 1vh);
  font-size: calc(1.2vw + 2vh);
}

.resultDetails > span:nth-child(1) {
  color: #8f8f8f;
  font-size: calc(0.9vw + 1.6vh);
}

.resultDetails > span:nth-child(2) {
  font-size: calc(1.2vw + 2vh);
  margin-top: calc(-0.2vw - 0.4vh);
}
