extends ../layout

block head
  title TransportVic - Smartrak IDs
  
block title
  span Smartrak IDs

block scripts
  script(src=`${staticBase}/static/scripts/smartrak.js`)
  
block style
  link(rel='stylesheet' href=`${staticBase}/static/css/smartrak.css`)

block content
  div#container
    textarea#textbar(placeholder=placeholder autocorrect="off" resizable="false")
    button#submit Enter

  
