body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  --width: calc(100vh / 9 * 16);
  --height: 100vh;
}

p {
  margin: 0;
}

div.content.announcements {
  background-color: #000000;
}

div.content {
  width: var(--width);
  height: var(--height);
  background-color: white;
  color: black;

  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-aspect-ratio: 16/9) {
  body {
    --width: 100vw;
    --height: calc(100vw * 9 / 16);
  }
}
