:root {
  --font-scale: 1.3333;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

div.content.announcements {
  background-color: #000000;
}

div.content {
  --width: 100vw;
  --height: calc(100vw * 9 / 32);

  width: var(--width);
  height: var(--height);
  background-color: #222222;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
