div.alamein, div.belgrave, div.lilydale, div.glen-waverley {
  background-color: #152C6B;
}

div.cranbourne, div.pakenham {
  background-color: #279FD5;
  color: #000000;
}

div.frankston, div.stony-point, div.werribee, div.williamstown {
  background-color: #028430;
}

div.craigieburn, div.sunbury, div.upfield {
  background-color: #FFBE00;
  color: #000000;
}

div.hurstbridge, div.mernda {
  background-color: #BC2431;
}

div.sandringham {
  background-color: #F178AF;
  color: #000000;
}

div.showgrounds-flemington {
  background-color: #CE0058;
}

div.no-line {
  background-color: #95979A;
}

div.vline {
  background-color: #753F98;
}

div.city-circle {
  background-color: #000000;
}


p.alamein, p.belgrave, p.lilydale, p.glen-waverley {
  background-color: #152C6B;
  color: #ffffff;
}

p.cranbourne, p.pakenham {
  background-color: #279FD5;
  color: #000000;
}

p.frankston, p.stony-point, p.werribee, p.williamstown {
  background-color: #028430;
  color: #ffffff;
}

p.craigieburn, p.sunbury, p.upfield {
  background-color: #FFBE00;
  color: #000000;
}

p.hurstbridge, p.mernda {
  background-color: #BE1014;
  color: #ffffff;
}

p.sandringham {
  background-color: #F178AF;
  color: #000000;
}

p.showgrounds-flemington {
  background-color: #CE0058;
  color: #ffffff;
}

p.no-line {
  background-color: #95979A;
  color: #ffffff;
}

p.vline {
  background-color: #753F98;
  color: #ffffff;
}

p.city-circle {
  background-color: #000000;
  color: #ffffff;
}

.stoppingPattern.alamein img, .stoppingPattern.belgrave img, .stoppingPattern.lilydale img, .stoppingPattern.glen-waverley img {
  filter: invert(13%) sepia(54%) saturate(2677%) hue-rotate(213deg) brightness(94%) contrast(98%);
}

.stoppingPattern.cranbourne img, .stoppingPattern.pakenham img {
  filter: invert(61%) sepia(74%) saturate(2164%) hue-rotate(166deg) brightness(88%) contrast(89%);
}

.stoppingPattern.frankston img, .stoppingPattern.stony-point img, .stoppingPattern.werribee img, .stoppingPattern.williamstown img {
  filter: invert(20%) sepia(90%) saturate(4147%) hue-rotate(146deg) brightness(94%) contrast(98%);
}

.stoppingPattern.craigieburn img, .stoppingPattern.sunbury img, .stoppingPattern.upfield img {
  filter: invert(67%) sepia(62%) saturate(699%) hue-rotate(359deg) brightness(102%) contrast(107%);
}

.stoppingPattern.hurstbridge img, .stoppingPattern.mernda img {
  filter: invert(40%) sepia(50%) saturate(6648%) hue-rotate(336deg) brightness(73%) contrast(150%);
}

.stoppingPattern.sandringham img {
  filter: invert(79%) sepia(39%) saturate(5792%) hue-rotate(296deg) brightness(105%) contrast(89%);
}

.stoppingPattern.showgrounds-flemington img {
  filter: invert(14%) sepia(84%) saturate(4369%) hue-rotate(322deg) brightness(100%) contrast(117%)
}

.stoppingPattern.no-line img {
  filter: invert(67%) sepia(9%) saturate(92%) hue-rotate(177deg) brightness(89%) contrast(85%);
}

.stoppingPattern.vline img {
  filter: invert(32%) sepia(7%) saturate(4824%) hue-rotate(239deg) brightness(93%) contrast(103%);
}


div.platform.alamein, div.platform.belgrave, div.platform.lilydale, div.platform.glen-waverley {
  background-color: #152C6B;
  color: #ffffff;
}

div.platform.cranbourne, div.platform.pakenham {
  background-color: #279FD5;
  color: #000000;
}

div.platform.frankston, div.platform.stony-point, div.platform.werribee, div.platform.williamstown {
  background-color: #028430;
  color: #ffffff;
}

div.platform.craigieburn, div.platform.sunbury, div.platform.upfield {
  background-color: #FFBE00;
  color: #000000;
}

div.platform.hurstbridge, div.platform.mernda {
  background-color: #BC2431;
  color: #ffffff;
}

div.platform.sandringham {
  background-color: #F178AF;
  color: #000000;
}

div.platform.showgrounds-flemington {
  background-color: #CE0058;
  color: #ffffff;
}

div.platform.no-line {
  background-color: #95979A;
  color: #ffffff;
}

div.platform.vline {
  background-color: #753F98;
  color: #ffffff;
}

div.platform.city-circle {
  background-color: #000000;
  color: #ffffff;
}
