div.alamein, div.belgrave, div.lilydale, div.glen-waverley {
  background-color: #184977;
}

div.cranbourne, div.pakenham {
  background-color: #009ecf;
  color: #000000;
}

div.frankston, div.stony-point, div.werribee, div.williamstown {
  background-color: #008c44;
}

div.craigieburn, div.sunbury, div.upfield {
  background-color: #f3b22c;
  color: #000000;
}

div.hurstbridge, div.mernda {
  background-color: #bc2431;
}

div.sandringham {
  background-color: #e578a5;
  color: #000000;
}

div.showgrounds-flemington {
  background-color: #8a8a8a;
}



p.alamein, p.belgrave, p.lilydale, p.glen-waverley {
  background-color: #184977;
  color: #ffffff;
}

p.cranbourne, p.pakenham {
  background-color: #009ecf;
  color: #000000;
}

p.frankston, p.stony-point, p.werribee, p.williamstown {
  background-color: #008c44;
  color: #ffffff;
}

p.craigieburn, p.sunbury, p.upfield {
  background-color: #f3b22c;
  color: #000000;
}

p.hurstbridge, p.mernda {
  background-color: #bc2431;
  color: #ffffff;
}

p.sandringham {
  background-color: #e578a5;
  color: #000000;
}

p.showgrounds-flemington {
  background-color: #8a8a8a;
  color: #ffffff;
}


.stoppingAt {
  background-color: #ffffff !important;
}

.stoppingAt.alamein img, .stoppingAt.belgrave img, .stoppingAt.lilydale img, .stoppingAt.glen-waverley img {
  filter: invert(20%) sepia(92%) saturate(929%) hue-rotate(181deg) brightness(91%) contrast(88%);
}

.stoppingAt.cranbourne img, .stoppingAt.pakenham img {
  filter: invert(44%) sepia(88%) saturate(570%) hue-rotate(150deg) brightness(94%) contrast(107%);
}

.stoppingAt.frankston img, .stoppingAt.stony-point img, .stoppingAt.werribee img, .stoppingAt.williamstown img {
  filter: invert(33%) sepia(100%) saturate(894%) hue-rotate(117deg) brightness(91%) contrast(102%);
}

.stoppingAt.craigieburn img, .stoppingAt.sunbury img, .stoppingAt.upfield img {
  filter: invert(85%) sepia(48%) saturate(3910%) hue-rotate(341deg) brightness(109%) contrast(91%);
}

.stoppingAt.hurstbridge img, .stoppingAt.mernda img {
  filter: invert(19%) sepia(81%) saturate(2062%) hue-rotate(334deg) brightness(99%) contrast(100%);
}

.stoppingAt.sandringham img {
  filter: invert(84%) sepia(16%) saturate(6563%) hue-rotate(291deg) brightness(90%) contrast(99%);
}

.stoppingAt.showgrounds-flemington img {
  filter: invert(66%) sepia(0%) saturate(4%) hue-rotate(136deg) brightness(84%) contrast(88%);
}


div.platform.alamein, div.platform.belgrave, div.platform.lilydale, div.platform.glen-waverley {
  background-color: #184977;
  color: #ffffff;
}

div.platform.cranbourne, div.platform.pakenham {
  background-color: #009ecf;
  color: #000000;
}

div.platform.frankston, div.platform.stony-point, div.platform.werribee, div.platform.williamstown {
  background-color: #008c44;
  color: #ffffff;
}

div.platform.craigieburn, div.platform.sunbury, div.platform.upfield {
  background-color: #f3b22c;
  color: #000000;
}

div.platform.hurstbridge, div.platform.mernda {
  background-color: #bc2431;
  color: #ffffff;
}

div.platform.sandringham {
  background-color: #e578a5;
  color: #000000;
}

div.platform.showgrounds-flemington {
  background-color: #8a8a8a;
  color: #ffffff;
}
