@font-face {
  font-family: "NetworkSansLight";
  font-display: fallback;
  font-style: normal;
  src: local('Network Sans K'), local('NetworkSans-K-Light'), local('Network Sans 2018 Light'), local('Network Sans Light'), local('Network Sans 2019 Light'), url(/static/fonts/NetworkSans-2018-Light.ttf);
}

@font-face {
  font-family: "NetworkSansRegular";
  font-display: fallback;
  font-style: normal;
  src: local('Network Sans K'), local('NetworkSans-K-Regular'), local('Network Sans 2018 Regular'), local('Network Sans Regular'), local('Network Sans 2019 Regular'), url(/static/fonts/NetworkSans-2018-Regular.ttf);
}

@font-face {
  font-family: "NetworkSansMedium";
  font-display: fallback;
  font-weight: medium;
  src: local('Network Sans K'), local('NetworkSans-K-Medium'), local('Network Sans 2018 Medium'),local('Network Sans Medium'), local('Network Sans 2019 Medium'), url(/static/fonts/NetworkSans-2018-Medium.ttf);
}

@font-face {
  font-family: "NetworkSansBold";
  font-display: fallback;
  font-style: bold;
  src: local('Network Sans K'), local('NetworkSans-K-Bold'), local('Network Sans 2018 Bold'), local('Network Sans Bold'), local('Network Sans 2019 Bold'), url(/static/fonts/NetworkSans-2018-Bold.ttf);
}

@font-face {
  font-family: "Helvetica";
  font-display: fallback;
  src: local('Helvetica Neue'), local('Helvetica Neue'), local("Arial");
}

html, body {
  margin: 0;
  padding: 0;

  font-family: NetworkSansMedium;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #000000;
}
