html {
  transform-origin: top left;
}

body {
  width: 1080px;
  display: flex;
  justify-content: center;
}

div.contents {
  width: 1007px;
  height: 1920px;
}

div.topLineBanner {
  height: 39px;
  margin-top: 13px;

  border-radius: 7px;
}

div.textWrapper {
  width: 1007px;
  height: 1500px;
  font-size: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
}

div.textWrapper img {
  width: 350px;
}

div.textWrapper p {
  margin: 0;
}

div.firstDepartureInfo {
  display: flex;
}

div.firstDepartureInfo div.details {
  margin-top: 20px;
}

div.firstDepartureInfo span.scheduledDepartureTime {
  font-size: 80px;
  line-height: 80px;
}

div.firstDepartureInfo span.destination {
  font-size: 80px;
  line-height: 90px;
  font-family: NetworkSansBold;
}

div.firstDepartureInfo span.stoppingType {
  display: block;
  margin-top: 17px;
  font-size: 46px;
  line-height: 46px;
}

div.firstDepartureTime {
  margin-top: 13px;
  margin-left: auto;
  width: 150px;
}

div.firstDepartureTime div.platform.no-line {
  border-radius: 7px;
}

div.firstDepartureTime div.platform {
  height: 100px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

div.firstDepartureTime div.timeToDeparture {
  margin-top: 3px;

  height: 58px;
  background-color: #000000;
  color: #ffffff;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

div.greyLine {
  margin-top: 15px;
  height: 2px;
  background: gray;
}

div.stoppingAt > div {
  display: flex;
}

div.stationRow {
  height: 64px;
  display: flex;
}

div.stationRow p {
  font-family: "NetworkSansBold";
  font-size: 46px;
  line-height: 46px;
  margin: 0;
  padding-top: 8px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

div.stationRow p.express {
  color: #d7d7d7;
}

div.stationRow img {
  height: 64px;
}

div.stoppingAt > div > div {
  width: 503px;
}

/* irl the screens are taller but ah wahtever */
div.next3Departures {
  position: absolute;
  top: 1575px;
  width: 1007px;
}

div.next3Departures div.greyLine {
  margin-top: 10px;
}

div.blackLine {
  height: 5px;
  background-color: #000000;
}

div.smallDeparture {
  display: flex;
  height: 64px;
  margin-top: 10px;
}

div.smallDeparture > div {
  display: flex;
  height: 64px;
}

/* should be network sans 2018 regular but where to find */
div.smallDeparture p {
  font-size: 46px;
  line-height: 46px;
  margin: 0;
  padding-top: 8px;
}

div.sideBar {
  height: 64px;
  width: 14px;

  border-radius: 4px;
}

div.smallDeparture div.left {
  width: 250px;
}

div.smallDeparture div.left p {
  margin-left: 20px;
}

div.smallDeparture div.centre {
  margin-left: 125px;
  font-family: NetworkSansBold;
}

div.smallDeparture div.right {
  margin-left: auto;
}

div.smallDeparture div.right > div {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.smallDeparture div.right div.platform {
  width: 70px;

  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

div.smallDeparture div.right div.timeToDeparture {
  width: 170px;
  margin-left: 3px;
  background: #000000;
  color: #ffffff;

  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

div.smallDeparture div.right > div p {
  padding: 0;
  padding-left: 5px;
}


@media(prefers-color-scheme: dark) {

  html {
    background-color: #ffffff;
  }

  body {
    background-color: #000000;
    color: #ffffff;
  }

  div.firstDepartureTime div.timeToDeparture {
    color: #000000;
    background-color: #ffffff;
  }

  div.blackLine {
    background-color: #ffffff;
  }

  div.smallDeparture div.right div.timeToDeparture {
    color: #000000;
    background-color: #ffffff;
  }

  div.stationRow p.stopsAt {
    color: #ffffff !important;
  }

  div.stoppingAt > * {
    background-color: #000000 !important;
  }

  div.stationRow p.express {
    color: #282828;
  }

  div.cranbourne, div.pakenham, div.craigieburn, div.sunbury, div.upfield, div.sandringham {
    color: #ffffff;
  }

  p.cranbourne, p.pakenham, p.craigieburn, p.sunbury, p.upfield, p.sandringham {
    color: #000000;
  }

}

div.stoppingAt > * {
  background-color: #ffffff;
}
