body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

p {
  margin: 0;
}

div.content {
  display: block;
}

div.message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.message p {
  font-size: 8.2vw;
  line-height: 8.4vw;
}

div.topRow {
  height: 8vw;
  display: flex;
  font-family: "NetworkSansBold";
  margin-top: -1vw;
}

p.firstDestination {
  font-size: 11.25vw;
  margin-left: 0.5vw;
  letter-spacing: -0.7vw;
  margin-top: -0.75vw;
  white-space: nowrap;
  width: 50vw;
}

p.firstDestination.smaller {
  font-size: 10vw;
  margin-top: 0.6vw;
}

div.firstDepartureInfo {
  margin-left: auto;
  text-align: center;
  display: flex;
  width: 36vw;
}

div.scheduled {
  width: 20vw;
}

div.scheduled p:nth-child(1), div.actual > p:nth-child(1) {
  font-family: "NetworkSansRegular";
  font-size: 3vw;
  margin-top: 1.75vw;
  letter-spacing: 0vw;
}

div.scheduled p:nth-child(2) {
  font-size: 7.25vw;
  margin-left: 0.4vw;
  margin-top: -1.75vw;
}

div.actual {
  width: 16vw
}

div.actual div:nth-child(2) {
  margin-top: -1.75vw;
}

div.actual div:nth-child(2) > span:nth-child(1) {
  font-size: 7.25vw;
  margin-left: 0.4vw;
}

div.actual div:nth-child(2) > span:nth-child(2) {
  font-size: 2.25vw;
}

div.middleRow {
  margin-top: 5vw;
  height: 5vw;
}

div.middleRow p {
  font-family: "NetworkSansRegular";
  font-size: 6.5vw;
  margin-left: 0.5vw;
  white-space: nowrap;
  width: fit-content;
  width: -moz-fit-content;
  width: -o-fit-content;
  width: -webkit-fit-content;
  height: 0
}

div.whiteLine {
  width: 100vw;
  height: 0.25vw;
  background-color: white;
  margin-top: 3.75vw;
}

div.bottomRow {
  display: flex;
  align-items: center;
  height: 7vw;
  font-size: 4vw;
  font-family: "NetworkSansBold";
}

div.bottomRow.vline {
  background-color: #43157c;
}

div.bottomRow > * {
  margin-top: -0.5vw;
}

div.bottomRow > span:nth-child(1) {
  margin-left: 1vw;
  width: 7vw;
}

div.bottomRow > span:nth-child(2) {
  margin-left: 6vw;
  width: 30.5vw;
  letter-spacing: -0.2vw;
}

div.bottomRow > span:nth-child(3) {
  margin-top: 0.5vw;
  margin-left: 1.5vw;
  width: 23.5vw;
  font-family: "NetworkSansRegular";
  font-size: 3.5vw;
  letter-spacing: -0.1vw;

  white-space: nowrap;
  overflow: hidden
}

div.bottomRow > div:nth-child(4) {
  margin-left: auto;
  margin-right: 1vw;
}

div.bottomRow > div:nth-child(4) span:nth-child(1) {
  width: 15vw;
}

div.bottomRow > div:nth-child(4) span:nth-child(2) {
  font-size: 2vw;
  width: 15vw;
}

div.timeNow {
  margin-top: 0 !important;
  color: black;
  background-color: white;
  height: 7vw;
  width: 17.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}
