@font-face {
  font-family: "NetworkSansMedium";
  font-display: fallback;
  font-style: medium;
  src: local('Network Sans 2018 Medium'), local('Network Sans K Medium'), local('Liberation Sans'), local('Helvetica'), local('Arial');
}

body {
  display: table;
  margin: 0;
  padding: 0;
}

div.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.platform {
  display: inline-block;
  margin: 1vw;
}

div.title {
  width: 20vw;
  height: 3vw;
  background-color: #dddddd;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  font-family: "NetworkSansMedium";

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}

div.title a, div.title a:visited {
  color: black;
}

div.platform iframe {
  width: 20vw;
  height: calc(20vw * 9 / 32);
  border: none;
}

div.platform.fss-escalator, div.platform.fss-escalator * {
  width: 15vw;
}

div.platform.fss-escalator iframe {
  height: calc(15vw / 9 * 16);
}

div.platform.sss-new-coach, div.platform.sss-new-coach * {
  width: 23vw;
}

div.platform.sss-new-coach iframe {
  height: calc(23vw / 9 * 16);
}

div.platform.fss-platform, div.platform.fss-platform *, div.platform.platform, div.platform.platform * {
  width: 18vw;
}

div.platform.fss-platform iframe, div.platform.platform iframe {
  height: calc(18vw * 9 / 16);
}


div.platform.sss-platform {
  margin: 1vh 1vw;
}

div.platform.sss-platform, div.platform.sss-platform * {
  width: 30vw;
}

div.platform.sss-platform iframe {
  height: calc(30vw * 9 / 16);
}
