@font-face {
  font-family: "NetworkSansMedium";
  font-display: fallback;
  src: local('Network Sans 2018 Medium'), url(/static/fonts/NetworkSans-Medium.ttf);
}

body {
  display: table;
  margin: 0;
  padding: 0;
}

div.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.platform {
  display: inline-block;
  margin: 1.5vw;
}

div.title {
  width: 30vw;
  height: 3vw;
  background-color: #dddddd;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  font-family: "NetworkSansMedium";

  display: flex;
  justify-content: center;
  align-items: center;
}

div.title a, div.title a:visited {
  color: black;
}

div.platform iframe {
  width: 30vw;
  height: calc(30vw * 9 / 32);
  border: none;
}

div.platform.fss-escalator, div.platform.fss-escalator * {
  width: 20vw;
}

div.platform.fss-escalator iframe {
  height: calc(20vw / 9 * 16);
}
