@font-face {
  font-family: "NetworkSansMedium";
  font-display: fallback;
  font-style: medium;
  src: local('Network Sans 2018 Medium'), local('Network Sans K Medium'), url(/static/fonts/NetworkSans-2018-Medium.ttf), local('Liberation Sans'), local('Helvetica'), local('Arial');
}

body {
  display: table;
  margin: 0;
  padding: 0;
}

div.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

div.platform, div.pid {
  display: inline-block;
  margin: 0.8vw;
}

div.title {
  width: 20vw;
  height: 3vw;
  background-color: #dddddd;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  font-family: "NetworkSansMedium";

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}

div.title a, div.title a:visited {
  color: black;
}

iframe {
  height: calc(var(--width) * 9 / 32);
  border: none;
}

div.platform.fss-escalator, div.platform.fss-escalator * {
  width: calc(13vw + 13vh) !important;
}

div.platform.fss-escalator iframe {
  height: calc((13vw + 13vh) / 9 * 16) !important;
}

div.platform.sss-new-coach, div.platform.sss-new-coach * {
  width: calc(13vw + 13vh) !important;
}

div.platform.sss-new-coach iframe {
  height: calc((13vw + 13vh) / 9 * 16) !important;
}

div.platform.fss-platform, div.platform.fss-platform *, div.platform.full-platform, div.platform.full-platform * {
  width: calc(17vw + 17vh);
}

div.platform.fss-platform iframe, div.platform.full-platform iframe {
  height: calc((17vw + 17vh) * 9 / 16);
}


div.platform.sss-platform {
  margin: 1vh 1vw;
}

div.platform.sss-platform, div.platform.sss-platform * {
  width: 30vw;
}

div.platform.sss-platform iframe {
  height: calc(30vw * 9 / 16);
}



div.vertical {
  --width: calc(min(14vw + 14vh, 400px));
}

div.horizontal, div.half, div.two-line-led, div.psd {
  --width: calc(min(20vw + 20vh, 300px));
}

div.pid, div.pid * {
  width: var(--width);
}

div.horizontal iframe {
  height: calc(var(--width) * 9 / 16) !important;
}

div.vertical iframe {
  height: calc(var(--width) / 9 * 16) !important;
}

div.two-line-led iframe {
  height: calc(var(--width) / 2.7) !important;
}

div.psd iframe {
  height: calc(var(--width) * 9 / 48) !important;
}