div.content > div {
  height: var(--height);
}

div.fullMessage {
  justify-content: center;
  align-items: center;
}

div.fullMessage > img {
  margin-top: 0.5vw;
  height: calc(0.3 * var(--height));
}

div.fullMessage > * {
  font-size: calc(0.175 * var(--height));
  line-height: calc(0.175 * var(--height));
  height: calc(0.175 * var(--height));
  margin: 1vw;
  font-family: "NetworkSansRegular";
}


div.left {
  width: 70vw;
}

div.message, div.serviceMessage {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.message p, div.serviceMessage p {
  font-size: 6vw;
  line-height: 6vw;
}

div.message p.large, div.serviceMessage p.large {
  font-size: 7.5vw;
  line-height: 7.5vw;
}

div.nextDeparture {
  flex-direction: column;
}

@-webkit-keyframes burnLine {
  0% {
    width:0
    }

  100% {
    width:100%
  }
}

div.burnLine {
  position: absolute;
  background-color: #0074d9;
  width: 0;
  height: calc(0.25 * var(--height));
  z-index: 0;
  transition: burnLine 30s linear;
  transition-property: width;
}

div.burnLine.active {
  width: 70vw;
}

div.burnLine.reset {
  width: 0;
  transition: burnLine 0s linear;
}

div.departureInfo {
  height: calc(0.25 * var(--height));
  display: flex;
  align-items: center;
  z-index: 1;
}

div.departureInfo span.firstDestination {
  margin-left: 0.5vw;
  font-size: calc(0.17 * var(--height));
  font-family: "NetworkSansBold";
  letter-spacing: -0.22vw;
}

div.departureInfo > div {
  display: flex;
  flex-direction: column;
}

div.departureInfo > div > span:nth-child(1) {
  font-size: calc(0.035 * var(--height));
  font-family: "NetworkSansRegular"
}

div.departureInfo > div > span:nth-child(2) {
  font-size: calc(0.15 * var(--height));
  line-height: calc(0.13 * var(--height));
  font-family: "NetworkSansBold"
}

div.scheduledDiv {
  margin-left: auto;
  min-width: 7vw;
}

div.actualDiv {
  margin-left: 2vw;
  min-width: 7vw;
  margin-right: 0.5vw;
}

div.departureInfo > div.actualDiv > div > span:nth-child(1) {
  font-size: calc(0.15 * var(--height));
  line-height: calc(0.13 * var(--height));
  font-family: "NetworkSansBold"
}

div.departureInfo > div.actualDiv > div > span:nth-child(2) {
  font-size: calc(0.07 * var(--height));
  line-height: calc(0.07 * var(--height));
  margin-left: 0.2vw;
}

div.hozWhiteLine {
  height: calc(0.005 * var(--height));
  background: #ffffff;
}

div.serviceMessage {
  height: calc(0.7 * var(--height));
}

div.stops {
  height: calc(0.7 * var(--height));
  background: #00000;

  display: flex;
}

div.stops div.stopsColumn {
  min-width: 12vw;
  padding-right: 2vw;
}

div.stops div.stopsColumn:nth-child(1) div {
  border-left: none !important;
}

div.stops div.stopsColumn div {
  border-left: 0.125vw solid white;
  padding-left: 1vw;
  margin-top: calc(0.04 * var(--height));
  margin-left: 0.25vw;
}

div.stops div.stopsColumn div p {
  font-size: calc(0.075 * var(--height));
  line-height: calc(0.085 * var(--height));
  font-family: NetworkSansRegular;
  white-space: nowrap;
}

div.stopsColumn.expressRow {
  min-width: unset !important;
}

div.stopsColumn.columns-9 {
  min-width: unset !important;
}

div.stopsColumn.columns-9 div {
  margin-top: calc(0.02 * var(--height)) !important;
}

div.stopsColumn.columns-9 div p {
  font-size: calc(0.07 * var(--height)) !important;
  line-height: calc(0.08 * var(--height)) !important;
}




div.right {
  width: 29.75vw;
  border-left: 0.25vw solid white;
}

div.headers {
  height: calc(0.09 * var(--height));
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

div.headers span {
  color: #000000;
  font-size: calc(0.035 * var(--height));
  line-height: calc(0.035 * var(--height));
}

div.headers span.actual {
  margin-right: 2vw !important;
}

div.followingDeparture {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(0.21 * var(--height));
}

div.followingDeparture > div {
  display: flex;
  align-content: center;
  margin-top: calc(-0.02 * var(--height));
}

div.right span.scheduled {
  margin-left: 0.5vw;
  width: 6.5vw;
  font-family: "NetworkSansBold";
}

div.right span.destination {
  font-family: "NetworkSansBold";
}

div.right span.actual {
  margin-left: auto;
  margin-right: 0.5vw;
  text-align: right;
  width: 3vw;
  font-family: "NetworkSansBold";
}

div.right span.min {
  margin-right: 0.5vw;
  text-align: right;
  font-family: "NetworkSansRegular";
  margin-top: 0.2vw;
}

div.followingDeparture span.stoppingType {
  margin-left: 0.5vw;
  font-family: "NetworkSansRegular";
}

div.followingDeparture span {
  font-size: calc(0.065 * var(--height));
  line-height: calc(0.065 * var(--height));
  height: calc(0.065 * var(--height));
}

div.followingDeparture:nth-child(3) {
  border-top: 0.1vw solid grey;
  border-bottom: 0.1vw solid grey;
}

div.time {
  margin-top: calc(0.11 * var(--height));
  height: calc(0.17 * var(--height));
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.timeContainer {
  width: 29.25vw;
  height: calc(0.145 * var(--height));
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1vw solid gray;
  margin-right: 0.25vw;
}

div.time span {
  color: #000000;
  font-family: "NetworkSansBold";
  font-size: calc(0.13 * var(--height));
  line-height: calc(0.13 * var(--height));
}

div.vline {
  background-color: #43157c;
}
