div.content > div {
  width: var(--width);
}

div.content {
  background-color: #222222 !important;
  color: white !important;
}

div.content.announcements {
  background-color: #000000 !important;
}

div.fullMessage {
  height: var(--height);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000 !important;
}

div.fullMessage > img {
  margin-top: calc(0.005 * var(--width));
  height: calc(0.2 * var(--height));
}

div.fullMessage > * {
  font-size: calc(0.15 * var(--height));
  line-height: calc(0.13 * var(--height));
  height: calc(0.13 * var(--height));
  margin: calc(0.01 * var(--width));
  font-family: "NetworkSansRegular";
  white-space: nowrap;
}

div.message, div.serviceMessage {
  height: calc(0.825 * var(--height));
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.message p, div.serviceMessage p {
  font-size: calc(0.065 * var(--width));
}

div.message p.large, div.serviceMessage p.large {
  font-size: calc(0.08 * var(--width));
}

div.nextDeparture {
  flex-direction: column;
}

@-webkit-keyframes burnLine {
  0% {
    width: 0
    }

  100% {
    width: 100%
  }
}

div.burnLine {
  position: absolute;
  background-color: #0074d9;
  width: 0;
  height: calc(0.17 * var(--height));
  z-index: 0;
  transition: burnLine 30s linear;
  transition-property: width;
}

div.burnLine.active {
  width: var(--width);
}

div.burnLine.reset {
  width: 0;
  transition: burnLine 0s linear;
}

div.departureInfo {
  height: calc(0.17 * var(--height));
  display: flex;
  align-items: center;
  z-index: 1;
}

div.departureInfo span.firstDestination {
  margin-left: calc(0.005 * var(--width));
  font-size: calc(0.12 * var(--height));
  font-family: "NetworkSansBold";
  letter-spacing: -0.22vw;
}

div.departureInfo > div {
  display: flex;
  flex-direction: column;
}

div.departureInfo > div > span:nth-child(1) {
  font-size: calc(0.035 * var(--height));
  font-family: "NetworkSansRegular"
}

div.departureInfo > div > span:nth-child(2) {
  font-size: calc(0.1 * var(--height));
  line-height: calc(0.09 * var(--height));
  font-family: "NetworkSansBold"
}

div.scheduledDiv {
  margin-left: auto;
  min-width: calc(0.07 * var(--width));
}

div.actualDiv {
  margin-left: calc(0.02 * var(--width));
  min-width: calc(0.07 * var(--width));
  margin-right: calc(0.09 * var(--width));
}

div.departureInfo > div.actualDiv > div > span:nth-child(1) {
  font-size: calc(0.1 * var(--height));
  line-height: calc(0.09 * var(--height));
  font-family: "NetworkSansBold"
}

div.departureInfo > div.actualDiv > div > span:nth-child(2) {
  font-size: calc(0.07 * var(--height));
  line-height: calc(0.07 * var(--height));
  margin-left: calc(0.002 * var(--width));
}

div.hozWhiteLine {
  height: calc(0.005 * var(--height));
  background: #ffffff;
}

div.serviceMessage {
  height: calc(0.65 * var(--height));
}

div.stops {
  height: calc(0.65 * var(--height));
  background: #222222;

  display: flex;
}

div.stops div.stopsColumn {
  min-width: calc(0.12 * var(--width));
  margin-right: auto;
}

div.stops div.stopsColumn:nth-child(1) div {
  border-left: none !important;
}

div.stops div.stopsColumn div {
  border-left: calc(0.00125 * var(--width)) solid white;
  padding-left: calc(0.01 * var(--width));
  margin-top: calc(0.02 * var(--height));
  margin-left: calc(0.0025 * var(--width));
}

div.stops div.stopsColumn div p {
  font-size: calc(0.065 * var(--height));
  white-space: nowrap;
}

div.stops div.stopsColumn div p.squish {
  letter-spacing: -0.05vw;
  transform: scaleX(0.87);
  transform-origin: left;
}

div.stopsColumn.expressRow {
  min-width: unset !important;
}

div.stopsColumn.columns-8 {
  min-width: unset !important;
}

div.stopsColumn.columns-8 div {
  margin-top: calc(0.01 * var(--height)) !important;
}

div.stopsColumn.columns-8 div p {
  font-size: calc(0.06 * var(--height)) !important;
}




div.followingDepartures {
  border-top: calc(0.005 * var(--height)) solid white;
}

div.followingDeparture:nth-child(1) {
  border-bottom: calc(0.002 * var(--height)) solid #a0a0a0;
}

div.followingDeparture {
  height: calc(0.084 * var(--height))
}

div.followingDeparture span.scheduled {
  margin-left: calc(0.005 * var(--width));
  width: calc(0.1 * var(--width));
  font-family: "NetworkSansBold";
}

div.followingDeparture span.destination {
  font-family: "NetworkSansBold";
  width: calc(0.3 * var(--width));
}

div.followingDeparture span.stoppingType {
  margin-left: calc(0.005 * var(--width));
  width: calc(0.46 * var(--width));
  font-family: "NetworkSansRegular";
}

div.followingDeparture span.actual {
  margin-left: auto;
  margin-right: calc(0.01 * var(--width));
  text-align: right;
  width: calc(0.05 * var(--width));
}

div.followingDeparture span.min {
  text-align: right;
  font-family: "NetworkSansRegular";
}

div.followingDeparture span {
  margin-top: calc(0.0024 * var(--height));
  font-size: calc(0.06 * var(--height));
  display: inline-block;
}

div.followingDeparture:nth-child(3) {
  border-top: calc(0.001 * var(--width)) solid grey;
  border-bottom: calc(0.001 * var(--width)) solid grey;
}

div.time {
  margin-top: calc(0.11 * var(--height));
  height: calc(0.17 * var(--height));
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.timeContainer {
  width: 29.25vw;
  height: calc(0.145 * var(--height));
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(0.001 * var(--width)) solid gray;
  margin-right: calc(0.0025 * var(--width));
}

div.time span {
  color: #000000;
  font-family: "NetworkSansBold";
  font-size: calc(0.13 * var(--height));
  line-height: calc(0.13 * var(--height));
}

div.vline {
  background-color: #43157c;
}
