body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

p {
  margin: 0;
}

div.content {
  display: block;
}

div.fullMessage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.fullMessage > img {
  margin-top: 0.5vw;
  height: calc(0.3 * var(--height));
}

div.fullMessage > * {
  font-size: calc(0.175 * var(--height));
  line-height: calc(0.175 * var(--height));
  height: calc(0.175 * var(--height));
  margin: 1vw;
  font-family: "NetworkSansRegular";
  white-space: nowrap;
}

div.message {
  height: calc(var(--height) - 7.25vw + 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.message p {
  font-size: 6vw;
  line-height: 7vw;
  height: 7vw;
  text-align: center;
}

div.firstDeparture  {
  height: calc(var(--height) - 7.25vw + 1px);
}

@-webkit-keyframes burnLine {
  0% {
    width: 0
    }

  100% {
    width: 100%
  }
}

div.burnLine {
  position: absolute;
  background-color: #0074d9;
  width: 0;
  height: 13vw;
  z-index: 0;
  transition: burnLine 30s linear;
  transition-property: width;
}

div.burnLine.active {
  width: 100vw;
}

div.burnLine.reset {
  width: 0;
  transition: burnLine 0s linear;
}

div.topRow {
  height: 13vw;
  display: flex;
  z-index: 1;
}

div.topRow > * {
  z-index: 1;
}

p.firstDestination {
  font-size: 10.75vw;
  margin-left: 0.5vw;
  font-family: "NetworkSansBold";
  letter-spacing: -0.2vw;
  white-space: nowrap;
}

p.firstDestination.smaller {
  font-family: "NetworkSansMedium";
  letter-spacing: -0.3vw;
  font-size: 9.5vw;
  margin-top: 0.7vw;
}

p.firstDestination.smallest {
  font-family: "NetworkSansMedium";
  letter-spacing: -0.4vw;
  font-size: 7.5vw;
  margin-top: 2.5vw;
}

div.firstDepartureInfo {
  margin-left: auto;
  text-align: center;
  display: flex;
  width: 36vw;
}

div.scheduled {
  width: 20vw;
}

div.scheduled p:nth-child(1), div.actual > p:nth-child(1) {
  font-family: "NetworkSansRegular";
  font-size: 3vw;
  margin-top: 1vw;
  letter-spacing: 0vw;
}

div.scheduled p:nth-child(2) {
  font-size: 7.25vw;
  margin-left: 0.4vw;
  margin-top: -1.3vw;
}

div.actual {
  width: 16vw
}

div.actual div:nth-child(2) {
  margin-top: -1.3vw;
}

div.actual div:nth-child(2) > span:nth-child(1) {
  font-size: 7.25vw;
  margin-left: 0.4vw;
}

div.actual div:nth-child(2) > span:nth-child(2) {
  font-size: 2.25vw;
}

div.middleRow {
  height: 5vw;
}

div.middleRow p {
  font-family: "NetworkSansRegular";
  font-size: 6.25vw;
  margin-left: 0.5vw;
  white-space: nowrap;
  width: fit-content;
  width: -moz-fit-content;
  width: -o-fit-content;
  width: -webkit-fit-content;
  height: 0;

  opacity: 1;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

div.middleRow p.serviceMessage {
  display: none;
  width: 100vw;
  text-align: center;
  height: 0;
}

div.whiteLine {
  width: 100vw;
  height: 0.25vw;
  background-color: white;
}

div.bottomRow {
  display: flex;
  align-items: center;
  height: 7vw;
  font-size: 3.8vw;
  font-family: "NetworkSansBold";
}

div.bottomRow.vline {
  background-color: #43157c;
}

div.bottomRow > * {
  margin-top: -0.5vw;
}

div.bottomRow > span:nth-child(1) {
  margin-left: 0.5vw;
  width: 10vw;
}

div.bottomRow > span:nth-child(2) {
  margin-left: 3vw;
  width: 27.5vw;
  letter-spacing: -0.1vw;
}

div.bottomRow > span:nth-child(3) {
  margin-left: 1.5vw;
  width: 20vw;
  font-family: "NetworkSansRegular";
  font-size: 3.5vw;
  letter-spacing: -0.1vw;

  white-space: nowrap;
  overflow: hidden
}

div.bottomRow > div:nth-child(4) {
  margin-left: auto;
  margin-right: 1vw;
}

div.bottomRow > div:nth-child(4) span:nth-child(1) {
  width: 15vw;
}

div.bottomRow > div:nth-child(4) span:nth-child(2) {
  font-size: 2vw;
  width: 15vw;
}

div.timeNow {
  margin-top: 0 !important;
  color: black;
  background-color: white;
  height: 7vw;
  width: 17.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  font-family: "NetworkSansRegular";
}
