div.infoRow span {
  font-size: calc(2vw + 2vh);
}

div.infoRow {
  width: 100vw;
  height: calc(4vh + 4vw);
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.departureInfo span.info.smaller {
  width: unset;
}

div.infoRow > span {
  margin-left: calc(1vw + 1vh);
}

div.infoRow.depot {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: calc(5vh + 5vw);
}

div.infoRow.depot > span.depot {
  font-size: calc(1.4vw + 1.7vh);
}

div.infoRow.depot > span.tripID {
  font-size: calc(1.3vw + 1.3vh);
}

div.infoRow.heat-timetable {
  background-color: #ff4800;
  color: #000000;
}

div.vehicle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: calc(7vw + 7vh);
  margin-right: calc(1.3vw + 1.3vh);
}

div.vehicle img {
  height: calc(3vw + 3vh);
}

div.liveConsist {
  width: 100vw;
  height: calc(4vh + 4vw);
  background-color: #171717;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.liveConsist span {
  margin-left: calc(1vw + 1vh);
}

div.liveConsist span.header {
  font-size: calc(1.1vw + 1.1vh);
}

div.liveConsist span.consist {
  width: 95vw;
  font-size: calc(1.5vw + 1.5vh);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.timingRow {
  background-color: #2a2a2a;

  display: flex;
  height: calc(6.5vw + 6.5vh);
}

div.timingRow:nth-child(even) {
  background-color: #202020;
}

a.departureInfo {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: calc(100vw - (6vw + 6.3vh));
}

div.tripInfoRow span {
  font-size: calc(1.6vw + 1.6vh);
  margin-left: calc(1vw + 1vh);
}

div.tripInfoRow {
  width: 100vw;
  height: calc(4vh + 4vw);
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


div.timingRow a.departureInfo span {
  margin-left: calc(1vw + 1vh);
}

div.timingRow a.departureInfo span.platform {
  font-size: calc(1.2vw + 1.1vh);
  margin-top: calc(0.2vw + 0.2vh);
}

div.timingRow a.departureInfo span.stopRoad {
  font-size: calc(1.2vw + 1vh);

  color: #8f8f8f;
}

div.timingRow a.departureInfo span.cancelled {
  font-size: calc(1.2vw + 1.1vh);

  color: #e03549;
}

div.timingRow a.departureInfo span.stopName {
  font-size: calc(1.6vw + 1.6vh);
  /* line-height: calc(1.6vw + 1.6vh); */

  color: #c5c5c5;
}

div.timing {
  height: calc(6.5vw + 6.5vh);
  width: calc(6vw + 6.3vh);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: calc(1.05vw + 1.05vh);
  color: #101010;
}

div.timing span {
  width: calc(6vw + 6vh);
  text-align: center;
}

div.timing span:last-child {
  margin-bottom: calc(0.3vw + 0.3vh);
}




div.timingRow:nth-child(odd) div.timing.early:nth-child(odd) {
  background-color: var(--light-blue-odd);
}

div.timingRow:nth-child(odd) div.timing.early:nth-child(even) {
  background-color: var(--light-blue-even);
}

div.timingRow:nth-child(odd) div.timing.on-time:nth-child(odd) {
  background-color: var(--green-odd);
}

div.timingRow:nth-child(odd) div.timing.on-time:nth-child(even) {
  background-color: var(--green-even);
}

div.timingRow:nth-child(odd) div.timing.late:nth-child(odd) {
  background-color: var(--red-odd);
}

div.timingRow:nth-child(odd) div.timing.late:nth-child(even) {
  background-color: var(--red-even);
}

div.timingRow:nth-child(odd) div.timing.unknown:nth-child(odd) {
  background-color: var(--grey-odd);
}

div.timingRow:nth-child(odd) div.timing.unknown:nth-child(even) {
  background-color: var(--grey-even);
}

div.timingRow:nth-child(odd) div.timing.cancelled:nth-child(odd) {
  background-color: var(--orange-odd);
}

div.timingRow:nth-child(odd) div.timing.cancelled:nth-child(even) {
  background-color: var(--orange-even);
}



div.timingRow:nth-child(even) div.timing.early:nth-child(even) {
  background-color: var(--light-blue-odd);
}

div.timingRow:nth-child(even) div.timing.early:nth-child(odd) {
  background-color: var(--light-blue-even);
}

div.timingRow:nth-child(even) div.timing.on-time:nth-child(even) {
  background-color: var(--green-odd);
}

div.timingRow:nth-child(even) div.timing.on-time:nth-child(odd) {
  background-color: var(--green-even);
}

div.timingRow:nth-child(even) div.timing.late:nth-child(even) {
  background-color: var(--red-odd);
}

div.timingRow:nth-child(even) div.timing.late:nth-child(odd) {
  background-color: var(--red-even);
}

div.timingRow:nth-child(even) div.timing.unknown:nth-child(even) {
  background-color: var(--grey-odd);
}

div.timingRow:nth-child(even) div.timing.unknown:nth-child(odd) {
  background-color: var(--grey-even);
}

div.timingRow:nth-child(even) div.timing.cancelled:nth-child(even) {
  background-color: var(--orange-odd);
}

div.timingRow:nth-child(even) div.timing.cancelled:nth-child(odd) {
  background-color: var(--orange-even);
}
