extends ../textbar-layout

block head
  title TransportVic - Search
  link(rel='preload' href='/static/images/clear-icons/bus.svg' as='image')
  link(rel='preload' href='/static/images/clear-icons/coach.svg' as='image')
  link(rel='preload' href='/static/images/clear-icons/tram.svg' as='image')
  link(rel='preload' href='/static/images/clear-icons/metro.svg' as='image')
  link(rel='preload' href='/static/images/clear-icons/vline.svg' as='image')

block title
  span Search

block scripts
  script(src='/static/scripts/search.js')
  
append style
  link(rel='stylesheet' href='/static/css/search.css')
  link(rel='stylesheet' href='/static/css/loading.css')

append content
  div#loading(style='display: none')
    div#loading-bar
  div#search-results
