extends ../layout

block head
  title TransportVic - 400

block title
  span 400 :(

append style
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  div.errorPage
    h2 400: Error
    if errorMessage
      h3 #{errorMessage}
    img(src='/static/images/home/404.svg')
    div
      a(href='/') Try going home
      span  Or 
      a(href='#' onclick="history.back()") Going back a page
    
