extends ../layout

block head
  title TransportVic - 404

block title
  span 404!

append content
  div.errorPage
    h2 404: Looks like you're lost...
    img(src=`${staticBase}/static/images/home/404.svg`)
    div
      a(href='/') Try going home
      span  Or 
      a(href='/search') Searching for a stop
    
