extends ../layout

block head
  title TransportVic - Missing Stop

block title
  span Missing Stop!

append content
  div.errorPage
    h2 404: Where's that stop gone off to?
    img(src=`${staticBase}/static/images/home/no-stop.svg`)
    div
      a(href='/search') Try searching for it
      span  Or 
      a(href='javascript:history.back()') Going back a page
    
