extends ../layout

block head
  title TransportVic - Missing Trip

block title
  span Missing Trip!

append content
  div.errorPage
    h2 404: Couldn't find that trip!
    img(src='/static/images/home/no-trip.svg')
    div
      a(href='/home') Try going home
      span  Or 
      a(href='javascript:history.back()') Going back a page
    
