body {
  overflow: hidden;
}

div.content {
  display: block;
}

div.fullMessage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.fullMessage div.announcements {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.fullMessage div.fixedMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.fullMessage img {
  height: calc(var(--height) * 0.3);
}

div.fullMessage p {
  font-family: "NetworkSansRegular";
  white-space: nowrap;
}

div.fullMessage div.announcements p {
  font-size: calc(var(--height) * 0.175);
  line-height: calc(var(--height) * 0.175);
  margin: calc(var(--width) * 0.01);
}

div.fullMessage div.fixedMessage p {
  font-size: calc(var(--height) * 0.3);
  line-height: calc(var(--height) * 0.33);
}

div.message {
  height: calc(var(--height) * (1 - 0.01 - 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.message p {
  font-size: calc(var(--height) * 0.21);
  line-height: calc(var(--height) * 0.2);
  height: calc(var(--height) * 0.21);
  text-align: center;
}

div.firstDeparture  {
  height: calc(var(--height) * (1 - 0.01 - 0.25));
}

@-webkit-keyframes burnLine {
  0% {
    width: 0
    }

  100% {
    width: 100%
  }
}

div.burnLine {
  position: absolute;
  background-color: #0074d9;
  width: 0;
  height: calc(var(--height) * 0.46);
  z-index: 0;
  transition: burnLine 30s linear;
  transition-property: width;
}

div.burnLine.active {
  width: var(--width);
}

div.burnLine.reset {
  width: 0;
  transition: burnLine 0s linear;
}

div.topRow {
  height: calc(var(--height) * 0.46);
  display: flex;
  z-index: 1;
}

div.topRow > * {
  z-index: 1;
}

p.firstDestination {
  font-size: calc(var(--height) * 0.382);
  margin-left: calc(var(--width) * 0.005);
  font-family: "NetworkSansBold";
  letter-spacing: calc(var(--width) * -0.002);
  white-space: nowrap;
}

p.firstDestination.smaller {
  font-family: "NetworkSansMedium";
  letter-spacing: calc(var(--width) * -0.003);
  font-size: calc(var(--height) * 0.33);
  margin-top: calc(var(--height) * 0.03);
}

p.firstDestination.smallest {
  font-family: "NetworkSansMedium";
  letter-spacing: calc(var(--width) * -0.004);
  font-size: calc(var(--height) * 0.265);
  margin-top: calc(var(--height) * 0.08);
}

div.firstDepartureInfo {
  margin-left: auto;
  text-align: center;
  display: flex;
  width: calc(var(--width) * 0.36);
}

div.scheduled {
  width: calc(var(--width) * 0.20);
}

div.scheduled p:nth-child(1), div.actual > p:nth-child(1) {
  font-family: "NetworkSansRegular";
  font-size: calc(var(--height) * 0.107);
  margin-top: calc(var(--height) * 0.035);
  letter-spacing: 0;
}

div.scheduled p:nth-child(2) {
  font-size: calc(var(--height) * 0.258);
  margin-left: calc(var(--width) * 0.004);
  margin-top: calc(var(--height) * -0.045);
}

div.actual {
  width: calc(var(--width) * 0.16)
}

div.actual div:nth-child(2) {
  margin-top: calc(var(--height) * -0.045);
}

div.actual div:nth-child(2) > span:nth-child(1) {
  font-size: calc(var(--height) * 0.258);
  margin-left: calc(var(--width) * 0.004);
}

div.actual div:nth-child(2) > span:nth-child(2) {
  font-size: calc(var(--height) * 0.1);
}

div.middleRow p {
  font-family: "NetworkSansRegular";
  font-size: calc(var(--height) * 0.222);
  margin-left: calc(var(--width) * 0.005);
  white-space: nowrap;
  width: fit-content;
  width: -moz-fit-content;
  width: -o-fit-content;
  width: -webkit-fit-content;
  height: 0;

  opacity: 1;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  margin-top: calc(var(--height) * -0.01);
}

div.middleRow p.serviceMessage {
  display: none;
  width: var(--width);
  text-align: center;
  height: 0;
}

p.serviceMessage div.arrivalMessage {
  display: flex;
  margin-top: calc(var(--height) * 0.015);
}

p.serviceMessage div.arrivalMessage img {
  height: calc(var(--height) * 0.25);
  margin: 0 calc(var(--width) * 0.01);
}

p.serviceMessage div.arrivalMessage p {
  font-size: calc(var(--height) * 0.17);
  margin-top: calc(var(--height) * 0.015);
}

div.whiteLine {
  width: var(--width);
  height: calc(var(--height) * 0.01);
  background-color: white;
}

div.bottomRow {
  display: flex;
  align-items: center;
  height: calc(var(--height) * 0.25);
  font-size: calc(var(--width) * 0.038);
  font-family: "NetworkSansBold";
}

div.bottomRow.vline {
  background-color: #753f98;
}

div.bottomRow > * {
  margin-top: calc(var(--height) * -0.007);
}

div.bottomRow > span:nth-child(1) {
  margin-left: calc(var(--width) * 0.005);
  width: calc(var(--width) * 0.10);
}

div.bottomRow > span:nth-child(2) {
  margin-left: calc(var(--width) * 0.03);
  width: calc(var(--width) * 0.275);
  letter-spacing: calc(var(--width) * -0.001);
}

div.bottomRow > span:nth-child(3) {
  margin-left: calc(var(--width) * 0.015);
  width: calc(var(--width) * 0.22);
  font-family: "NetworkSansRegular";
  letter-spacing: calc(var(--width) * -0.001);

  white-space: nowrap;
  overflow: hidden
}

div.bottomRow > div:nth-child(4) {
  margin-left: auto;
  margin-right: calc(var(--width) * 0.01);
}

div.bottomRow > div:nth-child(4) span:nth-child(1) {
  width: calc(var(--width) * 0.15);
}

div.bottomRow > div:nth-child(4) span:nth-child(2) {
  font-size: calc(var(--height) * 0.08);
  width: calc(var(--width) * 0.15);
}

div.clock {
  margin-top: 0 !important;
  color: black;
  background-color: white;
  height: calc(var(--height) * 0.25);
  width: calc(var(--width) * 0.175);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--height) * 0.17);
  font-family: "NetworkSansRegular";
}
