div.content > div {
  height: var(--height);
}

div.fullMessage {
  justify-content: center;
  align-items: center;
}

div.fullMessage > img {
  height: calc(var(--height) * 0.3);
}

div.fullMessage > * {
  font-size: calc(var(--height) * 0.175);
  line-height: calc(var(--height) * 0.175);
  height: calc(var(--height) * 0.175);
  margin: calc(var(--width) * 0.01);
  font-family: "NetworkSansRegular";
  white-space: nowrap;
}


div.left {
  width: calc(var(--width) * 0.70);
}

div.message, div.serviceMessage {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.message p, div.serviceMessage p {
  font-size: calc(var(--height) * 0.2);
  line-height: calc(var(--height) * 0.2);
}

div.message p.large, div.serviceMessage p.large {
  font-size: calc(var(--height) * 0.25);
  line-height: calc(var(--height) * 0.25);
}

div.serviceMessage div.arrivalMessage {
  width: 95%;
}

div.serviceMessage div.arrivalMessage p {
  font-size: calc(var(--height) * 0.17);
}

div.nextDeparture {
  flex-direction: column;
}

@-webkit-keyframes burnLine {
  0% {
    width: 0
    }

  100% {
    width: 100%
  }
}

div.burnLine {
  position: absolute;
  background-color: #0074d9;
  width: 0;
  height: calc(var(--height) * 0.25);
  z-index: -1;
  transition: burnLine 30s linear;
  transition-property: width;
}

div.burnLine.active {
  width: calc(var(--width) * 0.70);
}

div.burnLine.reset {
  width: 0;
  transition: burnLine 0s linear;
}

div.departureInfo {
  height: calc(var(--height) * 0.25);
  display: flex;
  align-items: center;
  z-index: 1;
}

div.departureInfo.hidden .text {
  opacity: 0;
}

div.departureInfo span.firstDestination {
  margin-left: calc(var(--width) * 0.005);
  font-size: calc(var(--height) * 0.17);
  font-family: "NetworkSansBold";
  letter-spacing: calc(var(--width) * -0.0022);
}

div.departureInfo > div {
  display: flex;
  flex-direction: column;
}

div.departureInfo > div > span:nth-child(1) {
  font-size: calc(var(--height) * 0.035);
  font-family: "NetworkSansRegular"
}

div.departureInfo > div > span:nth-child(2) {
  font-size: calc(var(--height) * 0.15);
  line-height: calc(var(--height) * 0.13);
  font-family: "NetworkSansBold"
}

div.scheduledDiv {
  margin-left: auto;
  min-width: calc(var(--width) * 0.07);
}

div.actualDiv {
  margin-left: calc(var(--width) * 0.02);
  min-width: calc(var(--width) * 0.07);
  margin-right: calc(var(--width) * 0.005);
}

div.departureInfo > div.actualDiv > div > span:nth-child(1) {
  font-size: calc(var(--height) * 0.15);
  line-height: calc(var(--height) * 0.13);
  font-family: "NetworkSansBold"
}

div.departureInfo > div.actualDiv > div > span:nth-child(2) {
  font-size: calc(var(--height) * 0.07);
  line-height: calc(var(--height) * 0.07);
  margin-left: calc(var(--width) * 0.002);
}

div.hozWhiteLine {
  height: calc(var(--height) * 0.005);
  background: #ffffff;
}

div.serviceMessage {
  height: calc(var(--height) * 0.7);
}

div.stops {
  height: calc(var(--height) * 0.7);

  display: flex;
}

div.stops div.stopsColumn {
  min-width: calc(var(--width) * 0.12);
  margin-right: auto;
}

div.stops div.stopsColumn:nth-child(1) div {
  border-left: none !important;
}

div.stops div.stopsColumn.expressColumn:nth-child(1) div {
  padding-left: 0;
  margin-left: 0;
}

div.stops div.stopsColumn div {
  border-left: calc(var(--width) * 0.00125) solid white;
  padding-left: calc(var(--width) * 0.01);
  margin-top: calc(var(--height) * 0.02);
  margin-left: calc(var(--width) * 0.0025);
}

div.stops div.stopsColumn div span {
  font-size: calc(var(--height) * 0.075);
  line-height: calc(var(--height) * 0.085);
  margin-top: calc(var(--height) * 0.01) !important;

  white-space: nowrap;
  display: inline-block;
}

div.stops div.stopsColumn div span.squish {
  letter-spacing: calc(var(--width) * -0.0005);
  transform: scaleX(0.98);
  transform-origin: left;
}

div.stopsColumn.expressColumn {
  min-width: unset !important;
  margin-right: calc(var(--width) * 0.04) !important;
}

div.stopsColumn.expressColumn:last-child {
  margin-right: 50% !important;
}

div.stops div.stopsColumn.columns-7 div span {
  margin-top: calc(var(--height) * 0.012) !important;
  font-size: calc(var(--height) * 0.075) !important;
}

div.stopsColumn.columns-9, div.stopsColumn.columns-8 {
  min-width: unset !important;
}

div.stops div.stopsColumn.columns-8 div {
  margin-top: calc(var(--height) * 0.015) !important;
}

div.stops div.stopsColumn.columns-8 div span {
  margin-top: calc(var(--height) * 0.0034) !important;
}

div.stops div.stopsColumn.columns-9 div {
  margin-top: calc(var(--height) * 0.01) !important;
}

div.stops div.stopsColumn.columns-9 div span {
  margin-top: calc(var(--height) * 0.001) !important;
  font-size: calc(var(--height) * 0.07) !important;
  line-height: calc(var(--height) * 0.079) !important;
}

div.stops div.stopsColumn.columns-10 div {
  margin-top: calc(var(--height) * 0.007) !important;
}

div.stops div.stopsColumn.columns-10 div span {
  margin-top: calc(var(--height) * 0.0012) !important;
  font-size: calc(var(--height) * 0.06) !important;
  line-height: calc(var(--height) * 0.071) !important;
}


div.vertLine {
  width: calc(var(--width) * 0.0025);
  background-color: #ffffff;
}

div.right {
  width: calc(var(--width) * 0.2975);
  flex-direction: column;
}

div.headers {
  height: calc(var(--height) * 0.09);
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

div.headers span {
  color: #000000;
  font-size: calc(var(--height) * 0.035);
  line-height: calc(var(--height) * 0.035);
}

div.headers span.actual {
  margin-right: calc(var(--width) * 0.02) !important;
}

div.followingDeparture {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(var(--height) * 0.21);
}

div.followingDeparture > div {
  display: flex;
  align-content: center;
  margin-top: calc(-var(--height) * 0.02);
}

div.right span.scheduled {
  margin-left: calc(var(--width) * 0.005);
  width: calc(var(--width) * 0.065);
  font-family: "NetworkSansBold";
}

div.right span.destination {
  font-family: "NetworkSansBold";
}

div.right span.actual {
  margin-left: auto;
  margin-right: calc(var(--width) * 0.005);
  text-align: right;
  width: calc(var(--width) * 0.03);
  font-family: "NetworkSansBold";
}

div.right span.min {
  margin-right: calc(var(--width) * 0.005);
  text-align: right;
  font-family: "NetworkSansRegular";
}

div.followingDeparture span.stoppingType {
  margin-top: calc(var(--height) * 0.012);
  margin-left: calc(var(--width) * 0.005);
  font-family: "NetworkSansRegular";
}

div.followingDeparture span {
  font-size: calc(var(--height) * 0.065);
  line-height: calc(var(--height) * 0.065);
  height: calc(var(--height) * 0.065);
}

div.followingDeparture:nth-child(3) {
  border-top: calc(var(--width) * 0.001) solid grey;
  border-bottom: calc(var(--width) * 0.001) solid grey;
}

div.clock {
  margin-top: auto;
  height: calc(var(--height) * 0.17);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.clockContainer {
  width: calc(var(--width) * 0.2925);
  height: calc(var(--height) * 0.145);
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(var(--width) * 0.001) solid gray;
}

div.clock span {
  color: #000000;
  font-family: "NetworkSansBold";
  font-size: calc(var(--height) * 0.13);
  line-height: calc(var(--height) * 0.13);
}

div.vline {
  background-color: #753f98;
}
