extends ../layout

block head
  title TransportVic - Mockups
  
block title
  span Mockups
  
block content
  form(action='/mockups/get' method='get')
    label Get FSS Escalator display for platform# 
    input(name='value')
    input(name='type' value='fss-escalator' type='hidden')
  form(action='/mockups/get' method='get')
    label Get Bus Interchange PIDs for bus stop URL
    input(name='value')
    input(name='bay')
    input(name='type' value='bus-int-pids' type='hidden')
    input(type='submit')
  //- form(action='/mockups/get' method='get')
  //-   label Get FSS Escalator display for platform# 
  //-   input(name='platform')
  //-   input(name='type' value='fss-escalator' type='hidden')
