html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/metro-crt.js' async)
    script(src='/static/scripts/mockups/pids-utils.js') 
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/metro-crt.css')
    
    link(rel='preload' as='style' href='/static/css/mockups/base-style.css')
  body
    div.crt.leftCRT
      div.destination
        span --
      div.departureInfo
        div.scheduled
          span SCHEDULED
          span.scheduledDepartureTime --
        div.actual
          span DEPARTING
          span.departingMinutes -- 
          span.min MIN
      div.stops
        div.left
        div.right
    div.crt.rightCRT
      div.stops
        div.left
        div.right
      div.nextDeparture
        div.divider
          pre -------------------------------------------
        span.scheduledDepartureTime --
        span.destination --
        span.departingMinutes
