extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Bus'
    description = 'TransportVic Bus Tracker'
  title #{title}
  link(rel='preload' as='style' href='/static/css/form.css')
  
block title
  span Bus Tracker
    
block style
  link(rel='stylesheet' href='/static/css/form.css')

block content
  h1#title Bus Tracker
  h2 Track Your Bus By:
  br
  form(method="GET" action="/bus/tracker/fleet")#byFleet
    label(for="fleet") Bus Fleet Number:
    br
    div.inputSection
      input(type="text" maxlength="7" name="fleet" value="" placeholder="Fleet Number" autocomplete="off")
      input(type="submit" value="Go")
  br
  form(method="GET" action="/bus/tracker/service")#byService
    label(for="service") Bus Service:
    br
    div.inputSection
      input(type="text" name="service" value="" placeholder="Service Number" autocomplete="off")
      input(type="submit" value="Go")
  br
  form(method="GET" action="/bus/tracker/operator-list")#byOperator
    label(for="operator") Operator Fleet Listing:
    br
    input(type="text" name="operator" value="" placeholder="Operator Prefix" autocomplete="off")
    br
    div.inputSection
      input(type="text" name="date" value="" placeholder="DD/MM/YYYY (Blank for today)" autocomplete="off")
      input(type="submit" value="Go")
  br
  form(method="GET" action="/bus/tracker/locator")#locator
    label(for="fleet") Bus Locator:
    br
    div.inputSection
      input(type="text" maxlength="7" name="fleet" value="" placeholder="Fleet Number" autocomplete="off")
      input(type="submit" value="Go")
  br
  h2 Alternatively,
  a#highlights(href="/bus/tracker/highlights") View Today's Highlights
  h2.regularText Or
  a#crossDepot(href="/bus/tracker/cross-depot") Cross Depot Deployments
  br
  br
