extends ../layout

block head
  title TransportVic COVID-19 Updates

  meta(property='og:title' content='TransportVic COVID-19 Updates')
  meta(property='twitter:title' content='TransportVic COVID-19 Updates')
  meta(property='og:description' content='COVID-19 Updates Regarding TransportVic & the wider PTV Network')
  meta(property='twitter:description' content='COVID-19 Updates Regarding TransportVic & the wider PTV Network')
  
block title
  span TransportVic COVID-19 Updates

block style
  link(rel='stylesheet' href='/static/css/about.css')

block content
  h1 COVID-19: State of Disaster in Victoria
  p With Stage 4 restrictions being brought into the Metropolitian Melbourne area and new State 3 restrictions in Regional Victoria, it is important that you understand the new rules in place. These restrictions begin at 8:00pm Monday 3rd August and are expected to last till Sunday 13th Septemper, subject to the state of events then.
  p Do note that this page is not meant to be a official or professional guide. For further up-to-date information please refer to the 
    a(href="https://www.vic.gov.au/CORONAVIRUS") Victorian Goverment's Coronavirus Website
  h2 Mask Wearing
  hr
  p Under new laws, masks are to be worn when home, and especially in situations when social distancing cannot be carried out effectively. Ensure that you are wearing a mask whenever you are leaving home. If possible, bring a spare in case the one you are wearing gets soiled.
  p It is also highly recommended that you maintain a high level of higene during this time. This can be as simple as washing your hands with soap for at least 20 seconds before and after travelling, and coughing into an elbow instead of your hands.
  h2 8pm - 5am Curfew
  hr
  p A curfew has been brought into place in Metropolitian Melbourne from 8pm - 5am daily. During this time, all non-essential activities outside of home must be suspended. The only reasons to leave home are:
    ul
      li Essential Work 
      li Essential Heath and Care
      li Safety Reasons
  p Under this new curfew, Public Transport will be cut back. This means that metropolitian train lines will recieve roughly hourly services, and tram routes will be reduced to up to 40 minute frequencies. Additionally, some bus services will have some late night trips cancelled. As of now, the services known are:
    ul
      li 201 (Deakin Uni Shuttle)
      li 627
      li 631
      li 663
      li 664
      li 670
      li 732 (Knox Transit Link)
      li 834 (Berwick Loop)
      li 835 (Berwick Loop)
      li 901 (Orbital Smartbus)
      li 902 (Orbital Smartbus)
      li 903 (Orbital Smartbus)
      li All Night Network Buses
  p Metropolitian train services are also being highlighted in the next train pages as COVID-19 cancellations. This is a work in progress and is dependent on the release of the data by PTV. (Note that if PTV pulls these trips from the master timetables there isn't really any option left to show this)
  h2 Outside this curfew
  hr
  p Outside of the curfew, the only reasons to leave home are:
  h3 Essential goods and services
  p This means shopping for items that are essential for you. This includes groceries from the nearest supermarket within a 5km radius of your home, and with the restriction of a maximum of one (1) person from a household leaving home to do this. Residents without a supermarket within a 5km radius are exempted from this rule, but must continue to shop at the nearest available supermarket.
  h3 Exercise
  p Exercise must be carried out with a 5km radius of home, with a maximum of 2 people from a household, provided none break any rules by doing so. Exercise must be limited to 1 hour a day.
  h3 Heath and Care
  p This includes medical appointments, caring for an elderly relative or accompanying someone as a parent or guardian for essential healthcare. Bringing pets to the vet is also permitted. 
  p(style="text-weight: 400") If you are feeling unwell and suspect you might have the Coronavirus, do not visit your GP. Instead, call them and ask for advice, and take a COVID-19 test as soon as possible. In between the test and recieving results, ensure you self-isolate at home. If you are a casual worker who cannot afford to miss days of work, government pandemic funding is available to cover you during this time.
  h3 Work
  p Only essential work is permitted to be carried out outside of home. All other work must have arrangements made to enable working from home. With the resumption of online learning from Wednesday 5th August, only students whose parents are essential workers or are at risk may physically attend school. Other provisions may apply for students with poor internet access - check with your school regarding this.
  h3 Personal Reasons
  p Visiting of partners and shared parenting arrangements are allowed to continue under the new restrictions. However, please do exercise common sense and ensure you follow social distancing guidelines.
  p You may also leave home during an emergency, or if you feel that you are under threat from a family member. If you require assistance, do not hesitate to call the authorities to seek help.
  p Additional mental health support is available from the government during this time. If you feel you require it, do not hesitate to reach out to someone.
  h2 Stage 3 Restrictions for Regional Victoria
  hr
  p Under new Stage 3 restrictions in Regional Victoria commencing Wednesday 5th August, the only reasons to leave home are:
  ul
    li To shop for food and essential services
    li To provide or seek healthcare
    li Exercise and recreation
    li Work and study, but only if it cannot be done from home. Note that regional VCE students will continue with online schooling to ensure fair conditions for the state. 
  h2 Stay Safe!
