i.alertStatus.service {
  background-color: #D3ECF4;
}

i.alertStatus.minor {
  background-color: #E87800;
}

i.alertStatus.major {
  background-color: #EF4135;
}

i.alertStatus.suspended {
  background-color: #3D3D3D;
  border: 0.15rem solid #a6a6a6;
  box-sizing: border-box;
}

i.alertStatus.works {
  background-color: #FFD500;
}

i.alertStatus.travel {
  background-color: #3199BA;
}

i.alertStatus.cancellation {
  background-color: #7e547d;
}

i.alertStatus.general {
  background-color: #0073CF;
}


span.alertLabel.service::before {
  content: "Service Alert:";
}

span.alertLabel.minor::before {
  content: "Minor Delays:";
}

span.alertLabel.major::before {
  content: "Major Delays:";
}

span.alertLabel.suspended::before {
  content: "Suspended:";
}

span.alertLabel.works::before {
  content: "Works Alert:";
}

span.alertLabel.travel::before {
  content: "Travel Alert:";
}

span.alertLabel.cancellation::before {
  content: "Cancellation:";
}

span.alertLabel.general::before {
  content: "General Alert:";
}


div.alerts div.generalAlert {
  margin-inline: calc(1 * var(--width) + 1 * var(--height));
}

div.alerts div.generalAlert p.alertHeader {
  font-size: calc(1.6 * var(--width) + 1.2 * var(--height));
  margin-block-start: calc(0.5 * var(--width) + 0.7 * var(--height));
  margin-block-end: calc(0.2 * var(--width) + 0.3 * var(--height));
}

div.alerts div.generalAlert p.alertHeader i.alertStatus {
  width: calc(1.2 * var(--width) + 1.6 * var(--height));
  height: calc(1.2 * var(--width) + 1.6 * var(--height));

  display: inline-block;
  border-radius: calc(1.2 * var(--width) + 1.6 * var(--height));

  vertical-align: middle;
}

div.alerts div.generalAlert p.alertHeader span {
  vertical-align: middle;
  margin-inline-start: calc(0.4 * var(--width) + 0.4 * var(--height));
}

div.alerts div.generalAlert div.alertText {
  font-size: calc(1 * var(--width) + 1.1 * var(--height));
}

div.alerts div.generalAlert div.alertText > * {
  margin-block-start: 0;
  margin-block-end: calc(0.5 * var(--width) + 0.7 * var(--height));
}

div.alerts div.generalAlert div.alertText > p:has(+p) {
  margin-block-end: calc(0.2 * var(--width) + 0.3 * var(--height));
}


div.alerts div.generalAlert input[type='checkbox'] {
  display: none;
}

div.alerts div.generalAlert input[type='checkbox']:not(:checked) ~ label div.alertText :not(:first-child) {
  display: none;
}

div.alerts div.generalAlert input[type='checkbox']:not(:checked) ~ label div.alertText p:first-child {
  margin-block-end: calc(0.5 * var(--width) + 0.7 * var(--height));
}