div.departure {
  background-color: #2a2a2a;

  display: flex;
  height: calc(7vw + 7vh);
  margin-left: auto;
}

div.departure:nth-child(even) {
  background-color: #202020;
}

div.departure:nth-child(even) a.departureInfo.reservationsOnly {
  background-color: #43355b;
}

a.leftContainer {
  width: calc(5vw + 5vh);
  height: calc(7vw + 7vh);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #d2d2d2;
}

a.leftContainer:visited {
  color: #d2d2d2;
}

a.leftContainer span {
  width: calc(5vw + 5vh);
  text-align: center;
}

a.leftContainer.platform span:nth-child(1) {
  font-size: calc(1vw + 1vh);
  line-height: calc(1.1vw + 1.1vh);
}

a.leftContainer.platform span:nth-child(2) {
  font-size: calc(2.5vw + 2.5vh);
}

a.leftContainer.platform span:nth-child(3) {
  font-size: calc(1vw + 1vh);
}

a.leftContainer.platform img:nth-child(2) {
  margin-top: calc(0.75vw + 0.75vh);
  height: calc(3vw + 3vh);
  padding-bottom: calc(0.25vw + 0.25vh);
}

a.departureInfo {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100%;
}

a.departureInfo.reservationsOnly {
  background-color: #594875;
}

a.departureInfo span {
  margin-left: calc(1vw + 1vh);
}

a.departureInfo span.towards {
  font-size: calc(1vh + 0.9vw);

  color: #8f8f8f;
}

a.departureInfo span.destination {
  font-size: calc(1.6vw + 1.6vh);
  margin-top: calc(-0.3vw - 0.3vh);
  line-height: calc(1.9vw + 1.9vh);

  color: #c5c5c5;
}

a.departureInfo span.info~span.info {
  -webkit-line-clamp: 1;
}

a.departureInfo span.info, a.departureInfo span.vehicle {
  width: calc(100vw - (3vw + 3vh) * 4 - (5vw + 5vh) - (1vw + 1vh) - 1.5vw);
  overflow: hidden;

  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  font-size: calc(0.9vw + 0.9vh);
  line-height: calc(1.2vw + 1.2vh);

  /* white-space: nowrap;
  text-overflow: ellipsis; */

  color: #bababa;
}

a.departureInfo span.cancelled:nth-child(3) {
  font-size: calc(1.1vw + 1.1vh);
  line-height: calc(1.1vw + 1.1vh);

  color: #e03549;
}


div.departure.no-number a.departureInfo span.routeName {
  font-size: calc(1vw + 1vh);

  color: #c5c5c5;
}

div.departure.no-number a.departureInfo span.towards {
  font-size: calc(1vh + 0.9vw);
  margin-top: calc(-0.1vw - 0.15vh);

  color: #8f8f8f;
}

div.departure.no-number a.departureInfo span.destination {
  font-size: calc(1.6vw + 1.6vh);
  line-height: calc(1.7vw + 1.7vh);

  color: #c5c5c5;
}

div.departure.no-number a.departureInfo span.info {
  font-size: calc(1vw + 1vh);
  line-height: calc(1.6vw + 1.6vh);

  color: #c5c5c5;
}


div.timings {
  display: flex;
  flex-direction: row;
}

a.timing {
  height: calc(7vw + 7vh);
  width: calc(5vw + 5vh);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: calc(1.05vw + 1.05vh);
  color: #101010;
}

a.timing.mini {
  width: calc(3vw + 3vh);
  font-size: calc(1vw + 1vh);
}

a.timing.mini > div.stats {
  height: calc(1vw + 1vh);
  width: calc(3vw + 3vh);

  position: relative;
  margin-top: calc(-1vw - 1vh);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a.timing.mini > div.stats > img {
  width: calc(1vw + 1vh);
  margin-bottom: calc(0.75vw + 0.75vh);
}

a.timing.mini span {
  width: calc(3vw + 3vh);
}

div.departure.no-number a.timing span.rego {
  top: calc(0.5vw + 0.5vh);
  font-size: calc(1vw + 1vh);
}

a.timing span.rego {
  position: relative;
  font-size: calc(0.75vw + 0.75vh) !important;
  top: calc(0.75vw + 0.75vh) !important;
  height: 0;
}

a.timing span {
  width: calc(5vw + 5vh);
  text-align: center;
}






div.departure:nth-child(odd) a.timing.early:nth-child(odd) {
  background-color: #6fd6e7;
}

div.departure:nth-child(odd) a.timing.early:nth-child(even) {
  background-color: #64c0cf;
}

div.departure:nth-child(odd) a.timing.on-time:nth-child(odd) {
  background-color: #60bd29;
}

div.departure:nth-child(odd) a.timing.on-time:nth-child(even) {
  background-color: #58ad25;
}

div.departure:nth-child(odd) a.timing.late:nth-child(odd) {
  background-color: #c93e29;
}

div.departure:nth-child(odd) a.timing.late:nth-child(even) {
  background-color: #bd3825;
}

div.departure:nth-child(odd) a.timing.unknown:nth-child(odd) {
  background-color: #9c9c9c;
}

div.departure:nth-child(odd) a.timing.unknown:nth-child(even) {
  background-color: #a8a8a8;
}

div.departure:nth-child(odd) a.timing.uncertain:nth-child(odd) {
  background-color: #e87529;
}

div.departure:nth-child(odd) a.timing.uncertain:nth-child(even) {
  background-color: #bf682d;
}



div.departure:nth-child(even) a.timing.early:nth-child(even) {
  background-color: #6fd6e7;
}

div.departure:nth-child(even) a.timing.early:nth-child(odd) {
  background-color: #64c0cf;
}

div.departure:nth-child(even) a.timing.on-time:nth-child(even) {
  background-color: #60bd29;
}

div.departure:nth-child(even) a.timing.on-time:nth-child(odd) {
  background-color: #58ad25;
}

div.departure:nth-child(even) a.timing.late:nth-child(even) {
  background-color: #c93e29;
}

div.departure:nth-child(even) a.timing.late:nth-child(odd) {
  background-color: #bd3825;
}

div.departure:nth-child(even) a.timing.unknown:nth-child(even) {
  background-color: #9c9c9c;
}

div.departure:nth-child(even) a.timing.unknown:nth-child(odd) {
  background-color: #a8a8a8;
}

div.departure:nth-child(even) a.timing.uncertain:nth-child(even) {
  background-color: #e87529;
}

div.departure:nth-child(even) a.timing.uncertain:nth-child(odd) {
  background-color: #bf682d;
}
