#content {
  --width: 1vw;
  --height: 1vh;
}

#content.map-enabled {
  --width: 0.5vw;
  --header-height: calc(4vw + 4vh);
  --textbar-height: calc(5vh + 5vw);
  --body-height: calc(100vh - var(--header-height));
}

#content.map-enabled:has(div#textbar-container) {
  --body-height: calc(100vh - var(--header-height) - var(--textbar-height));
}

div#body-container {
  display: flex;
  height: var(--body-height);
}

div.left {
  width: 100vw;
}

#content.map-enabled div#body-container div.left {
  overflow-y: scroll;
  width: 50vw;
}

#content.map-enabled div#map {
  width: 50vw;
  height: var(--body-height);
}

#content.map-enabled div#departures.map div.errorPage {
  height: var(--body-height);
}

div#map .stopIcon {
  --size: calc(3vw + 3vh);
  width: var(--size);
  height: var(--size);
  background-color: white;
  border-width: calc(0.3vw + 0.3vh);
  border-style: solid;
  border-radius: var(--size);
}

@media screen and (max-width: 800px) {
  div#body-container {
    flex-direction: column;
  }

  #content.map-enabled {
    --width: 1vw;
  }

  #content.map-enabled div#body-container div.left {
    width: 100vw;
    height: calc(var(--body-height) * 0.6);
  }

  #content.map-enabled div#map {
    width: 100vw;
    height: calc(var(--body-height) * 0.4);
  }
}


#mapLink, #clock, #bookmark {
  height: calc(2.1vw + 2.1vh);
  width: unset;
  margin-right: calc(0.4vw + 1.2vh);
  cursor: pointer;
}

#mapIcon {
  height: calc(2.1vw + 2.1vh);
  width: unset;
}

#clock-label {
  height: calc(2.1vw + 2.1vh);
}

#clockDropdown::before {
  content: " ";
  display: block;
  width: calc((2.1vw + 2.1vh) * 0.6);
  height: calc((2.1vw + 2.1vh) * 0.6);
  margin-left: calc((2.1vw + 2.1vh) * 2.2 - var(--border-thickness) * sqrt(2));
  transform: translateY(calc((2.1vw + 2.1vh) * -0.3 - var(--border-thickness) * (1 + sqrt(2) / 10))) rotate(45deg);
  border-left: calc(0.3vw + 0.3vh) solid #888;
  border-top: calc(0.3vw + 0.3vh) solid #888;
  background-color: white;
  z-index: 999;
  position: absolute;
}

#clockDropdown {
  --border-thickness: calc(0.3vw + 0.3vh);

  position: absolute;
  width: calc((2.1vw + 2.1vh) * 5);
  height: calc((2.1vw + 2.1vh) * 4.4);
  
  top: calc((2.1vw + 2.1vh) * 2.1);
  margin-left: calc((2.1vw + 2.1vh) * -2);
  
  border-radius: calc(0.3vw + 0.3vh);
  border: var(--border-thickness) solid #888;

  background-color: white;
  z-index: 1000;
  
  display: none;
}

#clockDropdown.showing {
  display: block;
}

#clockDropdown > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: calc((2.1vw + 2.1vh) * 4.4);
}

#clockDropdown input {
  font-size: calc(1.2vw + 0.8vh);
}

#departureDateTime {
  width: 0;
  border: 0;
  padding: 0;
  background: none;
  position: absolute;
  opacity: 0;
  z-index: -9999;
}

a#relevant-station {
  width: calc(100 * var(--width));
  height: calc(4 * var(--width) + 4 * var(--height));
  font-size: calc(2 * var(--width) + 1 * var(--height));
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #3483db;
  color: #f9f9f9;
}

a#relevant-station img {
  margin-inline: calc(2 * var(--width));
  height: calc(2 * var(--width) + 1.7 * var(--height));
}

#modeSwitch {
  width: calc(100 * var(--width));
  display: flex;
  height: calc(4 * var(--width) + 4 * var(--height));
  flex-direction: row;
}

#modeSwitch .modeSwitchType {
  color: #f9f9f9;
  font-size: calc(0.8 * var(--width) + 1 * var(--height));
  line-height: calc(1.2 * var(--width) + 1.2 * var(--height));
}

.modeSwitchType.inactive {
  opacity: 0.6;
}

.modeSwitchType.metro-train {
  background-color: #3483db;
}

.modeSwitchType.tram {
  background-color: #1a942a;
}

.modeSwitchType.regional-train {
  background-color: #6b4d9e;
}

.modeSwitchType.regional-coach {
  background-color: #9582b5;
}

.modeSwitchType.bus {
  background-color: #d7832c;
}

.modeSwitchType.ferry {
  background-color: #03998f;
}

.modeSwitchType.heritage-train {
  background-color: #7a562e;
}

.modeSwitchType img {
  height: calc(2 * var(--width) + 1.7 * var(--height));
  width: unset;
}

@media (max-width: 600px) {
  .modeSwitchType span {
    display: none;
  }
}

.modeSwitchType {
  height: calc(4 * var(--width) + 4 * var(--height));
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#textbar-container ~ div#modeSwitch ~ div#departures > div.errorPage {
  height: calc(96 * var(--height) - 4 * var(--width) - (4 * var(--width) + 4 * var(--height)) - (5 * var(--width) + 5 * var(--height)));
}

div#modeSwitch:nth-child(1) ~ div#departures > div.errorPage {
  height: calc(96 * var(--height) - 4 * var(--width) - (4 * var(--width) + 4 * var(--height)));
}

div#textbar-container ~ div#departures > div.errorPage {
  height: calc(96 * var(--height) - 4 * var(--width) - (5 * var(--width) + 5 * var(--height)));
}

div.departure {
  background-color: #2a2a2a;

  display: flex;
  height: calc(7 * var(--width) + 7 * var(--height));
  margin-left: auto;
}

div.departure:nth-child(even) {
  background-color: #202020;
}

div.departure:nth-child(even) a.departureInfo.reservationsOnly {
  background-color: #43355b;
}

.leftContainer {
  min-width: calc(5.2 * var(--width) + 5.8 * var(--height));
  height: calc(7 * var(--width) + 7 * var(--height));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--operator-text, #f9f9f9);
  background-color: var(--operator-odd);
}

:nth-child(even) > .leftContainer {
  background-color: var(--operator-even);
}

.leftContainer:visited {
  color: #f9f9f9;
  background-color: var(--operator-odd);
}

.leftContainer span {
  max-width: calc(5.2 * var(--width) + 5.8 * var(--height));
  text-align: center;
}

.leftContainer span.topText {
  font-size: calc(1 * var(--width) + 1 * var(--height));
}

.leftContainer span.bigNumber {
  font-size: calc(3.2 * var(--width) + 2.5 * var(--height));
  height: calc(4.5 * var(--width) + 3.2 * var(--height));
  line-height: calc(4.5 * var(--width) + 3.6 * var(--height));
  letter-spacing: calc(-0.15 * var(--width) - 0.15 * var(--height));
  margin-right: calc(0.2 * var(--width) + 0.2 * var(--height));
}

.leftContainer span.bigNumber.smaller {
  font-size: calc(2.2 * var(--width) + 2.2 * var(--height));
}

.leftContainer span.bottomText {
  font-size: calc(0.9 * var(--width) + 0.9 * var(--height));
}

.leftContainer img {
  margin-top: calc(0.75 * var(--width) + 0.75 * var(--height));
  width: calc(3 * var(--width) + 3 * var(--height));
  padding-bottom: calc(0.25 * var(--width) + 0.25 * var(--height));
}

a.departureInfo {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100%;
}

a.departureInfo.reservationsOnly {
  background-color: #4c3d64;
}

a.departureInfo span {
  margin-left: calc(1 * var(--width) + 1 * var(--height));
}

a.departureInfo span.towards {
  font-size: calc(1.1 * var(--width) + 1.2 * var(--height));

  color: #a2a2a2;
}

a.departureInfo span.destination {
  font-size: calc(1.6 * var(--width) + 1.6 * var(--height));
  margin-top: calc(-0.3 * var(--width) - 0.3 * var(--height));
  line-height: calc(1.8 * var(--width) + 1.8 * var(--height));

  color: #c5c5c5;
}

a.departureInfo span.destination span.strikethrough {
  color: #777;
  text-decoration: line-through;
  margin-left: 0;
}

a.departureInfo span.broadDepartureInfo~span.broadDepartureInfo {
  -webkit-line-clamp: 1;
}

.clampLine {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clampLine.clamp2 {
  -webkit-line-clamp: 2;
}

a.departureInfo span.broadDepartureInfo {
  overflow: hidden;

  font-size: calc(1.1 * var(--width) + 1 * var(--height));
  line-height: calc(1.2 * var(--width) + 1.2 * var(--height));

  color: #c5c5c5;
}

a.departureInfo span.serviceAlert {
  font-size: calc(1 * var(--width) + 1.0 * var(--height)) !important;
  line-height: calc(1.1 * var(--width) + 1.1 * var(--height)) !important;
} 
 
a.departureInfo span.delayAlert {
  font-size: calc(1.1 * var(--width) + 1.1 * var(--height)) !important;
}

a.departureInfo span.delayAlert[type='minor'] > span {
  color: #e87800 !important;
}

a.departureInfo span.delayAlert[type='major'] > span {
  color: #EF4135 !important;
}

a.departureInfo span.delayAlert i.alertStatus {
  width: calc(1.1 * var(--width) + 1.1 * var(--height));
  height: calc(1.1 * var(--width) + 1.1 * var(--height));

  display: inline-block;
  border-radius: calc(1.1 * var(--width) + 1.1 * var(--height));

  vertical-align: middle;
}

a.departureInfo span.delayAlert > span {
  margin-inline-start: calc(0.4 * var(--width) + 0.4 * var(--height));
  vertical-align: middle;
}

a.departureInfo span.important {
  font-size: calc(1.1 * var(--width) + 1.1 * var(--height)) !important;
  line-height: calc(1.2 * var(--width) + 1.2 * var(--height)) !important;
  color: #e03549 !important;
}

a.departureInfo.reservationsOnly span.important {
  color: #ff001d;
}

a.departureInfo span.important.inline {
  margin-left: 0;
}

a.departureInfo.departure1 { --departureCount: 1; }
a.departureInfo.departure2 { --departureCount: 2; }
a.departureInfo.departure3 { --departureCount: 3; }
a.departureInfo.departure4 { --departureCount: 4; }

div.departure.noNumber a.departureInfo span {
  width: calc(100 * var(--width) - (3.4 * var(--width) + 3.4 * var(--height)) * var(--departureCount) - (1 * var(--width) + 1 * var(--height)) - 1.5 * var(--width));
}

div.departure.noNumber:not(.groupedTimings) a.departureInfo span {
  width: calc(100 * var(--width) - (6 * var(--width) + 6.3 * var(--height)) - (1.2 * var(--width) + 1.8 * var(--height)) - (1 * var(--width) + 1 * var(--height)) - 1.5 * var(--width));
}

div.departure:not(.noNumber) a.departureInfo span {
  width: calc(100 * var(--width) - (3.4 * var(--width) + 3.4 * var(--height)) * var(--departureCount) - (5.25 * var(--width) + 5.25 * var(--height)) - (1 * var(--width) + 1 * var(--height)) - 1.5 * var(--width) - 1.5 * var(--width));
}

div.departure:not(.noNumber).noTiming a.departureInfo span {
  width: calc(100 * var(--width) - (5.25 * var(--width) + 5.25 * var(--height)) - (1 * var(--width) + 1 * var(--height)) - 1.5 * var(--width));
}

div.departure.noNumber.noTiming a.departureInfo span {
  width: calc(100 * var(--width) - (1 * var(--width) + 1 * var(--height)) - 1.5 * var(--width));
}

div.departure:not(.groupedTimings) a.departureInfo span {
  width: calc(100 * var(--width) - (6 * var(--width) + 6.3 * var(--height)) - (1.2 * var(--width) + 1.8 * var(--height)) - (5 * var(--width) + 5 * var(--height)) - (1 * var(--width) + 1 * var(--height)) - 1.5 * var(--width));
}

div.departure.noNumber a.departureInfo span.routeName {
  font-size: calc(1.1 * var(--width) + 1.1 * var(--height));

  overflow: hidden;

  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  color: #c5c5c5;
}

div.departure.noNumber a.departureInfo span.towards {
  font-size: calc(1 * var(--height) + 0.9 * var(--width));
  margin-top: calc(-0.1 * var(--width) - 0.15 * var(--height));
}

div.departure.noNumber a.departureInfo span.destination {
  font-size: calc(1.6 * var(--width) + 1.6 * var(--height));
  line-height: calc(1.9 * var(--width) + 1.9 * var(--height));
}

div.departure.noNumber a.departureInfo span.broadDepartureInfo {
  font-size: calc(1 * var(--width) + 1 * var(--height));
  line-height: calc(1.6 * var(--width) + 1.6 * var(--height));

  color: #c5c5c5;
}


div.timings {
  display: flex;
  flex-direction: row;

  margin-left: auto;
}

a.timing {
  height: calc(7 * var(--width) + 7 * var(--height));
  width: calc(6 * var(--width) + 6.3 * var(--height));

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: calc(1.2 * var(--width) + 1.15 * var(--height));
  color: #101010;
}

div.departure.groupedTimings a.timing.hidden {
  display: none;
}

div.departure.groupedTimings a.timing {
  width: calc(3.4 * var(--width) + 3.4 * var(--height));
  font-size: calc(1.2 * var(--width) + 1.15 * var(--height));
}

div.departure.groupedTimings a.timing > div.vehicleData {
  height: calc(1 * var(--width) + 1 * var(--height));
  width: calc(3.4 * var(--width) + 3.4 * var(--height));

  position: relative;
  margin-top: calc(-1 * var(--width) - 1 * var(--height));

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.departure.groupedTimings a.timing > div.vehicleData > img {
  width: calc(1 * var(--width) + 1 * var(--height));
  margin-bottom: calc(0.75 * var(--width) + 0.75 * var(--height));
}

div.departure.groupedTimings a.timing span {
  width: calc(3.4 * var(--width) + 3.4 * var(--height));
}

div.departure.groupedTimings a.timing:has(span.rego):has(span.est-time.empty) span.sch-time {
  margin-block: 0.7em;
}

div.departure.noNumber a.timing span.rego {
  top: calc(0.5 * var(--width) + 0.5 * var(--height));
}

a.timing span.rego {
  position: relative;
  font-size: calc(0.9 * var(--width) + 1 * var(--height));

  top: calc(0.5 * var(--width) + 0.5 * var(--height)) !important;
  letter-spacing: calc(-0.025 * var(--width) - 0.025 * var(--height));
  height: 0;
}

a.timing span.rego.small {
  font-size: calc(0.85 * var(--width) + 0.8 * var(--height));
  top: calc(0.6 * var(--width) + 0.6 * var(--height)) !important;
}

a.timing span {
  width: calc(6 * var(--width) + 6 * var(--height));
  text-align: center;
}






div.departure:nth-child(odd) a.timing.early:nth-child(odd) {
  background-color: var(--light-blue-odd);
}

div.departure:nth-child(odd) a.timing.early:nth-child(even) {
  background-color: var(--light-blue-even);
}

div.departure:nth-child(odd) a.timing.on-time:nth-child(odd) {
  background-color: var(--green-odd);
}

div.departure:nth-child(odd) a.timing.on-time:nth-child(even) {
  background-color: var(--green-even);
}

div.departure:nth-child(odd) a.timing.late:nth-child(odd) {
  background-color: var(--red-odd);
}

div.departure:nth-child(odd) a.timing.late:nth-child(even) {
  background-color: var(--red-even);
}

div.departure:nth-child(odd) a.timing.unknown:nth-child(odd) {
  background-color: var(--grey-odd);
}

div.departure:nth-child(odd) a.timing.unknown:nth-child(even) {
  background-color: var(--grey-even);
}

div.departure:nth-child(odd) a.timing.cancelled:nth-child(odd) {
  background-color: var(--orange-odd);
}

div.departure:nth-child(odd) a.timing.cancelled:nth-child(even) {
  background-color: var(--orange-even);
}



div.departure:nth-child(even) a.timing.early:nth-child(even) {
  background-color: var(--light-blue-odd);
}

div.departure:nth-child(even) a.timing.early:nth-child(odd) {
  background-color: var(--light-blue-even);
}

div.departure:nth-child(even) a.timing.on-time:nth-child(even) {
  background-color: var(--green-odd);
}

div.departure:nth-child(even) a.timing.on-time:nth-child(odd) {
  background-color: var(--green-even);
}

div.departure:nth-child(even) a.timing.late:nth-child(even) {
  background-color: var(--red-odd);
}

div.departure:nth-child(even) a.timing.late:nth-child(odd) {
  background-color: var(--red-even);
}

div.departure:nth-child(even) a.timing.unknown:nth-child(even) {
  background-color: var(--grey-odd);
}

div.departure:nth-child(even) a.timing.unknown:nth-child(odd) {
  background-color: var(--grey-even);
}

div.departure:nth-child(even) a.timing.cancelled:nth-child(even) {
  background-color: var(--orange-odd);
}

div.departure:nth-child(even) a.timing.cancelled:nth-child(odd) {
  background-color: var(--orange-even);
}
