#mapLink {
  height: calc(2.1vw + 2.1vh);
  margin-right: calc(0.4vw + 1.2vh);
}

#mapIcon {
  height: calc(2.1vw + 2.1vh);
}

#bookmark {
  width: calc(1.5vw + 1.5vh);
  margin-right: calc(0.4vw + 1.2vh);
}

#modeSwitch {
  width: 100vw;
  display: flex;
  height: calc(4vw + 4vh);
  flex-direction: row;
}

#modeSwitch .modeSwitchType {
  color: #f9f9f9;
  font-size: calc(0.8vw + 1vh);
  line-height: calc(1.2vw + 1.2vh);
}

.modeSwitchType.inactive {
  opacity: 0.6;
}

.modeSwitchType.metro-train {
  background-color: #3483db;
}

.modeSwitchType.tram {
  background-color: #1a942a;
}

.modeSwitchType.regional-train {
  background-color: #6b4d9e;
}

.modeSwitchType.regional-coach {
  background-color: #9582b5;
}

.modeSwitchType.bus {
  background-color: #d7832c;
}

.modeSwitchType.ferry {
  background-color: #03998f;
}

.modeSwitchType.heritage-train {
  background-color: #7a562e;
}

.modeSwitchType img {
  height: calc(2vw + 1.7vh);
}

@media (max-width: 600px) {
  .modeSwitchType span {
    display: none;
  }
}

.modeSwitchType {
  height: calc(4vw + 4vh);
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#textbar-container ~ div#modeSwitch ~ div#departures > div.errorPage {
  height: calc(96vh - 4vw - (4vw + 4vh) - (5vw + 5vh));
}

div#modeSwitch:nth-child(1) ~ div#departures > div.errorPage {
  height: calc(96vh - 4vw - (4vw + 4vh));
}

div#textbar-container ~ div#departures > div.errorPage {
  height: calc(96vh - 4vw - (5vw + 5vh));
}

div.departure {
  background-color: #2a2a2a;

  display: flex;
  height: calc(7vw + 7vh);
  margin-left: auto;
}

div.departure:nth-child(even) {
  background-color: #202020;
}

div.departure:nth-child(even) a.departureInfo.reservationsOnly {
  background-color: #43355b;
}

.leftContainer {
  min-width: calc(5.2vw + 5.8vh);
  height: calc(7vw + 7vh);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #f9f9f9;
  background-color: var(--operator-odd);
}

:nth-child(even) > .leftContainer {
  background-color: var(--operator-even);
}

.leftContainer:visited {
  color: #f9f9f9;
  background-color: var(--operator-odd);
}

.leftContainer span {
  max-width: calc(5.2vw + 5.8vh);
  text-align: center;
}

.leftContainer span.topText {
  font-size: calc(1vw + 1vh);
}

.leftContainer span.bigNumber {
  font-size: calc(3.2vw + 2.5vh);
  height: calc(4.5vw + 3.2vh);
  line-height: calc(4.5vw + 3.6vh);
  letter-spacing: calc(-0.15vw - 0.15vh);
  margin-right: calc(0.2vw + 0.2vh);
}

.leftContainer span.bigNumber.smaller {
  font-size: calc(2.2vw + 2.2vh);
}

.leftContainer span.bottomText {
  font-size: calc(0.9vw + 0.9vh);
}

.leftContainer img {
  margin-top: calc(0.75vw + 0.75vh);
  width: calc(3vw + 3vh);
  padding-bottom: calc(0.25vw + 0.25vh);
}

a.departureInfo {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100%;
}

a.departureInfo.reservationsOnly {
  background-color: #4c3d64;
}

a.departureInfo span {
  margin-left: calc(1vw + 1vh);
}

a.departureInfo span.towards {
  font-size: calc(1vh + 0.9vw);

  color: #8f8f8f;
}

a.departureInfo span.destination {
  font-size: calc(1.6vw + 1.6vh);
  margin-top: calc(-0.3vw - 0.3vh);
  line-height: calc(1.8vw + 1.8vh);

  color: #c5c5c5;
}

a.departureInfo span.broadDepartureInfo~span.broadDepartureInfo {
  -webkit-line-clamp: 1;
}

.clampLine {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clampLine.clamp2 {
  -webkit-line-clamp: 2;
}

a.departureInfo span.broadDepartureInfo {
  overflow: hidden;

  font-size: calc(0.9vw + 0.9vh);
  line-height: calc(1.2vw + 1.2vh);

  color: #bababa;
}

a.departureInfo span.important {
  font-size: calc(1.1vw + 1.1vh) !important;
  line-height: calc(1.2vw + 1.2vh) !important;
  color: #e03549 !important;
}

a.departureInfo.reservationsOnly span.important {
  color: #ff001d;
}

a.departureInfo span.important.inline {
  margin-left: 0;
}

a.departureInfo.departure1 { --departureCount: 1; }
a.departureInfo.departure2 { --departureCount: 2; }
a.departureInfo.departure3 { --departureCount: 3; }
a.departureInfo.departure4 { --departureCount: 4; }

div.departure.noNumber a.departureInfo span {
  width: calc(100vw - (3.2vw + 3.2vh) * var(--departureCount) - (1vw + 1vh) - 1.5vw);
}

div.departure.noNumber:not(.groupedTimings) a.departureInfo span {
  width: calc(100vw - (6vw + 6.3vh) - (1.2vw + 1.8vh) - (1vw + 1vh) - 1.5vw);
}

div.departure:not(.noNumber) a.departureInfo span {
  width: calc(100vw - (3.2vw + 3.2vh) * var(--departureCount) - (5.25vw + 5.25vh) - (1vw + 1vh) - 1.5vw);
}

div.departure:not(.noNumber).noTiming a.departureInfo span {
  width: calc(100vw - (5.25vw + 5.25vh) - (1vw + 1vh) - 1.5vw);
}

div.departure.noNumber.noTiming a.departureInfo span {
  width: calc(100vw - (1vw + 1vh) - 1.5vw);
}

div.departure:not(.groupedTimings) a.departureInfo span {
  width: calc(100vw - (6vw + 6.3vh) - (1.2vw + 1.8vh) - (5vw + 5vh) - (1vw + 1vh) - 1.5vw);
}

div.departure.noNumber a.departureInfo span.routeName {
  font-size: calc(1vw + 1vh);

  overflow: hidden;

  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  color: #c5c5c5;
}

div.departure.noNumber a.departureInfo span.towards {
  font-size: calc(1vh + 0.9vw);
  margin-top: calc(-0.1vw - 0.15vh);

  color: #8f8f8f;
}

div.departure.noNumber a.departureInfo span.destination {
  font-size: calc(1.6vw + 1.6vh);
  line-height: calc(1.9vw + 1.9vh);

  color: #c5c5c5;
}

div.departure.noNumber a.departureInfo span.broadDepartureInfo {
  font-size: calc(1vw + 1vh);
  line-height: calc(1.6vw + 1.6vh);

  color: #c5c5c5;
}


div.timings {
  display: flex;
  flex-direction: row;

  margin-left: auto;
}

a.timing {
  height: calc(7vw + 7vh);
  width: calc(6vw + 6.3vh);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: calc(1.05vw + 1.05vh);
  color: #101010;
}

div.departure.groupedTimings a.timing.hidden {
  display: none;
}

div.departure.groupedTimings a.timing {
  width: calc(3.2vw + 3.2vh);
  font-size: calc(1vw + 1vh);
}

div.departure.groupedTimings a.timing > div.vehicleData {
  height: calc(1vw + 1vh);
  width: calc(3.2vw + 3.2vh);

  position: relative;
  margin-top: calc(-1vw - 1vh);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.departure.groupedTimings a.timing > div.vehicleData > img {
  width: calc(1vw + 1vh);
  margin-bottom: calc(0.75vw + 0.75vh);
}

div.departure.groupedTimings a.timing span {
  width: calc(3.2vw + 3.2vh);
}

div.departure.noNumber a.timing span.rego {
  top: calc(0.5vw + 0.5vh);
  font-size: calc(1vw + 1vh);
}

a.timing span.rego {
  position: relative;
  font-size: calc(0.75vw + 0.75vh) !important;
  top: calc(0.75vw + 0.75vh) !important;
  letter-spacing: calc(-0.025vw - 0.025vh);
  height: 0;
}

a.timing span {
  width: calc(6vw + 6vh);
  text-align: center;
}






div.departure:nth-child(odd) a.timing.early:nth-child(odd) {
  background-color: var(--light-blue-odd);
}

div.departure:nth-child(odd) a.timing.early:nth-child(even) {
  background-color: var(--light-blue-even);
}

div.departure:nth-child(odd) a.timing.on-time:nth-child(odd) {
  background-color: var(--green-odd);
}

div.departure:nth-child(odd) a.timing.on-time:nth-child(even) {
  background-color: var(--green-even);
}

div.departure:nth-child(odd) a.timing.late:nth-child(odd) {
  background-color: var(--red-odd);
}

div.departure:nth-child(odd) a.timing.late:nth-child(even) {
  background-color: var(--red-even);
}

div.departure:nth-child(odd) a.timing.unknown:nth-child(odd) {
  background-color: var(--grey-odd);
}

div.departure:nth-child(odd) a.timing.unknown:nth-child(even) {
  background-color: var(--grey-even);
}

div.departure:nth-child(odd) a.timing.cancelled:nth-child(odd) {
  background-color: var(--orange-odd);
}

div.departure:nth-child(odd) a.timing.cancelled:nth-child(even) {
  background-color: var(--orange-even);
}



div.departure:nth-child(even) a.timing.early:nth-child(even) {
  background-color: var(--light-blue-odd);
}

div.departure:nth-child(even) a.timing.early:nth-child(odd) {
  background-color: var(--light-blue-even);
}

div.departure:nth-child(even) a.timing.on-time:nth-child(even) {
  background-color: var(--green-odd);
}

div.departure:nth-child(even) a.timing.on-time:nth-child(odd) {
  background-color: var(--green-even);
}

div.departure:nth-child(even) a.timing.late:nth-child(even) {
  background-color: var(--red-odd);
}

div.departure:nth-child(even) a.timing.late:nth-child(odd) {
  background-color: var(--red-even);
}

div.departure:nth-child(even) a.timing.unknown:nth-child(even) {
  background-color: var(--grey-odd);
}

div.departure:nth-child(even) a.timing.unknown:nth-child(odd) {
  background-color: var(--grey-even);
}

div.departure:nth-child(even) a.timing.cancelled:nth-child(even) {
  background-color: var(--orange-odd);
}

div.departure:nth-child(even) a.timing.cancelled:nth-child(odd) {
  background-color: var(--orange-even);
}
