div#content {
  display: block;
  flex-direction: column;
}

div#content > * {
  margin-left: calc(1vw + 1vh);
}

h1#title {
  margin-top: calc(0.8vw + 0.8vh);
}

h1, h2, h3, h4 {
  margin: 0;
}

label {
  font-size: calc(0.9vw + 1.2vh);
}

div.inputSection {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: calc(15vw + 15vh);

  height: calc(2vw + 2vh);
  border: none;
  border-radius: calc(0.5vw + 0.5vh);
  outline: none;
  font-size: calc(1.5vw + 1.5vh);
  padding: 0;
  padding-top: calc(.2vw + .2vh);
  padding-left: calc(0.5vw + 0.5vh);
  background-color: #e0e0e0;
  appearance: none;
  -moz-appearance: textfield;

  font-family: Default-Font;
}

input[type="submit"] {
  width: calc(4vw + 4vh);

  height: calc(2.2vw + 2.2vh);
  border: none;
  border-radius: calc(0.5vw + 0.5vh);
  outline: none;
  font-size: calc(1.5vw + 1.5vh);
  margin-left: calc(0.2vw + 0.2vh);
  background-color: #e0e0e0;
  appearance: none;
  -moz-appearance: textfield;

  font-family: Default-Font;
}

a#highlights {
  font-size: calc(1.1vw + 1.1vh);
  margin-left: calc(1.8vw + 1.8vh);
  text-decoration: underline;
}
