extends ../layout

block head
  title TransportVic - Tracker
  
block title
  span Tracker
  
block content
  a(href='/tracker2/highlights') highlights
  form(action='/tracker2/bus' method='get')
    label search by fleet #
    input(name='fleet')
  form(action='/tracker2/service' method='get')
    label search by service #
    input(name='service')
  form(action='/tracker2/unknown' method='get')
    label search by operator
    select(name='operator')
      for operator in operators
        option(value=operator)=operator
    input(type='submit')
