extends ../layout

block head
  title TransportVic - Outdated!
  
block title
  span Outdated!
  
block content
  h1
    a(href='/bus/tracker') This page is no longer active, please visit /bus/tracker instead to track buses. Click here to go there and also update your bookmarks, this redirect page will be removed soon
