div.fullMessage {
  width: var(--width);
  height: var(--height);
  background-color: #000000;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.fullMessage img {
  height: calc(var(--height) * 0.12);
}

div.fullMessage p {
  margin-top: calc(var(--height) * 0.03);
  font-size: calc(var(--height) * 0.06);
  text-align: center;
}

div.content {
  background-color: #222222 !important;
  color: white !important;
}

div.topLineBanner {
  width: calc(var(--width) * 0.93);
  height: calc(var(--height) * 0.02);
  border-radius: calc(var(--width) * 0.007);
  margin-top: calc(var(--height) * 0.01);
  background-color: #9582b5;
}

div.heading {
  margin-top: calc(var(--height) * 0.005);
  width: calc(var(--width) * 0.93);
  display: flex;
  flex-direction: column;
}

div.heading p.title {
  font-size: calc(var(--height) * 0.04);
  margin-top: calc(var(--height) * 0.003);
  font-family: "NetworkSansBold";
}

div.heading p.bays {
  font-size: calc(var(--height) * 0.034);
  margin-top: calc(var(--height) * 0.003);
  font-family: "NetworkSansRegular";
}

div.departures {
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: 100%;
  align-items: center;
}

div.departureData {
  margin-top: calc(var(--height) * 0.01);
  border-top: calc(var(--height) * 0.003) solid white;
  height: calc(var(--height) * 0.2);
  width: calc(var(--width) * 0.93);
}

div.departureData p.title {
  font-size: calc(var(--height) * 0.035);
  margin-top: calc(var(--height) * 0.003);
  font-family: "NetworkSansBold";
}

div.departureData p.stopsAt {
  font-size: calc(var(--height) * 0.025);
  margin-top: calc(var(--height) * 0.003);
  font-family: "NetworkSansRegular";
}

div.departureData p.information {
  font-size: calc(var(--height) * 0.03);
  margin-top: calc(var(--height) * 0.003);
  font-family: "NetworkSansBold";
}

div.departureData p.information.important {
  color: orange;
}
