div.content > div {
  width: var(--width);
}

div.content {
  background-color: #222222 !important;
  color: white !important;
}

div.platforms {
  display: flex;
  flex-direction: row;
}

div.platformContainer {
  width: calc(var(--width) * 0.495);
  height: var(--height);
}

div.platformContainer.left {
  border-right: calc(var(--width) * 0.005) solid #ffffff;
}

div.platformContainer.right {
  border-left: calc(var(--width) * 0.005) solid #ffffff;
}

div.fullMessage {
  height: var(--height);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

div.fullMessage > img {
  height: calc(var(--height) * 0.2);
}

div.fullMessage > * {
  font-size: calc(var(--height) * 0.08);
  font-family: "NetworkSansRegular";
  white-space: nowrap;
}

div.message {
  height: var(--height);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.message p {
  font-size: calc(var(--height) * 0.065);
}

div.message p.large {
  font-size: calc(var(--height) * 0.075);
}

div.firstDeparture {
  width: calc(var(--width) * 0.495);
  display: flex;
  flex-direction: column;
}

div.top {
  width: calc(var(--width) * 0.4);
}

div.left div.top {
  margin-right: auto;
  text-align: left;
}

div.right div.top {
  margin-left: auto;
  text-align: right;
}

div.topLineBanner {
  width: calc(var(--width) * 0.38);
  height: calc(var(--height) * 0.025);
  border-radius: calc(var(--width) * 0.005);
  margin-top: calc(var(--height) * 0.01);
  margin-left: auto;
  margin-right: auto;
}

span.firstDestination {
  font-size: calc(var(--height) * 0.1);
  height: calc(var(--height) * 0.12);

  letter-spacing: calc(var(--width) * -0.0007);
  font-family: "NetworkSansBold";

  margin-top: calc(var(--height) * -0.015);
  display: block;
}

span.firstDestination.smaller {
  font-size: calc(var(--height) * 0.9);
}

div.left span.firstDestination {
  margin-left: calc(var(--width) * 0.01);
}

div.right span.firstDestination {
  margin-right: calc(var(--width) * 0.01);
}

div.firstDepartureInfo {
  width: calc(var(--width) * 0.485);
  display: flex;
}

div.left div.firstDepartureInfo {
  margin-left: calc(var(--width) * 0.01);
  flex-direction: row;
}

div.right div.firstDepartureInfo {
  margin-right: calc(var(--width) * 0.01);
  flex-direction: row-reverse;
}

div.firstDepartureInfo > div {
  display: flex;
  flex-direction: column;
}

div.left div.firstDepartureInfo > div {
  text-align: left;
}

div.right div.firstDepartureInfo > div {
  text-align: right;
}

div.firstDepartureInfo > div > span:nth-child(1) {
  font-size: calc(var(--height) * 0.05);
}

div.firstDepartureInfo > div > span:nth-child(2) {
  font-size: calc(var(--height) * 0.085);
  font-family: "NetworkSansBold";
  margin-top: calc(var(--height) * -0.017);
}

div.firstDepartureInfo > div.departingDiv > div > span:nth-child(1) {
  font-size: calc(var(--height) * 0.085);
  font-family: "NetworkSansBold";
}

div.firstDepartureInfo > div.departingDiv > div > span:nth-child(2) {
  font-size: calc(var(--height) * 0.07);
  margin-left: calc(var(--width) * 0.002);
}

div.departingDiv > div {
  margin-top: calc(var(--height) * -0.017);
}

div.firstDepartureInfo > div {
  width: calc(var(--width) * 0.17);
}

span.firstStoppingType {
  width: calc(var(--width) * 0.475);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--height) * -0.015);

  font-size: calc(var(--height) * 0.05);
  white-space: nowrap;
  overflow: hidden;
}

div.left span.firstStoppingType {
  text-align: left;
}

div.right span.firstStoppingType {
  text-align: right;
}

div.stops {
  margin-top: calc(var(--height) * 0.01);
  width: calc(var(--width) * 0.495);
  border-top: calc(var(--height) * 0.005) solid #ffffff;

  display: flex;
}


div.stops div.stopsColumn {
  min-width: calc(var(--width) * 0.12);
  margin-right: auto;
}

div.stops div.stopsColumn:nth-child(1) div {
  border-left: none !important;
}

div.stops div.stopsColumn.expressColumn:nth-child(1) div {
  padding-left: 0;
  margin-left: 0;
}

div.stops div.stopsColumn div {
  border-left: calc(var(--width) * 0.00125) solid white;
  padding-left: calc(var(--width) * 0.0075);
  margin-left: calc(var(--width) * 0.0025);
}

div.stops div.stopsColumn div span {
  font-size: calc(var(--height) * 0.036);
  letter-spacing: calc(var(--width) * -0.0004);
  white-space: nowrap;
  display: inline-block;
}

div.stops div.stopsColumn div span.express {
  color: #a0a0a0;
}

div.stops div.stopsColumn div span:nth-child(1) {
  margin-top: calc(var(--height) * 0.01);
}

div.stops div.stopsColumn div span.squish {
  letter-spacing: calc(var(--width) * -0.0007);
  transform: scaleX(0.95);
  transform-origin: left;
}

div.stopsColumn.columns-11 {
  min-width: unset !important;
}

div.stopsColumn.columns-11 div span {
  font-size: calc(var(--height) * 0.042) !important;
}

div.stopsColumn.columns-12 div span {
  font-size: calc(var(--height) * 0.04) !important;
}

div.stopsColumn.columns-14 div span {
  font-size: calc(var(--height) * 0.034) !important;
}

div.stopsColumn.columns-15 div span {
  font-size: calc(var(--height) * 0.032) !important;
}

div.stopsColumn.columns-16 div span {
  font-size: calc(var(--height) * 0.03) !important;
}



div.clock {
  position: absolute;
  box-sizing: border-box;

  width: calc(var(--width) * 0.2) !important;
  height: calc(var(--height) * 0.1);
  top: 0;

  background-color: #ffffff;
  color: #000000;


  display: flex;
  align-items: center;
  justify-content: center;
}

div.clock span {
  font-family: "NetworkSansBold";
  font-size: calc(var(--height) * 0.082);
  margin-top: calc(var(--height) * -0.007);
}
