div.content {
  background-color: #222222 !important;
  color: white !important;
}

div.content.full {
  flex-direction: row !important;
  --font-scale: 0.6666667;
  justify-content: center;
}

div.message {
  width: var(--width);
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

div.message > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.message div.info-circle {
  transform: scale(1.5);
  margin-bottom: calc(var(--height) * 0.05);
}

div.message div.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(var(--height) * 0.15);
}

div.content.messages div.message {
  display: flex;
}

div.content.messages div.timings, div.content.messages div.info {
  display: none;
}

div.timings {
  width: calc(var(--width) * 0.75);
  margin-right: calc(var(--width) * 0.02);
}

div.row.header span {
  font-family: NetworkSansRegular;
  font-size: calc(var(--height) * 0.06 * var(--font-scale)) !important;
  margin-top: calc(var(--height) * 0.01 * var(--font-scale)) !important;
}

div.row.train-header {
  justify-content: flex-start;
  align-items: flex-start;
}

div.row.train-header span {
  font-family: NetworkSansRegular;

  margin-left: calc(var(--width) * 0.008);
  margin-top: calc(var(--height) * .01 * var(--font-scale));
  font-size: calc(var(--height) * 0.055 * var(--font-scale)) !important;
}

div.row.header span.route {
  margin-left: calc(var(--width) * 0.008);
  width: calc(var(--width) * 0.07);
}

div.row.header span.dest {
  margin-left: calc(var(--width) * 0.017);
  width: calc(var(--width) * 0.43);
}

div.row {
  height: calc(var(--width) * 0.033);
  border-bottom: calc(var(--width) * 0.001) solid #ffffff;
  font-size: calc(var(--height) * 0.07 * var(--font-scale));

  display: flex;
  justify-content: center;
}

div.row span {
  display: inline-block;
}

div.row > div.route-number {
  display: inline-flex;
  margin-left: calc(var(--width) * 0.008);
  width: calc(var(--width) * 0.07);
}

div.row > div.destination {
  margin-left: calc(var(--width) * 0.017);
  width: calc(var(--width) * 0.43);
}

div.row > div.destination > span.platform {
  font-family: NetworkSansRegular;
  margin-left: calc(var(--width) * 0.01);
  font-size: calc(var(--height) * 0.05 * var(--font-scale));
}

div.row > span.scheduled {
  display: inline-block;
  width: calc(var(--width) * 0.11);
  text-align: right;
  font-size: calc(var(--height) * 0.06 * var(--font-scale));
  margin-top: calc(var(--width) * 0.003);
}

div.row > span.departing {
  display: inline-block;
  margin-left: calc(var(--width) * 0.015);
  width: calc(var(--width) * 0.1);
  text-align: right;
}

div.type {
  display: inline-block;
  margin-top: calc(var(--width) * 0.002);
  margin-right: calc(var(--width) * 0.0035);
  height: calc(var(--width) * 0.029);
  width: calc(var(--width) * 0.007);
}

div.type-bus {
  background-color: #ff8200;
}

div.type-metro-train {
  background-color: #0072ce;
}

img.train-icon {
  margin-top: calc(var(--width) * 0.004);
  height: calc(var(--width) * 0.025);
}

div.info {
  width: calc(var(--width) * 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hotline {
  width: calc(var(--width) * 0.2);
  height: calc(.55 * var(--height));
  text-align: center;
  background-color: #1e1e1e;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

div.info-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: calc(var(--width) * 0.005);
  height: calc(var(--width) * 0.005);

  background: #ffffff;
  color: #000000;
  border-radius: calc(var(--width) * 0.1);
  border: calc(var(--width) * 0.01) solid #ffffff;
  margin-top: calc(var(--height) * 0.05);
}

img.information {
  display: block;
  width: calc(var(--width) * 0.035);
}

.call-hotline {
  font-family: NetworkSansRegular;
  font-size: calc(var(--height) * 0.05 * var(--font-scale));
  margin-top: calc(var(--height) * 0.12);
}

.info .spacer {
  height: calc(.20 * var(--height));
  display: block;
}

#timebox {
  width: calc(var(--width) * 0.2);
  height: calc(var(--height) * 0.20);
  background-color: #1e1e1e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-time {
  font-size: calc(var(--height) * 0.15 * var(--font-scale));
  font-family: NetworkSansBold;
}