div.timings {
  width: 75vw;
  margin-right: 2vw;
}

div.row.header {
  height: 3vw;
}

div.row.header span {
  font-size: calc(var(--height) * 0.06 * var(--font-scale)) !important;
  margin-top: 0 !important;
}

div.row.header span.route {
  margin-left: 0.8vw;
  width: 7vw;
}

div.row.header span.dest {
  margin-left: 1.7vw;
  width: 44vw;
}

div.row {
  height: 3.3vw;
  border-bottom: 0.1vw solid #ffffff;
  font-size: calc(var(--height) * 0.07 * var(--font-scale));

  display: flex;
  justify-content: center;
}

div.row span {
  display: inline-block;
}

div.row > div.route-number {
  display: inline-flex;
  margin-left: 0.8vw;
  width: 7vw;
}

div.row > div.destination {
  display: inline-flex;
  margin-left: 1.7vw;
  width: 44vw;
}

div.row > div.destination > span.platform {
  margin-left: 1vw;
  margin-top: 0.8vw;
  font-size: calc(var(--height) * 0.05 * var(--font-scale));
}

div.row > span.scheduled {
  display: inline-block;
  width: 11vw;
  text-align: right;
  font-size: calc(var(--height) * 0.06 * var(--font-scale));
  margin-top: 0.3vw;
}

div.row > span.departing {
  display: inline-block;
  margin-left: .5vw;
  width: 10vw;
  text-align: right;
}

div.type {
  display: inline-block;
  margin-top: 0.2vw;
  margin-right: 0.35vw;
  height: 2.9vw;
  width: 0.7vw;
}

div.type-bus {
  background-color: #ff8200;
}

div.type-metro-train {
  background-color: #0072ce;
}

img.train-icon {
  margin-top: 0.4vw;
  height: 2.5vw;
}

div.info {
  width: calc(20vw);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hotline {
  width: 20vw;
  height: calc(.55 * var(--height));
  text-align: center;
  background-color: #333434;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.info-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 0.5vw;
  height: 0.5vw;

  background: #ffffff;
  color: #000000;
  border-radius: 10vw;
  border: 1vw solid #ffffff;
}

span.information {
  display: block;
  font-size: calc(var(--height) * 0.035 * var(--font-scale));
  transform: rotateY(180deg) skewX(10deg);
  margin-top: -0.4vw;
  font-family: NetworkSansBold;
}

.call-hotline {
  font-size: calc(var(--height) * 0.05 * var(--font-scale));
}

.info .spacer {
  height: calc(.20 * var(--height));
  display: block;
}

#timebox {
  width: 20vw;
  height: calc(var(--height) * 0.20);
  background-color: #333434;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-time {
  font-size: calc(var(--height) * 0.15 * var(--font-scale));
  height: calc(100% / var(--font-scale));
  transform: translateY(-32.5%);
  font-family: NetworkSansBold;
}
