html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/fss/escalator.js' async)
    script(src='/static/scripts/mockups/pids-utils.js') 
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/actual-line-colours.css')
    link(rel='stylesheet' href='/static/css/mockups/fss/escalator.css')
    if dark
      link(rel='stylesheet' href='/static/css/mockups/metro-lcd/pre-platform-vertical.css')
    link(rel='stylesheet' href='/static/css/mockups/16-9-pids-base.css')

    link(rel='preload' as='style' href='/static/css/mockups/16-9-pids-base.css')
    link(rel='preload' as='style' href='/static/css/mockups/base-style.css')
    link(rel='preload' as='image' href='/static/images/mockups/announcements.svg')
    link(rel='preload' as='image' href='/static/images/mockups/no-boarding-train.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-express.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-filler.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-stops-at.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-stub.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-terminates.svg')
    link(rel='preload' as='image' href='/static/images/mockups/express-arrow.svg')
    input(type='hidden' name='csrf' value=csrf)
  body.rotated
    div(style='display: none;').fullMessage
      img(src='/static/images/mockups/announcements.svg')
      p Please Listen for Announcements
    div.content
      div.topLineBanner.no-line
      div.firstDepartureInfo.messageActive
        div
          div.details
            p.firstDepartureTime --
            p.firstDestination --
          div.firstDepartureRight
            div.platform.no-line
              span=platform
            div.minutesToDeparture
              span -- min
        p.firstStoppingType --
      div.stoppingPattern.no-line
        div.serviceMessage
          img(src='/static/images/mockups/no-boarding-train.svg')
          p Checking departures
          p Please wait...
      div.nextDepartures
        for departure in [1,2,3,4]
          div.nextDeparture
            div.lineColour.no-line
            span.scheduledDepartureTime --
            span.destination --
            div.platform.no-line
              span &nbsp;
            div.minutesToDeparture
              span -- min
