html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/fss/trains-from-fss.js' async)
    script(src='/static/scripts/mockups/pids-utils.js') 
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/actual-line-colours.css')
    link(rel='stylesheet' href='/static/css/mockups/fss/trains-from-fss.css')
    link(rel='stylesheet' href='/static/css/mockups/16-9-pids-base.css')
      
    link(rel='preload' as='style' href='/static/css/mockups/16-9-pids-base.css')
    link(rel='preload' as='style' href='/static/css/mockups/base-style.css')
    link(rel='preload' as='image' href='/static/images/mockups/announcements.svg')
  body
    div(style='display: none;').fullMessage
      img(src='/static/images/mockups/announcements.svg')
      p Please Listen for Announcements
    div.content
      div.topLineBanner.no-line
      span.title Trains from Flinders Street to:
      div.solidHozDivider
      div.splitContent
        div.left
          div.destination#toSSS
            div.lineColour.no-line
            div.details
              span.destinationName Southern Cross
              br
              span.stoppingAt
            div.next2
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
              div.divider
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
          div.hozBorder
          div.destination#toCCL
            div.lineColour.no-line
            div.details
              span.destinationName City Loop
              br
              span.stoppingAt Flagstaff, Melbourne Central and Parliament
            div.next2
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
              div.divider
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
          div.hozBorder
          div.destination#toNME
            div.lineColour.no-line
            div.details
              span.destinationName North Melbourne
              br
              span.stoppingAt 
            div.next2
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
              div.divider
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
          div.hozBorder
          div.destination#toRMD
            div.lineColour.no-line
            div.details
              span.destinationName Richmond
              br
              span.stoppingAt 
            div.next2
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
              div.divider
              div.departure
                div.platform.no-line --
                div.minutesToDeparture -- min
          div.hozBorder
        div.vertBorder
        div.right
          div.cityLoopDiagram
            div#svgContainer
              svg#cclSVG(display='none' width='61.45' height='38.34' version='1.1' xmlns='http://www.w3.org/2000/svg')
                g(fill='none' stroke-miterlimit='10')
                  path#FSS-PAR(d='m47.76 18.56v3.669c0 2.827-2.276 5.103-5.103 5.103h-10.56' stroke='#bebebe' stroke-width='1.676')
                  g(stroke='#c0c0c0' stroke-width='18.9')
                    g(transform='translate(.75 .75)')
                      g#FSS-SSS-NME(transform='matrix(.08869 0 0 .08869 -.3858 -.4828)')
                        path(d='m347.7 327.4h-128.1c-45.31 0-81.78-36.47-81.78-81.78v-43.02')
                        path(d='m138.6 196.3c-0.3564-34.92-0.7127-69.85-9.354-93.72-8.642-23.88-25.57-36.7-42.5-49.53')
                        path(d='m87.95 53.13c-19.57-15.66-9.863-7.893-29.59-23.68' stroke-dasharray='4.72441, 4.72441')
                      g#FSS-CCL-NME(transform='matrix(.08869 0 0 .08869 -.3858 -.4828)')
                        path(d='m270.6 67.45 78.72-0.2355 72.6-0.7015')
                        path(d='m430.2 66.29h45.53c45.31 0 81.78 36.47 81.78 81.78v39.67')
                        path(d='m557.5 202v43.67c0 45.31-36.47 81.78-81.78 81.78h-118.1')
                        path(d='m270.6 67.45c-44.72 0.3582-89.45 0.7163-118-4.362-28.6-5.078-41.07-15.59-53.54-26.11')
                        path(d='m100.6 36.5c-19.57-15.66-9.863-7.893-29.59-23.68' stroke-dasharray='4.72441, 4.72441')
                      g#FSS-RMD(transform='matrix(.08869 0 0 .08869 -.3858 -.4828)')
                        path(d='m350.8 349.7c64.32-0.5345 128.6-1.069 166.3 2.494s48.73 11.22 59.78 18.89')
                        path(d='m575.8 371.1c10.6 7.241 20.86 14.25 31.29 21.38' stroke-dasharray='4.72441, 4.72441')
                    g#FSS-CCL-PAR(transform='matrix(.08869 0 0 .08869 .3641 .2672)')
                      path(d='m347.7 305.2h-129.1c-31.88 0-57.54-25.66-57.54-57.54v-44.72')
                      path(d='m161.2 188.1v-41.37c0-31.88 25.66-57.54 57.54-57.54h49.76')
                      path(d='m275.3 88.84h142.6')
                      path(d='m431 87.78h45.76c31.88 0 57.54 25.66 57.54 57.54v41.37')
                    g#PAR-RMD(transform='matrix(.08869 0 0 .08869 .3641 .2672)')
                      path(d='m534.4 196.3c0.1782 41.69 0.3564 83.39 9.176 109.7 8.82 26.28 26.28 37.15 43.74 48.02')
                      path(d='m587.3 354c10.6 7.241 20.86 14.25 31.29 21.38' stroke-dasharray='4.72441, 4.72441')
                g#Station-Markers(transform='matrix(.08869 0 0 .08869 .3641 .2672)' fill='#fff' stroke='#000' stroke-width='3.78')
                  rect(transform='rotate(-52.45)' x='-3.874' y='93.67' width='51.32' height='17.69' ry='8.765')
                  rect(x='342.2' y='290.2' width='17.64' height='74.94' ry='8.82')
                  rect(x='519.5' y='186.7' width='51.32' height='17.69' ry='8.765')
                  rect(x='257.7' y='52.96' width='17.64' height='51.42' ry='8.82')
                  rect(x='418.8' y='52.43' width='17.64' height='51.42' ry='8.82')
                  rect(transform='rotate(-52.45)' x='40.22' y='671.6' width='51.32' height='17.69' ry='8.765')
                  rect(x='123.6' y='187' width='51.32' height='17.69' ry='8.765')
                g#Station-Names(transform='matrix(.08869 0 0 .08869 .3641 .2672)')
                  path(d='m350.8 370-6.947 6.394h-99.34c-1.61 0-2.906 1.296-2.906 2.906v38.56c0 1.61 1.296 2.906 2.906 2.906h214.2c1.61 0 2.906-1.296 2.906-2.906v-38.56c0-1.61-1.296-2.906-2.906-2.906h-101z' stroke-width='.231px')
                  g(aria-label='NorthMelbourne')
                    path(d='m55.06 85.97h0.03779l-0.0189-0.7748v-8.504h2.343v13.61h-2.551l-5.348-9.279h-0.0378l0.0189 0.7748v8.504h-2.343v-13.61h2.551z')
                    path(d='m64.1 90.52q-1.398 0-2.438-0.6047-1.02-0.6236-1.587-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.587-1.758 1.039-0.6236 2.438-0.6236t2.438 0.6236q1.039 0.6047 1.606 1.758 0.5669 1.134 0.5669 2.684t-0.5669 2.702q-0.5669 1.134-1.606 1.758-1.039 0.6047-2.438 0.6047zm0-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306t-0.5669-2.306-1.663-0.8504q-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306t0.5669 2.306q0.5858 0.8504 1.663 0.8504z')
                    path(d='m72.79 82h0.0378q0.378-0.7181 1.058-1.153 0.6992-0.4535 1.72-0.4535 0.5291 0 0.8504 0.07559l-0.3024 2.249q-0.3024-0.09449-0.7937-0.09449-1.228 0-1.852 0.7748-0.6047 0.7748-0.6047 2.116v4.781h-2.343v-9.676h2.06z')
                    path(d='m83.11 90.52q-1.587 0-2.457-0.7748-0.8693-0.7748-0.8693-2.116v-5.102h-1.663v-1.72l1.663-0.189v-2.268l2.343-0.6236v2.891h2.778v1.909h-2.778v4.857q0 1.228 1.436 1.228 0.6236 0 1.153-0.2079l0.2835 1.795q-0.737 0.3213-1.89 0.3213z')
                    path(d='m88.92 81.81h0.0378q0.4535-0.6992 1.209-1.058 0.7748-0.3591 1.644-0.3591 1.512 0 2.438 0.8693 0.926 0.8693 0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.19 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-13.61h2.343z')
                    path(d='m10.62 102.6h0.0378l3.364-6.935h2.872v13.61h-2.343v-8.882l0.0189-0.7181h-0.03779l-2.967 6.066h-1.852l-3.005-6.066h-0.0378l0.0189 0.7181v8.882h-2.343v-13.61h2.891z')
                    path(d='m23.64 109.5q-1.398 0-2.457-0.6047-1.039-0.6236-1.606-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.606-1.758 1.058-0.6236 2.457-0.6236t2.438 0.6236q1.058 0.6047 1.625 1.758 0.5669 1.134 0.5669 2.684 0 0.3024-0.03779 0.7937h-6.784q0.1323 1.115 0.6992 1.72 0.5669 0.6047 1.493 0.6047 1.606 0 2.022-1.398l2.211 0.6614q-0.4535 1.285-1.531 1.984t-2.702 0.6992zm2.173-6.009q-0.1323-0.9827-0.6992-1.568-0.548-0.5858-1.474-0.5858-0.926 0-1.493 0.5858-0.548 0.5858-0.6614 1.568z')
                    path(d='m32.44 109.5q-2.627 0-2.627-2.797v-11.04h2.343v10.7q0 0.5858 0.2079 0.8504 0.2079 0.2457 0.7559 0.2457 0.4158 0 0.7748-0.1512l-0.189 2.003q-0.6047 0.189-1.266 0.189z')
                    path(d='m40.09 109.5q-1.663 0-2.4-1.38h-0.0378l-0.189 1.153h-2.154v-13.61h2.343v4.951h0.0378q0.7559-1.247 2.4-1.247 1.304 0 2.287 0.6236 1.002 0.6047 1.55 1.758 0.5669 1.134 0.5669 2.684t-0.5669 2.702q-0.548 1.134-1.55 1.758-0.9827 0.6047-2.287 0.6047zm-0.189-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306 0-1.455-0.5858-2.306-0.5669-0.8504-1.644-0.8504-1.096 0-1.682 0.8504-0.5669 0.8504-0.5669 2.306t0.5858 2.306 1.663 0.8504z')
                    path(d='m50.66 109.5q-1.398 0-2.438-0.6047-1.02-0.6236-1.587-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.587-1.758 1.039-0.6236 2.438-0.6236t2.438 0.6236q1.039 0.6047 1.606 1.758 0.5669 1.134 0.5669 2.684t-0.5669 2.702q-0.5669 1.134-1.606 1.758-1.039 0.6047-2.438 0.6047zm0-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306 0-1.455-0.5669-2.306-0.5669-0.8504-1.663-0.8504-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306t0.5669 2.306q0.5858 0.8504 1.663 0.8504z')
                    path(d='m60.43 109.5q-1.512 0-2.438-0.8693-0.9071-0.8693-0.9071-2.457v-6.576h2.343v6.161q0 0.8126 0.4913 1.323 0.5102 0.5102 1.304 0.5102 2.098 0 2.098-2.665v-5.329h2.362v9.676h-2.173l-0.189-1.191h-0.0378q-0.4346 0.6992-1.209 1.058-0.7559 0.3591-1.644 0.3591z')
                    path(d='m70.02 101h0.0378q0.378-0.7181 1.058-1.153 0.6992-0.4535 1.72-0.4535 0.5291 0 0.8504 0.07559l-0.3024 2.249q-0.3024-0.0945-0.7937-0.0945-1.228 0-1.852 0.7748-0.6047 0.7748-0.6047 2.116v4.781h-2.343v-9.676h2.06z')
                    path(d='m77.92 100.8h0.03779q0.4535-0.6992 1.209-1.058 0.7748-0.359 1.644-0.359 1.512 0 2.438 0.8693 0.926 0.8693 0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.19 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-9.676h2.173z')
                    path(d='m90.64 109.5q-1.398 0-2.457-0.6047-1.039-0.6236-1.606-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.606-1.758 1.058-0.6236 2.457-0.6236t2.438 0.6236q1.058 0.6047 1.625 1.758 0.5669 1.134 0.5669 2.684 0 0.3024-0.0378 0.7937h-6.784q0.1323 1.115 0.6992 1.72 0.5669 0.6047 1.493 0.6047 1.606 0 2.022-1.398l2.211 0.6614q-0.4535 1.285-1.531 1.984t-2.702 0.6992zm2.173-6.009q-0.1323-0.9827-0.6992-1.568-0.548-0.5858-1.474-0.5858t-1.493 0.5858q-0.548 0.5858-0.6614 1.568z')
                  g(aria-label='Flagstaff')
                    path(d='m235.6 28.11h-6.746v3.534h5.499v2.116h-5.499v5.839h-2.343v-13.61h9.09z')
                    path(d='m239.8 39.83q-2.627 0-2.627-2.797v-11.04h2.343v10.7q0 0.5858 0.2079 0.8504 0.2079 0.2457 0.7559 0.2457 0.4158 0 0.7748-0.1512l-0.189 2.003q-0.6047 0.189-1.266 0.189z')
                    path(d='m245.7 39.83q-1.55 0-2.438-0.7937-0.8693-0.7937-0.8693-2.079 0-1.247 0.8882-2.116 0.9071-0.8693 2.608-1.039l2.608-0.2457v-0.3213q0-0.737-0.4346-1.153-0.4157-0.4158-1.266-0.4158-1.587 0-1.909 1.342l-2.116-0.6992q0.2457-1.247 1.304-1.928 1.077-0.6803 2.721-0.6803 2.041 0 3.042 0.926 1.002 0.926 1.002 2.57v4.044q0 0.4158 0.1512 0.6047 0.1701 0.189 0.5291 0.189 0.189 0 0.5291-0.1134l-0.1701 1.701q-0.5102 0.2079-1.172 0.2079-0.8126 0-1.361-0.4158t-0.7181-1.153h-0.0378q-0.8126 1.568-2.891 1.568zm0.4536-1.965q1.115 0 1.72-0.5858 0.6236-0.6047 0.6236-1.512v-0.548l-2.079 0.2268q-1.644 0.1701-1.644 1.342 0 0.4724 0.378 0.7748 0.378 0.3024 1.002 0.3024z')
                    path(d='m257.8 43.76q-2.116 0-3.288-0.7181t-1.172-2.135q0-0.5858 0.3591-1.096 0.359-0.5102 1.058-0.7748-1.002-0.5858-1.002-1.644 0-0.6047 0.2835-1.02 0.3024-0.4158 0.8693-0.7181-1.096-0.9449-1.096-2.476 0-1.039 0.5102-1.814 0.5102-0.7937 1.417-1.228 0.9071-0.4346 2.06-0.4346 0.9638 0 1.776 0.3213 0.6992-1.455 2.589-1.455l-0.3213 1.701q-0.6803 0.05669-1.134 0.4724 0.5102 0.4535 0.7748 1.077 0.2835 0.6236 0.2835 1.361 0 1.039-0.5102 1.833-0.5102 0.7748-1.417 1.209-0.8882 0.4158-2.041 0.4158-0.737 0-1.455-0.189-0.5291 0.189-0.5291 0.6992 0 0.3402 0.2457 0.5291 0.2646 0.1701 0.6803 0.1701h2.003q1.663 0 2.627 0.6992t0.9638 2.098q0 1.512-1.266 2.306-1.247 0.8126-3.269 0.8126zm0-9.033q0.7181 0 1.172-0.4346 0.4535-0.4346 0.4535-1.134 0-0.6803-0.4724-1.115-0.4535-0.4346-1.153-0.4346-0.7181 0-1.172 0.4346-0.4535 0.4158-0.4535 1.115t0.4535 1.134q0.4536 0.4346 1.172 0.4346zm0 7.087q1.077 0 1.682-0.3213 0.6236-0.3024 0.6236-0.9071 0-0.5858-0.4913-0.7937-0.4724-0.2079-1.38-0.2079h-1.512q-0.5291 0.0378-0.8504 0.3213-0.3024 0.3024-0.3024 0.6803 0 1.228 2.23 1.228z')
                    path(d='m267.6 39.83q-1.55 0-2.665-0.6614-1.115-0.6803-1.455-1.909l2.06-0.7181q0.1512 0.6425 0.7181 1.002 0.5858 0.3402 1.342 0.3402 0.7937 0 1.266-0.2646 0.4724-0.2835 0.4724-0.8504 0-0.3402-0.2646-0.5291-0.2457-0.2079-0.7748-0.3402-0.5102-0.1512-2.003-0.4913-2.57-0.548-2.57-2.759 0-0.8315 0.4535-1.493 0.4724-0.6803 1.342-1.058 0.8882-0.3968 2.079-0.3968 1.455 0 2.457 0.6614 1.02 0.6614 1.323 1.871l-2.06 0.6614q-0.1323-0.5858-0.6047-0.9071-0.4724-0.3402-1.115-0.3402-0.6992 0-1.115 0.2835-0.4158 0.2646-0.4158 0.6992 0 0.3402 0.1512 0.5102 0.1701 0.1701 0.5669 0.3024 0.4158 0.1134 1.493 0.359l0.6047 0.1323q1.38 0.3024 2.079 0.9449 0.6992 0.6236 0.6992 1.89 0 1.436-1.096 2.249-1.077 0.8126-2.967 0.8126z')
                    path(d='m277.8 39.83q-1.587 0-2.457-0.7748-0.8693-0.7748-0.8693-2.116v-5.102h-1.663v-1.72l1.663-0.189v-2.268l2.343-0.6236v2.891h2.778v1.909h-2.778v4.857q0 1.228 1.436 1.228 0.6236 0 1.153-0.2079l0.2835 1.795q-0.737 0.3213-1.89 0.3213z')
                    path(d='m284.4 39.83q-1.55 0-2.438-0.7937-0.8693-0.7937-0.8693-2.079 0-1.247 0.8882-2.116 0.9071-0.8693 2.608-1.039l2.608-0.2457v-0.3213q0-0.737-0.4346-1.153-0.4158-0.4158-1.266-0.4158-1.587 0-1.909 1.342l-2.116-0.6992q0.2457-1.247 1.304-1.928 1.077-0.6803 2.721-0.6803 2.041 0 3.042 0.926t1.002 2.57v4.044q0 0.4158 0.1512 0.6047 0.1701 0.189 0.5291 0.189 0.189 0 0.5291-0.1134l-0.1701 1.701q-0.5102 0.2079-1.172 0.2079-0.8126 0-1.361-0.4158t-0.7181-1.153h-0.0378q-0.8126 1.568-2.891 1.568zm0.4535-1.965q1.115 0 1.72-0.5858 0.6236-0.6047 0.6236-1.512v-0.548l-2.079 0.2268q-1.644 0.1701-1.644 1.342 0 0.4724 0.378 0.7748t1.002 0.3024z')
                    path(d='m291.4 30.12 1.663-0.189v-1.266q0-1.342 0.8693-2.116t2.457-0.7748q1.115 0 1.871 0.3213l-0.2835 1.795q-0.5669-0.2079-1.134-0.2079-1.436 0-1.436 1.228v1.02h2.797v1.909h-2.797v7.767h-2.343v-7.767h-1.663z')
                    path(d='m299.7 30.12 1.663-0.189v-1.266q0-1.342 0.8693-2.116t2.457-0.7748q1.115 0 1.871 0.3213l-0.2835 1.795q-0.5669-0.2079-1.134-0.2079-1.436 0-1.436 1.228v1.02h2.797v1.909h-2.797v7.767h-2.343v-7.767h-1.663z')
                  g(aria-label='MelbourneCentral')
                    path(d='m422.6 17.49h0.0378l3.364-6.935h2.872v13.61h-2.343v-8.882l0.0189-0.7181h-0.0378l-2.967 6.066h-1.852l-3.005-6.066h-0.0378l0.0189 0.7181v8.882h-2.343v-13.61h2.891z')
                    path(d='m435.6 24.39q-1.398 0-2.457-0.6047-1.039-0.6236-1.606-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.606-1.758 1.058-0.6236 2.457-0.6236t2.438 0.6236q1.058 0.6047 1.625 1.758 0.5669 1.134 0.5669 2.684 0 0.3024-0.0378 0.7937h-6.784q0.1323 1.115 0.6992 1.72t1.493 0.6047q1.606 0 2.022-1.398l2.211 0.6614q-0.4535 1.285-1.531 1.984-1.077 0.6992-2.702 0.6992zm2.173-6.009q-0.1323-0.9827-0.6992-1.568-0.548-0.5858-1.474-0.5858t-1.493 0.5858q-0.548 0.5858-0.6614 1.568z')
                    path(d='m444.4 24.39q-2.627 0-2.627-2.797v-11.04h2.343v10.7q0 0.5858 0.2079 0.8504 0.2079 0.2457 0.7559 0.2457 0.4157 0 0.7748-0.1512l-0.189 2.003q-0.6047 0.189-1.266 0.189z')
                    path(d='m452.1 24.39q-1.663 0-2.4-1.38h-0.0378l-0.189 1.153h-2.154v-13.61h2.343v4.951h0.0378q0.7559-1.247 2.4-1.247 1.304 0 2.287 0.6236 1.002 0.6047 1.55 1.758 0.5669 1.134 0.5669 2.684t-0.5669 2.702q-0.548 1.134-1.55 1.758-0.9827 0.6047-2.287 0.6047zm-0.189-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306 0-1.455-0.5858-2.306-0.5669-0.8504-1.644-0.8504-1.096 0-1.682 0.8504-0.5669 0.8504-0.5669 2.306 0 1.455 0.5858 2.306t1.663 0.8504z')
                    path(d='m462.7 24.39q-1.398 0-2.438-0.6047-1.02-0.6236-1.587-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.587-1.758 1.039-0.6236 2.438-0.6236t2.438 0.6236q1.039 0.6047 1.606 1.758 0.5669 1.134 0.5669 2.684t-0.5669 2.702q-0.5669 1.134-1.606 1.758-1.039 0.6047-2.438 0.6047zm0-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306 0-1.455-0.5669-2.306-0.5669-0.8504-1.663-0.8504-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306 0 1.455 0.5669 2.306 0.5858 0.8504 1.663 0.8504z')
                    path(d='m472.4 24.39q-1.512 0-2.438-0.8693-0.9071-0.8693-0.9071-2.457v-6.576h2.343v6.161q0 0.8126 0.4913 1.323 0.5102 0.5102 1.304 0.5102 2.098 0 2.098-2.665v-5.329h2.362v9.676h-2.173l-0.189-1.19h-0.0378q-0.4346 0.6992-1.209 1.058-0.7559 0.359-1.644 0.359z')
                    path(d='m482 15.87h0.0378q0.378-0.7181 1.058-1.153 0.6992-0.4535 1.72-0.4535 0.5291 0 0.8504 0.07559l-0.3024 2.249q-0.3024-0.09449-0.7937-0.09449-1.228 0-1.852 0.7748-0.6047 0.7748-0.6047 2.116v4.781h-2.343v-9.676h2.06z')
                    path(d='m489.9 15.68h0.0378q0.4535-0.6992 1.209-1.058 0.7748-0.359 1.644-0.359 1.512 0 2.438 0.8693 0.926 0.8693 0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.191 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-9.676h2.173z')
                    path(d='m502.6 24.39q-1.398 0-2.457-0.6047-1.039-0.6236-1.606-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.606-1.758 1.058-0.6236 2.457-0.6236t2.438 0.6236q1.058 0.6047 1.625 1.758 0.5669 1.134 0.5669 2.684 0 0.3024-0.0378 0.7937h-6.784q0.1323 1.115 0.6992 1.72 0.5669 0.6047 1.493 0.6047 1.606 0 2.022-1.398l2.211 0.6614q-0.4535 1.285-1.531 1.984-1.077 0.6992-2.702 0.6992zm2.173-6.009q-0.1323-0.9827-0.6992-1.568-0.548-0.5858-1.474-0.5858-0.926 0-1.493 0.5858-0.548 0.5858-0.6614 1.568z')
                    path(d='m422.1 43.41q-2.797 0-4.309-1.871t-1.512-5.159q0-3.288 1.512-5.159 1.512-1.871 4.309-1.871 1.946 0 3.232 0.9071t1.814 2.494l-2.211 0.8504q-0.2646-0.9827-0.9638-1.55-0.6803-0.5858-1.871-0.5858-1.701 0-2.57 1.285-0.8504 1.266-0.8504 3.628t0.8504 3.647q0.8693 1.266 2.57 1.266 1.191 0 1.871-0.5669 0.6992-0.5858 0.9638-1.568l2.211 0.8504q-0.5291 1.587-1.814 2.494t-3.232 0.9071z')
                    path(d='m433.4 43.41q-1.398 0-2.457-0.6047-1.039-0.6236-1.606-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.606-1.758 1.058-0.6236 2.457-0.6236t2.438 0.6236q1.058 0.6047 1.625 1.758 0.5669 1.134 0.5669 2.684 0 0.3024-0.0378 0.7937h-6.784q0.1323 1.115 0.6992 1.72 0.5669 0.6047 1.493 0.6047 1.606 0 2.022-1.398l2.211 0.6614q-0.4535 1.285-1.531 1.984-1.077 0.6992-2.702 0.6992zm2.173-6.009q-0.1323-0.9827-0.6992-1.568-0.548-0.5858-1.474-0.5858t-1.493 0.5858q-0.548 0.5858-0.6614 1.568z')
                    path(d='m442.2 34.69h0.0378q0.4535-0.6992 1.209-1.058 0.7748-0.359 1.644-0.359 1.512 0 2.438 0.8693 0.926 0.8693 0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.191 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-9.676h2.173z')
                    path(d='m454.8 43.41q-1.587 0-2.457-0.7748t-0.8693-2.116v-5.102h-1.663v-1.72l1.663-0.189v-2.268l2.343-0.6236v2.891h2.778v1.909h-2.778v4.857q0 1.228 1.436 1.228 0.6236 0 1.153-0.2079l0.2835 1.795q-0.737 0.3213-1.89 0.3213z')
                    path(d='m460.5 34.88h0.0378q0.378-0.7181 1.058-1.153 0.6992-0.4535 1.72-0.4535 0.5291 0 0.8504 0.07559l-0.3024 2.249q-0.3024-0.09449-0.7937-0.09449-1.228 0-1.852 0.7748-0.6047 0.7748-0.6047 2.116v4.781h-2.343v-9.676h2.06z')
                    path(d='m469 43.41q-1.55 0-2.438-0.7937-0.8693-0.7937-0.8693-2.079 0-1.247 0.8882-2.116 0.9071-0.8693 2.608-1.039l2.608-0.2457v-0.3213q0-0.737-0.4346-1.153-0.4158-0.4158-1.266-0.4158-1.587 0-1.909 1.342l-2.116-0.6992q0.2457-1.247 1.304-1.928 1.077-0.6803 2.721-0.6803 2.041 0 3.042 0.926t1.002 2.57v4.044q0 0.4158 0.1512 0.6047 0.1701 0.189 0.5291 0.189 0.189 0 0.5291-0.1134l-0.1701 1.701q-0.5102 0.2079-1.172 0.2079-0.8126 0-1.361-0.4158-0.548-0.4158-0.7181-1.153h-0.0378q-0.8126 1.568-2.891 1.568zm0.4535-1.965q1.115 0 1.72-0.5858 0.6236-0.6047 0.6236-1.512v-0.548l-2.079 0.2268q-1.644 0.1701-1.644 1.342 0 0.4724 0.378 0.7748t1.002 0.3024z')
                    path(d='m479.2 43.41q-2.627 0-2.627-2.797v-11.04h2.343v10.7q0 0.5858 0.2079 0.8504 0.2079 0.2457 0.7559 0.2457 0.4158 0 0.7748-0.1512l-0.189 2.003q-0.6047 0.189-1.266 0.189z')
                  g(aria-label='Parliament')
                    path(d='m588.1 188.7q2.23 0 3.477 1.172 1.266 1.172 1.266 3.213 0 2.06-1.266 3.232-1.247 1.172-3.477 1.172h-2.721v4.819h-2.343v-13.61zm-0.0756 6.671q1.209 0 1.814-0.5858 0.6047-0.5858 0.6047-1.701 0-1.096-0.6047-1.682-0.6047-0.5858-1.814-0.5858h-2.646v4.554z')
                    path(d='m597.6 202.5q-1.55 0-2.438-0.7937-0.8693-0.7937-0.8693-2.079 0-1.247 0.8882-2.116 0.9071-0.8693 2.608-1.039l2.608-0.2457v-0.3212q0-0.737-0.4346-1.153-0.4157-0.4158-1.266-0.4158-1.587 0-1.909 1.342l-2.116-0.6992q0.2457-1.247 1.304-1.928 1.077-0.6803 2.721-0.6803 2.041 0 3.042 0.926 1.002 0.926 1.002 2.57v4.044q0 0.4157 0.1512 0.6047 0.1701 0.189 0.5291 0.189 0.189 0 0.5291-0.1134l-0.1701 1.701q-0.5102 0.2079-1.172 0.2079-0.8126 0-1.361-0.4158t-0.7181-1.153h-0.0378q-0.8126 1.568-2.891 1.568zm0.4536-1.965q1.115 0 1.72-0.5858 0.6236-0.6047 0.6236-1.512v-0.548l-2.079 0.2268q-1.644 0.1701-1.644 1.342 0 0.4724 0.378 0.7748 0.378 0.3024 1.002 0.3024z')
                    path(d='m607.7 194h0.0378q0.378-0.7181 1.058-1.153 0.6992-0.4536 1.72-0.4536 0.5291 0 0.8504 0.0756l-0.3024 2.249q-0.3024-0.0945-0.7937-0.0945-1.228 0-1.852 0.7748-0.6047 0.7748-0.6047 2.116v4.781h-2.343v-9.676h2.06z')
                    path(d='m615.6 202.5q-2.627 0-2.627-2.797v-11.04h2.343v10.7q0 0.5858 0.2079 0.8504 0.2079 0.2457 0.7559 0.2457 0.4158 0 0.7748-0.1512l-0.189 2.003q-0.6047 0.189-1.266 0.189z')
                    path(d='m619.8 191.1q-0.6425 0-1.039-0.378-0.3968-0.3968-0.3968-1.002 0-0.5858 0.3968-0.9638t1.039-0.378q0.6425 0 1.039 0.378t0.3968 0.9638q0 0.6047-0.3968 1.002-0.3968 0.378-1.039 0.378zm1.172 11.17h-2.343v-9.676h2.343z')
                    path(d='m626.1 202.5q-1.55 0-2.438-0.7937-0.8693-0.7937-0.8693-2.079 0-1.247 0.8882-2.116 0.9071-0.8693 2.608-1.039l2.608-0.2457v-0.3212q0-0.737-0.4346-1.153-0.4157-0.4158-1.266-0.4158-1.587 0-1.909 1.342l-2.116-0.6992q0.2457-1.247 1.304-1.928 1.077-0.6803 2.721-0.6803 2.041 0 3.042 0.926 1.002 0.926 1.002 2.57v4.044q0 0.4157 0.1512 0.6047 0.1701 0.189 0.5291 0.189 0.189 0 0.5291-0.1134l-0.1701 1.701q-0.5102 0.2079-1.172 0.2079-0.8126 0-1.361-0.4158t-0.7181-1.153h-0.0378q-0.8126 1.568-2.891 1.568zm0.4535-1.965q1.115 0 1.72-0.5858 0.6236-0.6047 0.6236-1.512v-0.548l-2.079 0.2268q-1.644 0.1701-1.644 1.342 0 0.4724 0.378 0.7748 0.378 0.3024 1.002 0.3024z')
                    path(d='m636.2 194h0.0378q0.4158-0.8315 1.134-1.209 0.737-0.3968 1.625-0.3968 1.058 0 1.852 0.4536 0.7937 0.4535 1.172 1.323h0.0378q0.3591-0.8315 1.153-1.304t1.833-0.4724q1.493 0 2.419 0.9449 0.926 0.926 0.926 2.646v6.312h-2.343v-6.009q0-0.9638-0.4158-1.493t-1.228-0.5291q-1.096 0-1.568 0.8126-0.4724 0.7937-0.4724 2.06v5.159h-2.343v-6.009q0-0.9638-0.4346-1.493-0.4158-0.5291-1.228-0.5291-1.134 0-1.587 0.8693-0.4536 0.8693-0.4536 2.173v4.989h-2.343v-9.694l2.041 0.0189z')
                    path(d='m654.8 202.5q-1.398 0-2.457-0.6047-1.039-0.6236-1.606-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.606-1.758 1.058-0.6236 2.457-0.6236t2.438 0.6236q1.058 0.6047 1.625 1.758 0.5669 1.134 0.5669 2.684 0 0.3024-0.0378 0.7937h-6.784q0.1323 1.115 0.6992 1.72 0.5669 0.6047 1.493 0.6047 1.606 0 2.022-1.398l2.211 0.6614q-0.4535 1.285-1.531 1.984-1.077 0.6992-2.702 0.6992zm2.173-6.009q-0.1323-0.9827-0.6992-1.568-0.548-0.5858-1.474-0.5858t-1.493 0.5858q-0.548 0.5858-0.6614 1.568z')
                    path(d='m663.6 193.8h0.0378q0.4536-0.6992 1.209-1.058 0.7748-0.3591 1.644-0.3591 1.512 0 2.438 0.8693t0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.191 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-9.676h2.173z')
                    path(d='m676.3 202.5q-1.587 0-2.457-0.7748-0.8693-0.7748-0.8693-2.116v-5.102h-1.663v-1.72l1.663-0.189v-2.268l2.343-0.6236v2.891h2.778v1.909h-2.778v4.857q0 1.228 1.436 1.228 0.6236 0 1.153-0.2079l0.2835 1.795q-0.737 0.3213-1.89 0.3213z')
                  g(aria-label='Richmond')
                    path(d='m601.3 319.9q2.211 0 3.458 1.172 1.266 1.172 1.266 3.213 0 1.531-0.7181 2.589-0.6992 1.058-2.003 1.512l2.759 5.121h-2.665l-2.589-4.819h-2.287v4.819h-2.343v-13.61zm-0.0945 6.671q1.209 0 1.814-0.5858 0.6047-0.5858 0.6047-1.701 0-1.096-0.6047-1.682-0.6047-0.5858-1.814-0.5858h-2.684v4.554z')
                    path(d='m609.3 322.4q-0.6425 0-1.039-0.378-0.3968-0.3968-0.3968-1.002 0-0.5858 0.3968-0.9638t1.039-0.378 1.039 0.378 0.3968 0.9638q0 0.6047-0.3968 1.002-0.3968 0.378-1.039 0.378zm1.172 11.17h-2.343v-9.676h2.343z')
                    path(d='m616.9 333.8q-1.398 0-2.438-0.6047-1.02-0.6236-1.587-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.587-1.758 1.039-0.6236 2.438-0.6236 1.55 0 2.627 0.737 1.077 0.7181 1.436 2.041l-2.154 0.6992q-0.1512-0.7559-0.6614-1.153-0.5102-0.4158-1.247-0.4158-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306 0 1.455 0.5669 2.306 0.5858 0.8504 1.663 0.8504 0.7559 0 1.247-0.3968 0.5102-0.3968 0.6803-1.153l2.154 0.6614q-0.378 1.323-1.455 2.06-1.077 0.737-2.627 0.737z')
                    path(d='m625.1 325.1h0.0378q0.4535-0.6992 1.209-1.058 0.7748-0.3591 1.644-0.3591 1.512 0 2.438 0.8693t0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.191 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-13.61h2.343z')
                    path(d='m635.7 325.2h0.0378q0.4158-0.8315 1.134-1.209 0.737-0.3968 1.625-0.3968 1.058 0 1.852 0.4536 0.7937 0.4535 1.172 1.323h0.0378q0.3591-0.8315 1.153-1.304t1.833-0.4724q1.493 0 2.419 0.9449 0.926 0.926 0.926 2.646v6.312h-2.343v-6.009q0-0.9638-0.4158-1.493t-1.228-0.5291q-1.096 0-1.568 0.8126-0.4724 0.7937-0.4724 2.06v5.159h-2.343v-6.009q0-0.9638-0.4346-1.493-0.4158-0.5291-1.228-0.5291-1.134 0-1.587 0.8693-0.4536 0.8693-0.4536 2.173v4.989h-2.343v-9.694l2.041 0.0189z')
                    path(d='m654.3 333.8q-1.398 0-2.438-0.6047-1.02-0.6236-1.587-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.587-1.758 1.039-0.6236 2.438-0.6236t2.438 0.6236q1.039 0.6047 1.606 1.758 0.5669 1.134 0.5669 2.684t-0.5669 2.702q-0.5669 1.134-1.606 1.758-1.039 0.6047-2.438 0.6047zm0-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306t-0.5669-2.306-1.663-0.8504q-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306 0 1.455 0.5669 2.306 0.5858 0.8504 1.663 0.8504z')
                    path(d='m663.1 325.1h0.0378q0.4535-0.6992 1.209-1.058 0.7748-0.3591 1.644-0.3591 1.512 0 2.438 0.8693 0.926 0.8693 0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.191 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-9.676h2.173z')
                    path(d='m675.6 333.8q-1.304 0-2.306-0.6047-0.9827-0.6236-1.55-1.758-0.548-1.153-0.548-2.702t0.548-2.684q0.5669-1.153 1.55-1.758 1.002-0.6236 2.306-0.6236 0.7937 0 1.398 0.3213 0.6236 0.3024 0.9827 0.926h0.0378v-4.951h2.362v13.61h-2.173l-0.189-1.153h-0.0378q-0.359 0.6992-0.9827 1.039-0.6047 0.3402-1.398 0.3402zm0.189-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306t-0.5669-2.306-1.663-0.8504q-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306 0 1.455 0.5669 2.306 0.5858 0.8504 1.663 0.8504z')
                  g(fill='#fff' stroke-width='1.275' aria-label='Flinders Street')
                    path(d='m282.3 392.3h-8.771v5.036h7.181v2.361h-7.181v7.614h-2.602v-17.35h11.37z')
                    path(d='m287.4 407.6q-3.132 0-3.132-3.349v-14.29h2.602v13.95q0 0.747 0.265 1.084 0.2651 0.3132 0.9638 0.3132 0.5301 0 0.9879-0.1928l-0.241 2.289q-0.7229 0.1928-1.446 0.1928z')
                    path(d='m292.4 392.9q-0.7229 0-1.181-0.4337-0.4578-0.4337-0.4578-1.132 0-0.6747 0.4578-1.108 0.4578-0.4337 1.181-0.4337t1.181 0.4337q0.4578 0.4337 0.4578 1.108 0 0.6988-0.4578 1.132-0.4578 0.4337-1.181 0.4337zm1.301 14.43h-2.602v-12.34h2.602z')
                    path(d='m299.2 396.6h0.0482q0.5783-0.9638 1.542-1.446 0.9879-0.4819 2.145-0.4819 1.952 0 3.132 1.132 1.205 1.108 1.205 3.181v8.313h-2.578v-7.904q0-1.132-0.7229-1.855-0.6988-0.7229-1.807-0.7229-2.964 0-2.964 3.735v6.747h-2.602v-12.34h2.361z')
                    path(d='m315.3 407.6q-1.735 0-3.036-0.7711-1.277-0.7952-1.976-2.241-0.6988-1.47-0.6988-3.446t0.6988-3.422q0.6988-1.47 1.976-2.241 1.301-0.7952 3.036-0.7952 1.012 0 1.831 0.4096 0.8434 0.4096 1.325 1.229h0.0482v-6.361h2.602v17.35h-2.361l-0.241-1.638h-0.0482q-0.4819 0.9879-1.325 1.47-0.8193 0.4578-1.831 0.4578zm0.0482-2.145q1.494 0 2.313-1.157 0.8434-1.181 0.8434-3.157 0-2-0.8193-3.157t-2.337-1.157-2.337 1.157q-0.8193 1.157-0.8193 3.157 0 1.976 0.8193 3.157 0.8434 1.157 2.337 1.157z')
                    path(d='m329.2 407.6q-1.759 0-3.06-0.7711-1.301-0.7952-2-2.241-0.6988-1.47-0.6988-3.446t0.6988-3.422q0.6988-1.47 2-2.241 1.301-0.7952 3.06-0.7952t3.06 0.7952q1.301 0.7711 2 2.241 0.7229 1.446 0.7229 3.422 0 0.3132-0.0482 0.9397h-8.843q0.1928 1.59 0.9879 2.482t2.12 0.8916q2.386 0 2.892-2.096l2.386 0.7229q-0.4819 1.687-1.855 2.602-1.349 0.9156-3.422 0.9156zm3.084-7.494q-0.1687-1.518-0.9638-2.386-0.7952-0.8916-2.12-0.8916-1.301 0-2.096 0.8916-0.7952 0.8674-0.9879 2.386z')
                    path(d='m339.7 397h0.0482q1.084-2.265 3.566-2.265 0.6747 0 1.084 0.0964l-0.3132 2.458q-0.4578-0.1446-1.012-0.1446-1.566 0-2.361 1.084-0.7711 1.084-0.7711 2.988v6.144h-2.602v-12.34h2.12z')
                    path(d='m350.9 407.6q-1.928 0-3.349-0.8675-1.398-0.8674-1.831-2.41l2.169-0.8674q0.2169 0.9638 1.084 1.494 0.8675 0.506 1.928 0.506 1.205 0 1.904-0.4096 0.6988-0.4096 0.6988-1.253 0-0.5301-0.3855-0.8193-0.3614-0.2892-1.132-0.506-0.747-0.2169-2.699-0.6506-3.253-0.7229-3.253-3.494 0-1.036 0.5783-1.855 0.6024-0.8434 1.687-1.301 1.108-0.4819 2.602-0.4819 1.88 0 3.157 0.8434 1.301 0.8434 1.663 2.386l-2.241 0.8193q-0.1928-0.9156-0.9156-1.398-0.6988-0.506-1.663-0.506-1.036 0-1.663 0.4096-0.6024 0.3855-0.6024 1.084 0 0.5301 0.2169 0.7952 0.241 0.265 0.7952 0.4337 0.5542 0.1687 2.096 0.5301l0.7952 0.1687q1.759 0.3855 2.651 1.205 0.9156 0.7952 0.9156 2.337 0 1.783-1.398 2.795t-3.807 1.012z')
                    path(d='m370.3 407.6q-2.482 0-4.144-1.012-1.638-1.036-2.265-2.867l2.289-1.036q0.4096 1.253 1.47 1.928 1.084 0.6506 2.651 0.6506 1.663 0 2.771-0.6988 1.132-0.7229 1.132-2.096 0-0.747-0.4096-1.229-0.3855-0.506-1.325-0.8434-0.9398-0.3614-2.675-0.7229-2.94-0.6024-4.241-1.759-1.277-1.157-1.277-3.108 0-1.518 0.747-2.675 0.747-1.157 2.096-1.807 1.374-0.6506 3.181-0.6506 2.144 0 3.807 1.036 1.687 1.012 2.361 2.795l-2.313 1.012q-0.4337-1.229-1.446-1.855-1.012-0.6506-2.41-0.6506-1.59 0-2.506 0.7229t-0.9156 2.072q0 0.9638 0.8675 1.542 0.8916 0.5542 3.036 1.036 2.386 0.506 3.663 1.132 1.301 0.6265 1.855 1.542t0.5542 2.41q0 1.59-0.8675 2.771-0.8434 1.157-2.337 1.759t-3.349 0.6024z')
                    path(d='m384.3 407.6q-1.904 0-2.964-0.9879-1.06-0.9879-1.06-2.699v-6.795h-2.12v-1.904l2.12-0.241v-2.988l2.602-0.6265v3.614h3.638v2.145h-3.638v6.578q0 1.759 1.928 1.759 0.8675 0 1.47-0.2892l0.3855 2.024q-0.9638 0.4096-2.361 0.4096z')
                    path(d='m391.1 397h0.0482q1.084-2.265 3.566-2.265 0.6747 0 1.084 0.0964l-0.3132 2.458q-0.4578-0.1446-1.012-0.1446-1.566 0-2.361 1.084-0.7711 1.084-0.7711 2.988v6.144h-2.602v-12.34h2.12z')
                    path(d='m402.8 407.6q-1.759 0-3.06-0.7711-1.301-0.7952-2-2.241-0.6988-1.47-0.6988-3.446t0.6988-3.422q0.6988-1.47 2-2.241 1.301-0.7952 3.06-0.7952t3.06 0.7952q1.301 0.7711 2 2.241 0.7229 1.446 0.7229 3.422 0 0.3132-0.0482 0.9397h-8.843q0.1928 1.59 0.9879 2.482t2.12 0.8916q2.386 0 2.892-2.096l2.386 0.7229q-0.4819 1.687-1.855 2.602-1.349 0.9156-3.422 0.9156zm3.084-7.494q-0.1687-1.518-0.9638-2.386-0.7952-0.8916-2.12-0.8916-1.301 0-2.096 0.8916-0.7952 0.8674-0.9879 2.386z')
                    path(d='m416.6 407.6q-1.759 0-3.06-0.7711-1.301-0.7952-2-2.241-0.6988-1.47-0.6988-3.446t0.6988-3.422q0.6988-1.47 2-2.241 1.301-0.7952 3.06-0.7952t3.06 0.7952q1.301 0.7711 2 2.241 0.7229 1.446 0.7229 3.422 0 0.3132-0.0482 0.9397h-8.843q0.1928 1.59 0.9879 2.482t2.12 0.8916q2.386 0 2.892-2.096l2.386 0.7229q-0.4819 1.687-1.855 2.602-1.349 0.9156-3.422 0.9156zm3.084-7.494q-0.1687-1.518-0.9638-2.386-0.7952-0.8916-2.12-0.8916-1.301 0-2.096 0.8916-0.7952 0.8674-0.9879 2.386z')
                    path(d='m430 407.6q-1.904 0-2.964-0.9879-1.06-0.9879-1.06-2.699v-6.795h-2.12v-1.904l2.12-0.241v-2.988l2.602-0.6265v3.614h3.638v2.145h-3.638v6.578q0 1.759 1.928 1.759 0.8675 0 1.47-0.2892l0.3855 2.024q-0.9638 0.4096-2.361 0.4096z')
                  g(aria-label='SouthernCross')
                    path(d='m32.81 193.2q-1.928 0-3.288-0.7937-1.342-0.7937-1.814-2.211l2.135-0.9827q0.2646 0.8882 1.039 1.38 0.7748 0.4913 1.928 0.4913 1.247 0 2.022-0.4913 0.7748-0.5102 0.7748-1.455 0-0.5858-0.3402-0.926-0.3402-0.3591-1.077-0.6047-0.737-0.2646-2.23-0.6236-2.116-0.4724-3.061-1.361-0.926-0.9071-0.926-2.419 0-1.209 0.6047-2.116 0.6047-0.926 1.701-1.436 1.096-0.5102 2.532-0.5102 1.72 0 3.024 0.7937t1.852 2.192l-2.135 0.9449q-0.2835-0.8693-1.02-1.342-0.7181-0.4724-1.72-0.4724-1.153 0-1.814 0.5102-0.6425 0.5102-0.6425 1.436 0 0.5291 0.3024 0.8504 0.3213 0.3213 0.9827 0.5669 0.6803 0.2457 2.003 0.548 1.663 0.378 2.608 0.8882 0.9449 0.4913 1.342 1.228 0.4158 0.7181 0.4158 1.852 0 1.285-0.6992 2.211-0.6803 0.9071-1.871 1.38t-2.627 0.4724z')
                    path(d='m44.36 193.2q-1.398 0-2.438-0.6047-1.02-0.6236-1.587-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.587-1.758 1.039-0.6236 2.438-0.6236t2.438 0.6236q1.039 0.6047 1.606 1.758 0.5669 1.134 0.5669 2.684 0 1.55-0.5669 2.702-0.5669 1.134-1.606 1.758-1.039 0.6047-2.438 0.6047zm0-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306 0-1.455-0.5669-2.306t-1.663-0.8504q-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306 0 1.455 0.5669 2.306 0.5858 0.8504 1.663 0.8504z')
                    path(d='m54.13 193.2q-1.512 0-2.438-0.8693-0.9071-0.8693-0.9071-2.457v-6.576h2.343v6.161q0 0.8126 0.4913 1.323 0.5102 0.5102 1.304 0.5102 2.098 0 2.098-2.665v-5.329h2.362v9.676h-2.173l-0.189-1.191h-0.0378q-0.4346 0.6992-1.209 1.058-0.7559 0.359-1.644 0.359z')
                    path(d='m65.81 193.2q-1.587 0-2.457-0.7748-0.8693-0.7748-0.8693-2.116v-5.102h-1.663v-1.72l1.663-0.189v-2.268l2.343-0.6236v2.891h2.778v1.909h-2.778v4.857q0 1.228 1.436 1.228 0.6236 0 1.153-0.2079l0.2835 1.795q-0.737 0.3213-1.89 0.3213z')
                    path(d='m71.62 184.5h0.03779q0.4535-0.6992 1.209-1.058 0.7748-0.359 1.644-0.359 1.512 0 2.438 0.8693 0.926 0.8693 0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.19 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-13.61h2.343z')
                    path(d='m84.34 193.2q-1.398 0-2.457-0.6047-1.039-0.6236-1.606-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.606-1.758 1.058-0.6236 2.457-0.6236t2.438 0.6236q1.058 0.6047 1.625 1.758 0.5669 1.134 0.5669 2.684 0 0.3024-0.0378 0.7937h-6.784q0.1323 1.115 0.6992 1.72 0.5669 0.6047 1.493 0.6047 1.606 0 2.022-1.398l2.211 0.6614q-0.4535 1.285-1.531 1.984-1.077 0.6992-2.702 0.6992zm2.173-6.009q-0.1323-0.9827-0.6992-1.568-0.548-0.5858-1.474-0.5858-0.926 0-1.493 0.5858-0.548 0.5858-0.6614 1.568z')
                    path(d='m93.03 184.7h0.0378q0.378-0.7181 1.058-1.153 0.6992-0.4535 1.72-0.4535 0.5291 0 0.8504 0.0756l-0.3024 2.249q-0.3024-0.0945-0.7937-0.0945-1.228 0-1.852 0.7748-0.6047 0.7748-0.6047 2.116v4.781h-2.343v-9.676h2.06z')
                    path(d='m100.9 184.5h0.0378q0.4535-0.6992 1.209-1.058 0.7748-0.359 1.644-0.359 1.512 0 2.438 0.8693 0.926 0.8693 0.926 2.457v6.576h-2.362v-6.161q0-0.8126-0.5102-1.323-0.4913-0.5102-1.266-0.5102-1.191 0-1.663 0.7559-0.4535 0.7559-0.4535 1.909v5.329h-2.343v-9.676h2.173z')
                    path(d='m64.53 212.2q-2.797 0-4.309-1.871-1.512-1.871-1.512-5.159t1.512-5.159 4.309-1.871q1.946 0 3.232 0.9071 1.285 0.9071 1.814 2.494l-2.211 0.8504q-0.2646-0.9827-0.9638-1.55-0.6803-0.5858-1.871-0.5858-1.701 0-2.57 1.285-0.8504 1.266-0.8504 3.628t0.8504 3.647q0.8693 1.266 2.57 1.266 1.19 0 1.871-0.5669 0.6992-0.5858 0.9638-1.568l2.211 0.8504q-0.5291 1.587-1.814 2.494-1.285 0.9071-3.232 0.9071z')
                    path(d='m73.58 203.7h0.0378q0.378-0.7181 1.058-1.153 0.6992-0.4535 1.72-0.4535 0.5291 0 0.8504 0.0756l-0.3024 2.249q-0.3024-0.0945-0.7937-0.0945-1.228 0-1.852 0.7748-0.6047 0.7748-0.6047 2.116v4.781h-2.343v-9.676h2.06z')
                    path(d='m83.3 212.2q-1.398 0-2.438-0.6047-1.02-0.6236-1.587-1.758-0.5669-1.153-0.5669-2.702t0.5669-2.684q0.5669-1.153 1.587-1.758 1.039-0.6236 2.438-0.6236t2.438 0.6236q1.039 0.6047 1.606 1.758 0.5669 1.134 0.5669 2.684t-0.5669 2.702q-0.5669 1.134-1.606 1.758-1.039 0.6047-2.438 0.6047zm0-1.909q1.077 0 1.644-0.8504 0.5858-0.8504 0.5858-2.306t-0.5669-2.306-1.663-0.8504q-1.077 0-1.663 0.8504-0.5669 0.8504-0.5669 2.306 0 1.455 0.5669 2.306 0.5858 0.8504 1.663 0.8504z')
                    path(d='m93.42 212.2q-1.55 0-2.665-0.6614-1.115-0.6803-1.455-1.909l2.06-0.7181q0.1512 0.6425 0.7181 1.002 0.5858 0.3402 1.342 0.3402 0.7937 0 1.266-0.2646 0.4724-0.2835 0.4724-0.8504 0-0.3402-0.2646-0.5291-0.2457-0.2079-0.7748-0.3402-0.5102-0.1512-2.003-0.4913-2.57-0.548-2.57-2.759 0-0.8315 0.4535-1.493 0.4724-0.6803 1.342-1.058 0.8882-0.3968 2.079-0.3968 1.455 0 2.457 0.6614 1.02 0.6614 1.323 1.871l-2.06 0.6614q-0.1323-0.5858-0.6047-0.9071-0.4724-0.3402-1.115-0.3402-0.6992 0-1.115 0.2835-0.4158 0.2646-0.4158 0.6992 0 0.3402 0.1512 0.5102 0.1701 0.1701 0.5669 0.3024 0.4158 0.1134 1.493 0.359l0.6047 0.1323q1.38 0.3024 2.079 0.9449 0.6992 0.6236 0.6992 1.89 0 1.436-1.096 2.249-1.077 0.8126-2.967 0.8126z')
                    path(d='m103.2 212.2q-1.55 0-2.665-0.6614-1.115-0.6803-1.455-1.909l2.06-0.7181q0.1512 0.6425 0.7181 1.002 0.5858 0.3402 1.342 0.3402 0.7937 0 1.266-0.2646 0.4724-0.2835 0.4724-0.8504 0-0.3402-0.2646-0.5291-0.2457-0.2079-0.7748-0.3402-0.5102-0.1512-2.003-0.4913-2.57-0.548-2.57-2.759 0-0.8315 0.4535-1.493 0.4724-0.6803 1.342-1.058 0.8882-0.3968 2.079-0.3968 1.455 0 2.457 0.6614 1.02 0.6614 1.323 1.871l-2.06 0.6614q-0.1323-0.5858-0.6047-0.9071-0.4724-0.3402-1.115-0.3402-0.6992 0-1.115 0.2835-0.4158 0.2646-0.4158 0.6992 0 0.3402 0.1512 0.5102 0.1701 0.1701 0.5669 0.3024 0.4158 0.1134 1.493 0.359l0.6047 0.1323q1.38 0.3024 2.079 0.9449 0.6992 0.6236 0.6992 1.89 0 1.436-1.096 2.249-1.077 0.8126-2.967 0.8126z')
                g(fill='#fff')
                  path#A-FSS-CCL-NME(d='m35.84 28.87v0.25l-2.886 0.01091 8.87e-4 0.2217 2.885-0.01091v0.2539l0.4162-0.3771z')
                  path#A-FSS-SSS-NME(d='m27.23 28.86v0.25l2.886 0.01091-8.87e-4 0.2217-2.885-0.01091v0.2539l-0.4162-0.3771z')
                  path#A-FSS-CCL-PAR(d='m27.23 26.98v0.25l2.886 0.01091-8.87e-4 0.2217-2.885-0.01091v0.2539l-0.4162-0.3771z')
                  path#A-FSS-RMD(d='m35.84 30.99v0.25l-2.886 0.01091 8.67e-4 0.2217 2.885-0.01091v0.2539l0.4162-0.3771z')

          div.clockContainer
            div.clock
              span=now.format('h:mm:ss a')
