html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/metro-lcd/half-platform-bold.js' async)
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/mini-pids-base.css')
    link(rel='stylesheet' href='/static/css/mockups/metro-lcd/half-platform-bold.css')
      
    link(rel='preload' as='style' href='/static/css/mockups/base-style.css')
    link(rel='preload' as='style' href='/static/css/mockups/mini-pids-base.css')
    link(rel='preload' href='/static/images/mockups/announcements.svg' as='image')

    meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, height=device-height')
  body
    div.content
      div(style='display: none;').fullMessage
        img(src='/static/images/mockups/announcements.svg')
        p Please Listen for Announcements
      div(style='display: block;').nextDepartures
        div.message(style='display: flex;')
          p Checking departures
          p Please wait...
        div(style='display: none;').firstDeparture
          div.topRow
            div.burnLine.reset
            p.firstDestination --
            div.firstDepartureInfo
              div.scheduled
                p Scheduled
                p --
              div.actual
                p Departing
                div
                  span --
                  span min
          div.middleRow
            p.serviceMessage Stand Clear Train Departing
            p.stoppingType --
            p(style='opacity: 0;' data-text='--').stoppingPattern --
        div.whiteLine
        div.bottomRow
          span --
          span --
          span --
          div
            span --
            span min
            
          div.timeNow
           span=now.format('h:mm')
          
