html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/reload-suburban-16-9-list.js' async)
    script(src='/static/scripts/mockups/pids-utils.js') 
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/metro-lcd-pids/metro-16-9-suburban-list.css')
    link(rel='stylesheet' href='/static/css/mockups/16-9-pids-base.css')
      
    link(rel='preload' as='image' href='/static/images/mockups/announcements.svg')
    link(rel='preload' as='image' href='/static/images/mockups/no-boarding-train.svg')
  body
    div.content
      div(style='display: none;').fullMessage
        img(src='/static/images/mockups/announcements.svg')
        p Please Listen
        p for Announcements
      div(style='display: flex;').message
        p.large Checking departures
        p.large Please wait...
      div(style='display: none;').nextDeparture
        div.burnLine
        div.departureInfo
          span.firstDestination Mitcham
          div.scheduledDiv
            span Scheduled
            span 12:34
          div.actualDiv
            span Departing
            div
              span 56
              span min
        div.hozWhiteLine
        div.serviceMessage
          
        div.stops
      div(style='display: block;').followingDepartures  
        div.followingDeparture
          span.scheduled --
          span.destination --
          span.stoppingType
          span.actual --
          span.min min 
        div.followingDeparture
          span.scheduled --
          span.destination --
          span.stoppingType
          span.actual --
          span.min min
