html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/reload-metro-lcd-list-pids.js' async) 
    script(src='/static/scripts/mockups/pids-utils.js') 
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/mini-pids-base.css')
    link(rel='stylesheet' href='/static/css/mockups/metro-lcd-pids/metro-lcd-list-pids.css')
      
    link(rel='preload' href='/static/images/mockups/announcements.svg' as='image')
    link(rel='preload' href='/static/fonts/NetworkSans-Regular.svg' as='font')
    link(rel='preload' href='/static/fonts/NetworkSans-Medium.ttf' as='font')
    link(rel='preload' href='/static/fonts/NetworkSans-Bold.svg' as='font')
      
    meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, height=device-height')
  body
    -
      function formatTime(time) {
        let hours = time.getHours()
        let minutes = time.getMinutes()
        let mainTime = ''

        mainTime += (hours % 12) || 12
        mainTime += ':'
        if (minutes < 10) mainTime += '0'
        mainTime += minutes

        return mainTime
      }
    div.content
      div(style='display: none;').fullMessage
        img(src='/static/images/mockups/announcements.svg')
        p Please Listen for Announcements
      div(style='display: block;').left
        div(style='display: flex;').message
          p Checking departures
          p Please wait...
        div(style='display: none;').nextDeparture
          div.burnLine.reset
          div.departureInfo
            span.firstDestination --
            div.scheduledDiv
              span Scheduled
              span --
            div.actualDiv
              span Departing
              div
                span --
                span min
          div.hozWhiteLine
          div.serviceMessage
            
          div.stops
      div(style='display: block;').right
        div.headers
          span.scheduled Schedule
          span.destination Train To
          span.actual Departing
        div.followingDeparture
          div
            span.scheduled --
            span.destination --
            span.actual --
            span.min min
          span.stoppingType 
        div.followingDeparture
          div
            span.scheduled --
            span.destination --
            span.actual --
            span.min min
          span.stoppingType
        div.followingDeparture
          div
            span.scheduled --
            span.destination --
            span.actual --
            span.min min
          span.stoppingType
        div.time
          div.timeContainer
            span=formatTime(new Date())
          
